{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .code-editor {
            border: 1px solid #d4d4d5;
            width: 98%;
        }

        #code {
            width: 100%;
            word-break: break-word;
        }

    </style>


    <div class="ui secondary pointing menu">
        <a class="active item">
        Home
        </a>
        <a class="item">
        Messages
        </a>
        <a class="item">
        Friends
        </a>
        <div class="right menu">
            <a class="ui item">
                Logout
            </a>
        </div>
    </div>

    <div class="ui grid container">

        <div class="nine wide column" >
            <!-- TODO: get IDE -->
            <div class="code-editor">
                <textarea id="code"></textarea>
            </div>

        </div>

        <div class="seven wide column">
            <!-- <h1>Hello</h1> -->
        </div>

    </div>


    <script>


        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            theme: "default",
            scrollbarStyle: "null",
            lineWrapping: true,
        });
        editor.setSize(600, 700);

    </script>

{% endblock %}
