project_env
__pycache__
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
gpt_project_env
ngrok
media/documents
companion-venv
text_files
experimentation/new_knowledge_base/stanford
*.pkl
*.index
companion_experimentation_venv
experimentation/new_knowledge_base/wiki
experimentation_scripts
local_experimentation_scripts
