{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'landing_navbar.html' %}

<!-- <a class="github-fork-ribbon" href="https://url.to-your.repo" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->

<section class="animate__animated animate__fadeInUp" id="first_parent_section">

    <div class="ui grid middle aligned landing-parent-grid">
        
        <div class="row">
            <div class="column">
                <div class="ui grid container">

                    <div id="first_landing_column" class="eight wide column">

                        <h1 id="landing_header" class="ui header">
                            <!-- Your Personal Tutor. 100% Free. -->
                            Your Personal <span id="landing-text">Tutor</span>.
                        </h1>
                        <p id="landing_helper_text">
                            Learn Computer Science Concepts with an AI Tutor.
                        </p>
                        <!-- <p id="landing_page_description">
                            Code Companion is an AI-based programming tutor, offering real-time help or feedback.
                            You can ask Code Companion questions on your own programming challenges, ie. LeetCode problems, 
                            or work through our <a>curated Python exercises</a> which are designed 
                            to help you learn or hone your skills. 100% Free. 
                            <span style="font-size: 17px;">&#127922;</span>
                        </p> -->

                        <p id="landing_page_description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem tellus, convallis sit amet ornare sit amet, auctor egestas massa.
                            Donec sodales urna ac velit aliquet posuere et quis orci. Nullam euismod felis eget felis pellentesque, accumsan condimentum nisi faucibus.
                        </p>

                        <div id="landing_page_button_div">

                            <div class="ui animated secondary large basic button playground_button" tabindex="0">
                                <div class="visible content">
                                    Try it in our Online Editor &#128221;
                                </div>
                                <div class="hidden content">
                                    <i class="code icon"></i>
                                </div>
                            </div>
                            
                            &nbsp;&nbsp;
            
                            <div class="ui animated secondary large black button python_course_button" tabindex="0" >
                                <div class="visible content">
                                    Learn Python with an AI Tutor &#129302;
                                </div>
                                <div class="hidden content">
                                    <i class="hand point right outline icon"></i>
                                </div>
                            </div>
                            
                        </div> 

                    </div>

                    <div class="one wide column"></div>

                    <div id="second_landing_column" class="seven wide column">
                        <div>
                            <iframe width="110%" height="360" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe>
                        </div>        
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


<!-- <section class="animate__animated animate__fadeInUp" id="first_parent_section">

    <div class="ui grid container">
        
        <div id="first_landing_column" class="eight wide column">

            <h1 id="landing_header" class="ui header">
                Your Personal Tutor. 100% Free.
            </h1>

            <p id="landing_helper_text">
                Learn Computer Science Concepts with an AI Tutor.
            </p>

            <p id="landing_page_description">
                Code Companion is a GPT-4 based programming tutor, offering real-time help or feedback.
                You can ask Code Companion questions on your own programming challenges, ie. LeetCode problems, 
                or work through our <a>curated Python exercises</a> which are designed 
                to help you learn or hone your skills. 100% Free. 
                <span style="font-size: 17px;">&#127922;</span>
            </p>

            <div id="landing_page_button_div">

                <div class="ui animated secondary large basic button playground_button" tabindex="0">
                    <div class="visible content">
                        Try it in our Online Editor &#128221;
                    </div>
                    <div class="hidden content">
                        <i class="code icon"></i>
                    </div>
                </div>
                
                &nbsp;&nbsp;

                <div class="ui animated secondary large black button python_course_button" tabindex="0" >
                    <div class="visible content">
                        Learn Python with an AI Tutor &#129302;
                    </div>
                    <div class="hidden content">
                        <i class="hand point right outline icon"></i>
                    </div>
                </div>
                
            </div> 

        </div>

        
        <div id="second_landing_column" class="eight wide column">

            <div >
                <iframe width="95%" height="350" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe>
            </div>        

        </div>
    
    </div>


</section> -->


{% endblock %}

