option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: gpt_learning_assistant.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static

container_commands:    
    00_update_pip:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip install --upgrade pip"
