option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: gpt_learning_assistant.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static

container_commands:    
    00_update_pip:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip install --upgrade pip"
    01_collectstatic:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
    02_sudo_celery:
        command: "sudo chmod +x .platform/hooks/postdeploy/100_celery_start.sh"
    03_celery_start:
        command: "source .platform/hooks/postdeploy/100_celery_start.sh"
        leader_only: true
