<div class="ui secondary pointing menu app-secondary-left-top-menu" style="border-bottom: 1px solid rgba(34, 36, 38, .15);">
    <a class="item" style="font-size: 18px;" href="{% url 'landing' %}">
        <strong>
            Companion    
        </strong>
    </a>
    <div class="right menu">
        <a class="disabled item">
            Dashboard
        </a>
        <a class="item" href="{% url 'playground' %}">
            IDE
        </a>
        <a class="item" href="{% url 'general_cs_tutor' %}">
            Chat
        </a>
        <a class="ui item">
            Signup / Login
        </a>
    </div>
</div>
