{% extends 'components/base.html' %}
{% load static %}

{% block content %}

{% include 'components/landing_navbar.html' %}

<section class="blog-parent-section">

    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column blog-column-parent">

            <h3 class="ui header blog-header">
                V1 Release
                <span style="color: gray; font-size: 12.5px;">
                    April, 23, 2024
                </span>
            </h3>
            
            <div class="ui basic segment">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tortor massa, vestibulum ut dolor eget, vestibulum porta velit. Phasellus risus lectus, luctus hendrerit suscipit interdum, cursus id enim. Suspendisse semper metus at odio interdum, eget scelerisque enim hendrerit. Pellentesque eget lectus nec lacus commodo congue at suscipit tortor. Nullam id hendrerit sapien. Nam nec posuere urna. Aenean egestas pellentesque magna eget varius. Fusce hendrerit viverra auctor. Maecenas posuere tortor et velit sodales dapibus. Cras orci nulla, imperdiet eu pulvinar id, ullamcorper quis velit.
                    <br/><br/>

                    Pellentesque sit amet augue sem. Sed scelerisque maximus urna, et laoreet neque luctus a. Fusce efficitur, libero at tincidunt tempus, nisl ex vehicula ligula, eu placerat augue ipsum et metus. Ut sagittis, dolor eu posuere feugiat, ligula nisl sagittis neque, in ultricies turpis augue vel velit. Donec neque turpis, blandit non porttitor ut, euismod quis justo. Duis blandit nunc sit amet tincidunt ornare. Nulla sagittis metus sit amet tellus feugiat, porttitor consectetur orci placerat. Proin arcu nisi, sodales vitae augue sed, accumsan aliquet urna. Quisque lectus leo, sollicitudin id lectus at, accumsan cursus libero. Vivamus luctus scelerisque tincidunt.
                    <br/><br/>
                    
                    Curabitur dapibus odio nulla, eget hendrerit est dignissim vitae. Praesent mi orci, sagittis vel est non, condimentum mattis lorem. Ut eu ligula tortor. Sed vitae elementum orci. Fusce placerat dolor sit amet mauris condimentum congue. In in lorem feugiat, hendrerit lacus eu, pulvinar velit. Morbi est urna, varius vitae consectetur non, consequat non nisi. Suspendisse quis eleifend urna. Aliquam consequat tincidunt justo, eget aliquam tortor rutrum sed. Pellentesque vulputate justo in leo fermentum, ut varius odio mattis. Vivamus sit amet justo sed lacus pharetra finibus. Aliquam elementum eget elit eget mattis. Nullam tristique orci dictum odio pharetra, et vehicula magna tempor. Praesent sit amet laoreet orci. Ut odio tellus, dignissim non arcu in, bibendum sagittis augue.
                    <br/><br/>
                    
                    Suspendisse tempor sed turpis et mattis. Aenean dictum lectus id tortor aliquam, vitae porta sapien volutpat. In est sapien, blandit vel cursus a, malesuada ut quam. Mauris hendrerit sollicitudin iaculis. Mauris consequat lacus in ornare sollicitudin. Nam nec dolor non tellus sodales hendrerit. Morbi porta, quam vitae accumsan faucibus, felis risus dapibus metus, at convallis neque nisi ac velit.
                    <br/><br/>
                    
                </p>
            </div>

        </div>

        <div class="two wide column"></div>

    </div>

</section>


<script>

    document.body.style.background = "radial-gradient(ellipse at top left, #a6fcf8 -10%, #f9f9f9 35%)";

</script>

{% endblock %}
