.app-secondary-top-menu{
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.15) !important; */
    /* border-bottom: 2px solid rgb(214, 214, 214) !important; */
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}

/* TODO: start here by adjusting the font-size, etc. */
.app-navbar-logo{
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
}
