body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient( to top right, #f9f9f9 0%, #f9f9f9 83%, #edfaff 83%, #b9e8fa 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}