.parent-landing-grid{
    padding-top: 3% !important;
}

.landing-first-column{
    text-align: center !important;
}

.landing-header{
    color: #fafafa !important;
    /* color: rgb(51, 51, 51) !important; */
    font-size: 48px !important;
    font-family: Inter, sans-serif !important;
    font-weight: 600 !important;
    /* letter-spacing: 2px !important; */
}