.github-fork-ribbon:before{
    background-color: #333 !important;
}

#landing_header{
    font-size: 31px;
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

#landing-text {
    /* font-size: 36px; */
    /* color: #333; */
    
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(to right, #9966CC, #20B2AA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    letter-spacing: 0.7px;
}

#landing_helper_text{
    font-family: "Raleway", sans-serif;
    font-weight: 500; 
    font-size: 22px; 
    padding-top: 6px; 
    /* line-height: 1.9em; */
    color: #36454F;
}


.landing_helper_list li::before {
    content: "💎 " !important;
    font-size: 19px;
}

.landing_helper_list li{
    list-style-position: outside !important;
    font-size: 16px;
    /* font-family: "Raleway", sans-serif; */
    /* color: gray; */
    margin: 8px 0;
    color: #707070;
    /* color: gray; */
}

#landing_second_helper_text{
    font-size: 15px;
    color: #36454F;
    font-family: "Raleway", sans-serif;
    font-weight: 500; 
}

#landing_page_description{
    /* color: #36454F; */
    color: gray;
    font-size: 17px;
    line-height: 1.8em;
}

/* #landing_page_button_div{
    margin-top: 30px;
} */

/* #landing_video_iframe{
    width: 100%;
    height: 350px;
} */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    /* color: white; */
    color: black;
    text-align: center;
    padding: 10px 0;
}

footer>p{
    font-size: 15px;
}


@media only screen and (min-width: 1200px){

    .landing-parent-grid{
        display: block !important;
        height: 77vh !important;
        width: 100% !important;
    }

    #landing_parent_container{
        display: block !important;
        margin-top: 4.5%;
    }

    #first_landing_column{
        margin-left: -2rem !important;
    }

    #second_landing_column{
        margin-top: 2%;
        padding-left: 60px;
    }

    #landing_video_iframe{
        width: 110%;
        height: 370px;
    }
    
    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    }
    
    #btn_first_column{
        width: 55%;
    }

    #btn_second_column{
        width: 45%;
        padding-left: 0px;
    }

    #landing_page_button_div{
        padding-top: 10px;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1199px){

    .landing-parent-grid{
        display: block !important;
    }

    #landing_parent_container{
        display: block !important;
    }

    #landing_video_iframe{
        width: 105%;
        height: 320px;
    }

    #first_landing_column{
        margin-left: -2rem !important;
        padding-left: 40px;
        margin-top: 20px;
    }

    #second_landing_column{
        padding-left: 30px;
        margin-top: 11%;
        /* margin-top: 120px !important; */
    }
    
    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    }

    #mobile_first_landing_column{
        display: none;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px){

    .landing-parent-grid{
        display: block !important;
    }

    .small-mobile-landing-parent{
        display: none;
    }

    #landing_parent_container{
        display: none;
    }

    #mobile_container_grid{
        display: block !important;
        padding-top: 10px;
    }

    #mobile_first_landing_column{
        display: block !important;
        width: 100%;
        padding-left: 100px;
        text-align: center;
    }

    #mobile_second_landing_column{
        width: 100%;
        text-align: center;
    }

    #landing_video_iframe{
        width: 100%;
        height: 500px;
        margin-left: 5%;
        /* width: 100%;
        height: 320px; */
    }

    #landing_page_button_div{
        padding-top: 15px;
    }

    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    }

    footer{
        display: none;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px){

    #landing-parent-grid{
        display: none;
    }

    #landing_parent_container{
        display: none;
    }

    #mobile_container_grid{
        display: block !important;
        padding-top: 10px;
    }

    #mobile_first_landing_column{
        display: block !important;
        /* width: 200%; */
        /* padding-left: 100px; */
        text-align: center;
    }

    #mobile_second_landing_column{
        width: 100%;
        text-align: center;
    }

    #landing_video_iframe{
        width: 100%;
        height: 500px;
        margin-left: 5%;
    }

    #landing_page_button_div{
        padding-top: 15px;
    }

    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    }

    footer{
        display: none;
    }

}

@media only screen and (max-width: 575px){
    
    .landing-navbar-parent{
        display: none !important;
    }

    #landing-parent-grid{
        display: none;
    }

    #landing_parent_container{
        display: none;
    }

    footer{
        display: none;
    }

    .small-mobile-landing-parent{
        display: block !important;
    }

    /* #small_mobile_container_grid{
        margin-left: 90px;
        margin-top: 80px;
        text-align: center;
    }

    #landing_video_iframe{
        height: 400px;
    } */

    /* #test_mobile_container_grid{
        display: block;
        width: 100%;
    } */

    /* #mobile_container_grid{
        display: block !important;
        padding-top: 10px;
    }

    #mobile_first_landing_column{
        display: block !important;
        width: 100%;
        padding-left: 100px;
        text-align: center;
    }

    #mobile_second_landing_column{
        width: 100%;
        text-align: center;
    }

    #landing_video_iframe{
        width: 100%;
        height: 500px;
        margin-left: 5%;
    }

    #landing_page_button_div{
        padding-top: 15px;
    }

    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    } */

}

















    /* #mobile_first_landing_column{
        display: block !important;
        width: 100%;
        padding-left: 110px;
    }

    #mobile_second_landing_column{
        display: block !important;
        width: 100%;
    } */

    /* #first_landing_column{ */
        /* width: 100%; */
        /* padding-left: 45px; */
        /* width: 110%; */
        /* margin-top: 20px; */
    /* } */

    /* #landing_video_iframe{
        width: 130%;
        height: 320px;
    } */

    /* #second_landing_column{
        margin-top: 100px !important;
    }

    #landing_page_button_div{
        padding-top: 20px !important;
    }

    .playground_button, .tutor_chat_button{
        border-radius: 25px !important;
        font-size: 17.5px !important;
    } */

    /* #landing_video_iframe{
        width: 105%;
        height: 320px;
    }

    #second_landing_column{
        margin-top: 120px !important;
    }

    #first_landing_column{
        padding-left: 40px;
        margin-top: 20px;
    } */




/* Apply styles when width is between 768px and 1023px */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
    
} */



/* @media only screen and (max-width: 767px) {

    #first_landing_column, #second_landing_column {
        width: 100% !important;
    }

}

@media only screen and (max-width: 1024px) {
    
    #first_landing_column {
        padding-left: 40px;
    }

    #landing_video_iframe{
        width: 50%;
        height: 40%;
    }
    
} */


/* @media only screen and (max-width: 1440px) {

    #landing_video_iframe{
        width: 100%;
        height: 350px;
    }

} */




/* .landing-parent-grid {
    height: 77vh;
    width: 100%;
} */

/* #first_landing_column{
    margin-left: -2rem !important;
} */

/* #second_landing_column{
    margin-top: 3%;
    margin-left: 20px;
} */






/* #landing_header{
    font-size: 31px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
} */

/* #landing-text {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(to right, #9966CC, #20B2AA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    letter-spacing: 0.7px;
} */

/* #landing_helper_text{
    font-family: "Raleway", sans-serif;
    font-weight: 500; 
    font-size: 22px; 
    padding-top: 6px; 
    color: #36454F;
} */

/* .landing_helper_list li::before {
    content: "💎 " !important;
    font-size: 19px;
}

.landing_helper_list li{
    list-style-position: outside !important;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin: 8px 0;
    color: #707070;
} */

/* #landing_second_helper_text{
    font-size: 15px;
    color: #36454F;
    font-family: "Raleway", sans-serif;
    font-weight: 500; 
}

#landing_page_description{
    color: gray;
    font-size: 17px;
    line-height: 1.8em;
} */

/* #landing_page_button_div{
    margin-top: 30px;
} */

/* #landing_video_iframe{
    width: 100%;
    height: 350px;
} */

/* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px 0;
} */

/* footer>p{
    font-size: 15px;
} */

/* .playground_button, .tutor_chat_button{
    border-radius: 25px !important;
    font-size: 17.5px !important;
} */














/* #first_landing_column{
    width: 100%; 
    margin-top: 10%;
}

#landing_header{
    font-size: 28px; 
    font-family: 'Raleway', sans-serif; 
}

#landing_helper_text{
    font-weight: 500; 
    font-size: 21px; 
    font-family: 'Raleway', sans-serif; 
    padding-top: 6px; 
    line-height: 1.9em;
    color: #36454F;
}

#landing_page_description{
    color: #36454F;
    font-size: 15.5px;
    line-height: 1.75em;
}

#landing_page_button_div{
    margin-top: 30px;
}

#second_landing_column{

    margin-top: 9%;
} */

/* #course-section{
    padding-left: 12em;
    padding-right: 12em;
    padding-top: 4em;
    padding-bottom: 2em;
}

#email-subscription-section{
    padding-left: 12em;
    padding-right: 12em;
    padding-top: 3em;
    padding-bottom: 2em;
}

#landing_course_description{
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 15.5px;
    color: #36454F;
    line-height: 1.8em;
}

#vertical_section_header{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

#demo_link{
    font-size: 15px;
    color: #5865f2;
}

#course_accordion{
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: #f9f9f9;
} */

/* #first_parent_section{
    background: linear-gradient(to bottom left, #ffffff, #e1f8ff);
} */

/* #second_parent_section{
    background: linear-gradient(to bottom left, #ffffff, #e1f8ff);
} */


/* #third_parent_section{
    margin-top: 20px;
    margin-bottom: 40px;
}

#main_teacher_input_div{
    margin-top: 15px;
    margin-right: 30px;
    text-align: left;
    width: 100%;
}

#main_teacher_input_div input{
    background-color: #f9f9f9;
    border-color: black;
} */

/* #email_subscribe_header{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top: 10px;
    color: #36454F;
} */

/* #teacher_email_button{
    margin-left: 10px;
} */




    /* background-image: linear-gradient(to right, #ff4e50, #f9d423) !important; */

/* .gradient-button {
    background-image: linear-gradient(to right, #9966CC, #20B2AA) !important;
    color: white !important;
    border: none !important;
    border-radius: 25px !important;
    padding: 12px 24px !important;
    font-size: 16px !important;
    transition: all 0.3s ease !important;
}
  
.gradient-button:hover {
    opacity: 0.9 !important;
    transform: scale(1.05) !important;
} */

/* .playground_button, .tutor_chat_button{
    border-radius: 25px !important;
    font-size: 17.5px !important;
}
 */
