/* .navbar-logo{
    font-size: 24.5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
} */

.landing-navbar-parent{
    /* margin-top: 1% !important; */
    margin: 0;
    padding: 0;
    /* style="padding-left: 110px; margin-top: 0.5%;" */
    /* padding-left: 90px; */
    padding-left: 7%;
    margin-top: 0.5% !important;
}

.navbar-logo{
    color: black; 
    padding-left: 10px; 
    font-size: 28px; 
    font-family: 'Raleway', sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.5px;
}

.navbar-logo:hover{
    cursor: pointer;
}

.nav-links-parent{
    margin-right: 0%;
    padding-right: 100px;
    /* style="padding-right: 130px;" */
}

/* #landing_parent_div .item{ */
.nav-links-parent .item{
    /* color: #000000; */
    /* background: #000000; */
    color: #000000;
}

/* #landing_parent_div .item:hover{ */
/* .nav-links-parent .item:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
} */

.nav-links-parent a{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 15px;
    color: black;
}

/* .nav-links-parent a:hover{
    color: lightblue;
} */

/* .right.menu a{
    font-family: 'Raleway', sans-serif;
    font-size: 14.5px;
    color: black;
}

.right.menu a:hover{
    color: lightblue;
} */


#dashboard_email{
    font-family: 'Raleway', sans-serif;
    color: black;
}

#dashboard_email:hover{
    color: lightblue;
}

.footer.segment{
    background-color: black; 
    color: white;
    display: flex;
    justify-content: center;
}

#primary_footer_list .item{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#primary_footer_list .item:hover{
    color: black;
    transform: scale(1.1);
    transition: all ease 500ms;
}

/* .item.navbar-logo:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
} */
