.landing-navbar-parent{
    /* padding: 0px !important;
    margin: 0px !important; */
    padding-top: 1%;
}

.landing-navbar-logo>span:hover{
    cursor: pointer;
}

.landing-navbar-logo>span{
    color: black; 
    /* padding-left: 10px;  */
    
    /* font-family: 'Raleway', sans-serif;  */
    font-size: 26.5px; 
    font-weight: 400; 
    letter-spacing: 0.5px;
}

.landing-navbar-links-div{
    margin-right: 0%;
}

.landing-navbar-links-div .item{
    font-size: 15px;
}

.landing-navbar-button{
    /* padding-left: 12px; */
}

/* font-size: 12px; */
