/* #code-column{
    padding-top: 15px;
    padding-left: 0px;
} */

.code-editor {
    border: 1px solid #d4d4d5;
    width: 100%;
    /* height: 100%; */
    /* padding-top: 0px;
    margin-top: 0px; */
}

#code {
    width: 100%;
    /* height: auto; */
    word-break: break-word;
}

/* TODO: go from here */
