/* .landing-navbar-parent>.menu-links{
    padding-left: 24em;
} */

.landing-navbar-parent{
    display: flex;
    align-items: center;
}

.landing-navbar-logo{
    display: flex;
    align-items: center;
    /* width: 30%; */
}

.menu-links{
    flex-direction: row;
    flex: 0 auto;
    align-items: center;
    display: flex;
    position: static;
}
/* 
.menu-links>.item{
    flex-direction: row;
    flex: 0 auto;
    align-items: center;
    font-size: 15px;
    display: flex;
    position: static;
} */

/* TODO:  */
/* .menu-links>.item{ */
.ui.secondary.menu .item{
    /* color: #acacac;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0; */

    color: #acacac;
    text-align: left;
    
    /* flex-flow: row;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex; */
    
    /* padding: 20px 12px; */
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
    
}

.landing-navbar-parent>.menu-links>.item:hover{
    color: #fafafa !important;
}

.navigation-right{
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    display: flex;
}

/* 
.navigation-link {
    color: #acacac;
    text-align: left;
    flex-flow: row;
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 20px 12px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
    display: flex
}

.navigation-link:hover {
    color: #fafafa;
    -webkit-text-stroke-color: #eb7907
} */