.landing-navbar-parent{
    /* padding: 0px !important;
    margin: 0px !important; */
    padding-top: 1%;
}

.landing-navbar-logo>span:hover{
    cursor: pointer;
}

/* .landing-navbar-logo>img{
    width: 40px;
} */

.landing-navbar-logo>span{
    color: black; 
    /* padding-left: 10px;  */
    
    /* font-family: 'Raleway', sans-serif;  */
    font-size: 26.5px; 
    font-weight: 400; 
    letter-spacing: 0.5px;
}

.landing-navbar-links-div{
    margin-right: 0%;
}

.landing-navbar-links-div .item{
    font-size: 15px;
}

.landing-navbar-button{
    /* padding-left: 12px; */
}

/* font-size: 12px; */

.gradient-button {
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    
    
    /* color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s; */
  }

  .gradient-button:hover {
    background: linear-gradient(to right, #348F50, #348F50);
    /* background: linear-gradient(to right, #feb47b, #ff7e5f); */
  }

