{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        #main_center_column{
            padding-top: 40px;
        }

        #center_card_column{
            padding-top: 5%;
            padding-left: 10%;
        }

        .description{
            font-size: 12.5px;
        }


    </style>


    {% include 'new_landing_navbar_three.html' %}
    
    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column" id="main_center_column">

            <h3>
                Administrative Course Page
            </h3>

            <ul>
                <li style="line-height: 1.8em;">
                    <a href="{% url 'admin_new_course_lesson_management' %}">
                        Manage your Lessons
                    </a>
                </li>


                <li style="line-height: 1.8em;">
                    <a href="{% url 'logout' %}">
                        logout
                    </a>
                </li>

            </ul>

            <!-- <h3>Welcome!</h3>

            <span style="color: gray;">
                Here, you will be able to view and manage each of your students progress, along with getting help from your personal assistant
                to help create the classroom you desire!
            </span>

            <div class="ui cards" id="center_card_column">


                <div class="ui link black card" id="question_management_card">
    
                    <div class="content">
                        <div class="header">
                            Manage your Questions
                        </div>
                        <div class="meta"></div>
                        <div class="description" style="color: gray;">
                            Manage and create questions for your students, with the help of Code Companion.
                        </div>
                    </div>

                </div>

                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;

                <div class="ui link black card" style="cursor: default;
                opacity: .55!important;                
                pointer-events: none!important;">

                    <div class="content">
                        <div class="header">
                            soon...
                        </div>
                        <div class="meta"></div>
                        <div class="description" style="color: gray;">
                            soon...
                        </div>
                    </div>

                </div>

                <div class="ui link black card" style="margin-top: 20px; cursor: default;
                opacity: .55!important;                
                pointer-events: none!important;">

                    <div class="content">
                        <div class="header">
                            soon...
                        </div>
                        <div class="meta"></div>
                        <div class="description" style="color: gray;">
                            soon...
                        </div>
                    </div>

                </div>

                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;

                <div class="ui link black card" style="margin-top: 20px; cursor: default;
                opacity: .55!important;                
                pointer-events: none!important;">

                    <div class="content">
                        <div class="header">
                            soon...
                        </div>
                        <div class="meta"></div>
                        <div class="description" style="color: gray;">
                            soon...
                        </div>
                    </div>

                </div>

            </div> -->

        </div>

        <div class="two wide column"></div>
        
    </div>



    <script>


    </script>


{% endblock %}


