{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        
    </style>


    {% include 'dashboard_navbar.html' %}


    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="thirteen wide column" style="padding-top: 20px;">

            <h3 id="lesson_header" >
                Description
            </h3>

            <div class="ui basic segment" >

                <p style="font-size: 15px;">
                    <strong>Welcome! This online course (work in progress) is designed to introduce you to Python programming.</strong>
                    <br/><br/>
                    It aims to provide you with a high-level understanding of foundational concepts in Python programming.
                    <br/><br/>
                    <strong>
                        This course is exercise heavy! It is primarily tailored for those who learn by doing.
                        You'll also have access to Code Companion, a personalized Tutor (powered by GPT-4), whom you can ask questions to when you need help.
                    </strong> While it won't provide answers, it will offer valuable hints and steer you in the right direction.
                    <br/><br/>                    
                    Each lesson offers valuable links to key concepts at the top. If you prefer a lecture-based course, you may consider starting with <a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/">this</a>. You can always return here later to complete the exercises.
                    <br/><br/>
                    I hope this course can serve as a starting point on your journey into the world of computer science.
                    <!-- <strong>This course is entirely exercise-based, tailored for those who learn by doing.</strong> You'll also have access to Code Companion, a personalized Tutor (powered by GPT-4), who will guide you and review all your submissions. While it won't provide answers, it will offer valuable hints and steer you in the right direction.
                    <br/><br/>
                    <br/><br/> -->
                    <!-- Each lesson does have a few videos, where I introduce the concepts necessary to complete the exercises, and provide examples of me working through some problems.
                    The video's are completely optional.  -->
                </p>
                
            </div>


            <div class="ui middle aligned divided list" style="width: 100%; padding-top: 5px; padding-left: 10px;">
                
                {% for lobj in lesson_objects %}

                    <div class="item">

                        <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                            <div class="header" style="font-size: 16px;">
                                <a class="file_name_header" href="{% url 'questions' lid=lobj.id %}">
                                    {{ lobj.title }}
                                </a>
                            </div>

                            <div style="padding-top: 14px; ">
                                
                                <span style="font-size: 12.5px; color: gray; float: left;">
                                    <i class="clock outline icon"></i>
                                    Uploaded: {{ lobj.created_at|date }}
                                </span>

                            </div>

                        </div>

                    </div>

                {% endfor %}

                <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 16px;">
                            More coming soon...
                        </div>

                    </div>

                </div>

        </div>

        <div class="one wide column"></div>

    </div>


{% endblock %}
