{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        p{
            font-size: 15px;
        }

        li{
            font-size: 15px;
            margin: 2px 0;
        }

    </style>


    {% include 'landing_navbar.html' %}
    

    <section>

        <div class="ui two column centered grid">
            
            <div class="column" style=" width: 60%; margin-top: 1%;">

                <h3 class="ui header">
                    <i class="info icon" ></i>
                    About:
                </h3>

                <div class="ui basic segment">

                    <p>
                        Code Companion is a GPT-4 based assistant, that helps answer any programming questions or difficulties you run into.
                        Simply write your code in our <a href="{% url 'playground' %}">online editor</a> (currently support Python), and ask any questions you have to our assistant. 
                        <br/><br/>
                        <strong>
                            Code Companion is not here to give you the answer. Instead, just like a great tutor, it will help guide you in the right direction by asking you questions.
                            It will force you to think through the problem so you can figure out the solution on your own.
                        </strong>                       
                        <!-- Code Companion won't simply give you the answer but instead, provide hints and force you to think through the problem and figure out the solution on your own. -->
                        
                        <br/><br/>
                        It is a great tool for those who are starting to learn programming, and want some additional assistance or guidance along the way!
                        
                        <br/><br/>
                        <strong>You can use Code Companion to:</strong>
                        <ul class="ui list" >
                            <li>
                                Ask Code Companion specific questions about your code or a bug you are facing.
                            </li>
                            <li>
                                Ask Code Companion to generate thorough explanations and examples for specific concepts.
                            </li>
                            <li>
                                Ask Code Companion to generate questions to help reinforce your understanding of specific concepts.
                            </li>
                        </ul>
                    </p>

                </div>

                <h3 class="ui header">
                    <i class="list icon" ></i>
                    Potential Features down the line:
                </h3>

                <div class="ui basic segment">
                    <ul class="ui list">
                        <li>
                            Generating a full study plan for learning the fundamentals of Python Programming.
                        </li>                        
                        <li>
                            Providing online practice tests and personalized learning plans, based on each individual's skills.
                        </li>
                        <li>
                            Creating a VSCode extension, so you can 'bring your tutor' everywhere, in your programming journey.
                        </li>
                    </ul>
                    <br/>
                    <p>
                        <a href="mailto:duggalr42@gmail.com">Reach out</a> if you have ideas, suggestions, questions, or want to help engineer Code Companion!
                    </p>
                </div>


                <!-- <h3 class="ui header">
                    Frequently Asked Questions:
                    <span style="font-size: 14px; font-weight: 300;">
                        <a href="mailto:duggalr42@gmail.com">Reach out</a> if you have any specific questions or concerns.
                    </span>
                </h3>

                <div class="ui basic segment">

                    <ul class="ui list" >
                        
                        <li><strong style="font-size: 15.5px;">Is my data private?</strong>
                            <ul>
                            <li style="padding-top: 10px;">
                                <strong>
                                    Here's our rule of thumb:
                                </strong>
                                Don't share code that you aren't comfortable with OpenAI using or seeing.
                                <br/><br/>
                                We leverage OpenAI's API to enable the user to ask questions.
                                This obviously requires us to send data to OpenAI's servers, where they will return the correct response.
                                <br/><br/>
                                Thus, if you don't feel comfortable sharing something with OpenAI, don't share it here.
                                This is primarily meant to be a place to allow students, beginners, to get help as they start learning programming.  
                            </li>
                            </ul>
                        </li>

                        <li><strong style="font-size: 15.5px;">Is there a limit to the number of questions I can ask in a session?</strong>
                            <ul>
                            <li style="padding-top: 10px;">
                                Code Companion encourages active learning, but there's no strict limit to the questions you can ask. Feel free to explore and learn at your own pace!
                            </li>
                            </ul>
                        </li>
                        

                    </ul>

                </div> -->

            </div>

        </div>
        
    </section>

    <!-- Footer -->
    {% include 'landing_footer.html' %}


{% endblock %}


