{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'landing_navbar_two.html' %}

<section class="about-parent-section">

    <div class="ui two column centered grid">
        
        <div class="column about-parent-column-div">

            <div class="ui basic segment about-segment-div">
                
                <h3 class="ui header">
                    &#128221;
                    About
                </h3>

                <p>
                    Companion is exploring how Generative AI models can effectively be utilized, to help foster a more personalized educational experience for individuals.
                    <br/><br/>
                    <!-- <strong>
                        For Learners:
                    </strong> -->
                    <!-- <br/> -->
                    At the moment, Companion offers individuals 3 main benefits: 
                    
                    <ul class="ui list about-list">
                        <li>
                            An interactive code editor environment, where you can run your code and ask the AI
                            for guidance or feedback, on the problems you are working on.
                        </li>
                        <li>
                            A free Python course focused primarily on exercises, enabling you to learn or hone your skills.
                            For additional Python practice, feel free to check out <a href="https://codingbat.com/python">CodingBat</a> or <a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/">MIT OCW</a>
                        </li>
                        <li>
                            A general tutor, where you can get help on any topic you are trying to learn.
                            Examples include: getting help on an essay, learning a new programming question, 
                            or getting help on a specific homework problem.
                        </li>
                    </ul>
                </p>
                
                <br/>
                
                <!-- style="font-family: 'Raleway', sans-serif; font-size: 20px; color: black; padding-top: 10px;" -->
                <h3 class="ui header">
                    &#128268;
                    Get Involved
                </h3>
                <p>
                    <!-- style="color: black; font-size: 14.5px;" -->
                    This solution is merely only the start, and will go through several iterations.
                    If you are interested and want to get involved, <a class="item" href="mailto:duggalr42@gmail.com">please reach out.</a>
                </p>

            </div>

        </div>

    </div>
    
</section>

<!-- Footer -->
<footer>
    <p>© Companion</p>
</footer>

{% endblock %}
