{% load static %}

<div class="ui secondary pointing menu app-secondary-top-menu">
    <a class="item app-navbar-logo" href="{% url 'landing' %}">
        <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 3%;"> -->
        <i class="code icon"></i>Companion
    </a>
    <div class="right menu">
        <a class="disabled item">
            Your Dashboard (make an account...)
        </a>
        <a class="item" href="{% url 'playground' %}">
            IDE
        </a>
        <a class="item" href="{% url 'general_cs_tutor' %}">
            Chat
        </a>
        <a class="ui item">
            Signup / Login
        </a>
    </div>
</div>
