{% load static %}

<div class="ui secondary pointing menu app-secondary-top-menu">

    {% if user_session is not none %}
        <a class="item app-navbar-logo" href="{% url 'dashboard' %}">
            <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 3%;"> -->
            <i class="code icon"></i>Companion
        </a>
    {% else %}
        <a class="item app-navbar-logo" href="{% url 'landing' %}">
            <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 3%;"> -->
            <i class="code icon"></i>Companion
        </a>
    {% endif %}
    
    <div class="right menu">
        
        <a class="item" href="{% url 'all_student_courses' %}">
            Course Generation Home
        </a>

        {% if user_session is not none %}
            <a class="item" href="{% url 'dashboard' %}">
                <i class="home icon"></i> Your Dashboard
            </a>
        {% else %}
            <a class="disabled item">
                Your Dashboard (signup..)
            </a>
        {% endif %}
        &nbsp;
        <a class="item" href="{% url 'playground' %}">
            <i class="code icon"></i> IDE
        </a>
        &nbsp;
        <a class="item" href="{% url 'general_cs_tutor' %}">
            <i class="comment alternate icon"></i> Chat
        </a>
        &nbsp;
        
        {% if user_session is not none %}
            <div class="ui item">
                <i class="user icon"></i>
                <strong>{{ current_user_email }}</strong>
            </div>
            &nbsp;
            <a class="item" href="{% url 'logout' %}">
                <i class="sign out alternate icon"></i> Logout
            </a>

        {% else %}
        <a class="ui item" href="{% url 'login' %}">
            <i class="user icon"></i> Signup / Login
        </a>
        {% endif %}

    </div>
</div>
