{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        #code-column{
            padding-top: 20px;
            padding-left: 0px;
        }

        .code-editor {
            border: 1px solid #d4d4d5;
            width: 100%;
            /* height: 100%; */
            /* padding-top: 0px;
            margin-top: 0px; */
        }

        #code {
            width: 100%;
            /* height: auto; */
            word-break: break-word;
        }


        #tabular-menu-column{
            padding-top: 45px;
        }

        .ui.tabular.menu .active.item {
            background: #f9f9f9;
        }

        #output {
            width: 100%;
            /* height: 100%; */
            height: 100%;
            border: none; /* Remove border from both code and output textarea */
            resize: none;
        }
        
        .output-code {
            /* Add any additional styling for the output segment here */
            border: 1px solid #d4d4d5;
            /* width: 100%;
            height: 100%; */

        }

        #clear_output_link{
            color: #1e70bf;
            font-size: 14.5px; 
            font-weight: 500; 
            padding-left: 5px;
        }

        #clear_output_link:hover{
            font-weight: bold;   
            cursor: pointer;       
        }

    </style>

    
    {% include 'new_landing_navbar_three.html' %}


    <div class="ui grid container">

        <!-- Code Editor -->
        <div class="eight wide column" id="code-column">

            <a href="{% url 'new_course_lesson_page' pc_question_obj.course_lesson_obj.id %}">
                <i class="arrow alternate circle left outline icon"></i>
                Back to Exercises
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'playground' %}">
                Next Question
                <i class="arrow alternate circle right outline icon"></i>
            </a>

            <div style="display: flex; align-items: center; padding-top: 15px;">

                <h4 style="margin: 0;">

                    <span id="code_file_name_text" style="font-size: 16px;">{{ pc_question_obj.question_name }}</span>

                </h4>
             
            </div>

            <div class="ui segment code-editor" style="margin-top: 20px;">
                <textarea id="code"></textarea>
            </div>

            <input id="course_question_obj_id" type="hidden" value="{{ pcqid }}" />

        </div>


        <!-- Code Tab Menu -->
        <div class="eight wide column" id="tabular-menu-column">
            
            <div class="ui tabular menu tab-menu">
                
                <a class="item active" id="lesson_question_tab">
                    <i class="bug icon"></i> Problem
                </a>                

                <a class="item" id="lesson_ai_tutor_tab">
                    <i class="comment icon"></i> AI Tutor 
                </a>

                <!-- <a class="item" id="output_console_tab">
                    <i class="play icon"></i> Output Console
                </a> -->

            </div>

            <!-- Programming Question -->
            <div id="programming_question_div">

                <!-- <button onclick="handleSolutionSubmit()" class="positive ui small button solution-submit-button" style="float: right; margin-bottom: 15px;">check answer</button> -->

                <div style="text-align: right;">

                    <!-- <button class="small ui button">
                        run
                    </button> -->

                    <div class="small ui animated button" tabindex="0">
                        <div class="visible content">Run</div>
                        <div class="hidden content">
                          <i class="play icon"></i>
                        </div>
                    </div>

                    &nbsp;&nbsp;

                    <div class="small ui animated positive button" tabindex="0">
                        <div class="visible content">Submit</div>
                        <div class="hidden content">
                          <i class="check icon"></i>
                        </div>
                    </div>
                    
                    &nbsp;&nbsp;

                    <span>
                        <a href="">get hint</a>
                    </span>

                </div>

                <h4 class="ui header" style="padding-top: 0px; margin-top: 0px;">
                    Question:
                </h4>

                <p>
                    {{ pc_question_obj.question_text }}
                </p>

                <!-- <div class="ui basic segment">
                    <p>
                        {{ pc_question_obj.question_text }}
                    </p>
                </div> -->


                <h4 class="ui header" style="padding-top: 0px;">
                    Test Cases:
                </h4>

                <table class="ui celled table">

                    <thead>
                        <tr>
                            <th>Input</th>
                            <th>Output</th>
                            <th>Correct</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for tobj in pt_course_test_case_examples %}

                            <tr>
                                <td data-label="Input">{{ tobj.input_param }}</td>
                                <td data-label="Output">{{ tobj.correct_output }}</td>
                                <td id="status_{{ tobj.id }}" data-label="Correct"></td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>


                <h4 class="ui header" style="padding-top: 0px;">
                    Console Output:
                    <span id="clear_output_link" style="font-size: 14px;">Clear Output</span>
                </h4>

                <div class="ui segment output-code">
                    <textarea rows="13" id="output" disabled></textarea>
                </div>

            </div>

        </div>

    </div>



    <script>

        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            theme: "default",
            scrollbarStyle: "null",
            lineWrapping: true,
        });
        editor.setSize(530, 700);


    </script>


{% endblock %}


