{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        #code-column{
            padding-top: 20px;
            padding-left: 0px;
        }

        .code-editor {
            border: 1px solid #d4d4d5;
            width: 100%;
            /* height: 100%; */
            /* padding-top: 0px;
            margin-top: 0px; */
        }

        #code {
            width: 100%;
            /* height: auto; */
            word-break: break-word;
        }


        #tabular-menu-column{
            padding-top: 45px;
        }

        .ui.tabular.menu .active.item {
            background: #f9f9f9;
        }

        #output {
            width: 100%;
            /* height: 100%; */
            height: 100%;
            border: none; /* Remove border from both code and output textarea */
            resize: none;
        }
        
        .output-code {
            /* Add any additional styling for the output segment here */
            border: 1px solid #d4d4d5;
            /* width: 100%;
            height: 100%; */

        }

        #clear_output_link{
            color: #1e70bf;
            font-size: 14.5px; 
            font-weight: 500; 
            padding-left: 5px;
        }

        #clear_output_link:hover{
            font-weight: bold;   
            cursor: pointer;       
        }


        .chat-container {
            height: 400px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow-y: auto;
            padding: 15px;
            margin-top: 20px;
        }

        .message {
            margin-bottom: 15px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .input-container {
            display: flex;
            margin-top: 20px;            
        }

        .input-box {
            /* flex-grow: 1; */
            padding: 10px;
            border-radius: 5px;
        }

    </style>

    
    {% include 'new_landing_navbar_three.html' %}


    <div class="ui grid container">

        <!-- Code Editor -->
        <div class="eight wide column" id="code-column">

            <a href="{% url 'new_course_lesson_page' pc_question_obj.course_lesson_obj.id %}">
                <i class="arrow alternate circle left outline icon"></i>
                Back to Exercises
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'playground' %}">
                Next Question
                <i class="arrow alternate circle right outline icon"></i>
            </a>

            <div style="display: flex; align-items: center; padding-top: 15px;">

                <h4 style="margin: 0;">

                    <span id="code_file_name_text" style="font-size: 16px;">{{ pc_question_obj.question_name }}</span>

                </h4>
             
            </div>

            <div class="ui segment code-editor" style="margin-top: 20px;">
                <textarea id="code"></textarea>
            </div>

            <input id="code_obj_id" type="hidden" value="{{ code_id }}" />
            <input id="course_question_obj_id" type="hidden" value="{{ pcqid }}" />

        </div>


        <!-- Code Tab Menu -->
        <div class="eight wide column" id="tabular-menu-column">
            
            <div class="ui tabular menu tab-menu">
                
                <a class="item active" id="lesson_question_tab">
                    <i class="bug icon"></i> Problem
                </a>                

                <a class="item" id="lesson_ai_tutor_tab">
                    <i class="comment icon"></i> AI Tutor 
                </a>

                <!-- <a class="item" id="output_console_tab">
                    <i class="play icon"></i> Output Console
                </a> -->

            </div>

            <!-- Programming Question -->
            <div id="programming_question_div">

                <!-- <button onclick="handleSolutionSubmit()" class="positive ui small button solution-submit-button" style="float: right; margin-bottom: 15px;">check answer</button> -->

                <div style="text-align: right;">

                    <!-- <button class="small ui button">
                        run
                    </button> -->

                    <div class="small ui animated button" tabindex="0" onclick="evaluatePython()">
                        <div class="visible content">Run</div>
                        <div class="hidden content">
                          <i class="play icon"></i>
                        </div>
                    </div>

                    &nbsp;&nbsp;

                    {% if pt_course_test_case_examples|length > 0 %}

                        <div class="small ui animated positive button solution-submit-button" tabindex="0" onclick="handleSolutionSubmit()">
                            <div class="visible content">Submit</div>
                            <div class="hidden content">
                            <i class="check icon"></i>
                            </div>
                        </div>

                    {% else %}

                        <div class="small ui animated positive button" tabindex="0" onclick="handleSolutionSubmit()">
                            <div class="visible content">Get Feedback</div>
                            <div class="hidden content">
                            <i class="check icon"></i>
                            </div>
                        </div>

                    {% endif %}

                    &nbsp;&nbsp;

                    <span>
                        <a href="">get a hint</a>
                    </span>

                </div>

                <h4 class="ui header" style="padding-top: 0px; margin-top: 0px;">
                    Question:
                </h4>

                <p>
                    {{ pc_question_obj.question_text|linebreaks }}
                </p>

                <h4 class="ui header" style="padding-top: 0px;">
                    Test Cases:
                </h4>

                {% if pt_course_test_case_examples|length > 0 %}

                    <table class="ui celled table">

                        <thead>
                            <tr>
                                <th>Input</th>
                                <th>Output</th>
                                <th>Correct</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for tobj in pt_course_test_case_examples %}

                                <tr>
                                    <td data-label="Input">{{ tobj.input_param }}</td>
                                    <td data-label="Output">{{ tobj.correct_output }}</td>
                                    <td id="status_{{ tobj.id }}" data-label="Correct"></td>
                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                {% else %}
                    
                    <p style="color: gray;">No test cases created for this question.</p>

                {% endif %}

                <div id="py_question_submit_feedback" style="display: none;">

                    <h5>Additional Test Case Message:</h5>
                    <p id="test-case-feedback"></p>
    
                    <h5>Feedback:</h5>
                    <p id="gpt-answer-feedback"></p>

                </div>

                <h4 class="ui header" style="padding-top: 0px;">
                    Console Output:
                    <span id="clear_output_link" style="font-size: 14px;">Clear Output</span>
                </h4>

                <div class="ui segment output-code">
                    <textarea rows="13" id="output" disabled></textarea>
                </div>

            </div>


            <!-- AI Tutor -->
            <div id="ai_tutor_div" style="display: none;">

                <!-- Programming Assistant Tab -->
                <div id="programming_assistant_div">
                    
                    <div class="chat-container" id="chat">
                        
                        <div class="message">
                            <strong>Welcome! &nbsp; &#128588</strong>&nbsp;
                            I'm Code Companion, your personal programming tutor.
                            <br/><br/>
                            If you are running into a problem such as a bug in your code, or need help understanding a concept, ask me and I will be more than happy to help.
                            <br/><br/>
                            You can also use me to generate more practice questions for you, for specific concepts you want further review on.
                            <br/><br/>
                            I won't give you the answer, but will definitely point you in the right direction! &#128512;

                        </div>

                        <hr>

                        <br/>
                        {% for ucs_obj in user_conversation_objects %}
                        
                            <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                            <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>

                        {% endfor %}

                    </div>
                    

                    {% if user_session is not None %}

                        <div class="input-container">
            
                            <div class="ui form" style="width: 100%;">
                                <div class="field">
                                    <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                                </div>                    
                            </div>
                            &nbsp;
                            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                        </div>

                        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                            Answer Response usually takes 15-30 seconds. (this will get better soon...)
                        </span>

                    {% else %}

                        <div class="input-container">
            
                            <div class="ui form" style="width: 100%;">
                                <div class="field">
                                    <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                                </div>                    
                            </div>
                            &nbsp;
                            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                        </div>

                        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                            Answer Response usually takes 15-30 seconds. (this will get better soon...)
                        </span>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>



    <script>


        $('.tabular.menu .item').tab();

        $('#lesson_question_tab').click(function(){

            $('#lesson_question_tab').addClass('active');
            $('#lesson_ai_tutor_tab').removeClass('active');

            $('#programming_question_div').show();
            $('#ai_tutor_div').hide();

        });

        $('#lesson_ai_tutor_tab').click(function(){

            $('#lesson_ai_tutor_tab').addClass('active');
            $('#lesson_question_tab').removeClass('active');

            $('#ai_tutor_div').show();
            $('#programming_question_div').hide();

        });

        
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            theme: "default",
            scrollbarStyle: "null",
            lineWrapping: true,
        });
        editor.setSize(530, 600);


        user_session = '{{ user_session }}';
        let pcqid = '{{ pcqid }}';
        let user_cid = null;
        let user_code_obj = '{{ user_code_obj }}';
        let py_question_test_cases_count = '{{ pt_course_test_case_examples_length }}';


        if (user_code_obj != 'None'){

            let user_code_st = `{{ user_code_obj.user_code|safe }}`;
            editor.setValue(user_code_st);
            user_cid = '{{ user_code_obj.id }}';

        } else {

            let std_question = `{{ pc_question_obj.question_text|safe }}`;
            // console.log('std-question:', std_question)
            editor.setValue(`# If you need any help, ask the AI to provide guidance\n\n# Programming Question:\n# ` + std_question + `\n\n# Write your code below:\n\n`);

        }

        

        async function main() {
            let pyodide = await loadPyodide({ indexURL: "https://cdn.jsdelivr.net/pyodide/v0.23.4/full/" });

            // Pyodide ready
            output.value += "Ready!\n";
            return pyodide;
        };
        
        let pyodideReadyPromise = main();

        function addToOutput(s) {

            try {

                let val_list = s.split("\n");
                for (i=0; i <= val_list.length-2; i++){
                    let otv = val_list[i];
                    output.value += ">>> " + otv + "\n"; 
                }

                var textarea = document.getElementById('output');
                textarea.scrollTop = textarea.scrollHeight;

            } catch(err) {

                output.value += ">>> " + s + "\n";

            }
            
        }

        async function evaluatePython() {
            let pyodide = await pyodideReadyPromise;
            try {
                let captureOutputCode = `
import sys
from io import StringIO
old_stdout = sys.stdout
sys.stdout = mystdout = StringIO()

${editor.getValue()}

sys.stdout = old_stdout
mystdout.getvalue()
`;

                let output = pyodide.runPython(captureOutputCode);

                // console.log('User Code:', editor.getValue())
                // console.log('CODE OUTPUT:', output);

                addToOutput(output);

                saveCode();

                // if (user_session != 'None'){
                //     saveCode();
                // }

            } catch (err) {
                
                addToOutput(err);

                saveCode();

                // if (user_session != 'None'){
                //     saveCode();
                // }

            }
        }



        // Chat Functionality
        const chat = document.getElementById("chat");
        const chatInput = document.getElementById("chatInput");
        const sendButton = document.getElementById("sendButton");

        sendButton.addEventListener("click", sendMessage);
        chatInput.addEventListener("keydown", (event) => {
        
            if (event.keyCode == 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }

        });

        $("#chatInput").on('keyup', function(event) {
            
            var currentString = $("#chatInput").val()

            if (currentString.length > 0){

                $('#sendButton').removeClass('disabled');
                
            } else {
                $('#sendButton').addClass('disabled');
            }
           
        });


        const initial_user_session = '{{ user_session }}';

        let anon_user_localstg_dict = {};
        let pcid_associated_dict = {'user_code': '', 'user_messages': []};
        let pcid_user_messages = [];

        if (initial_user_session == 'None'){

            let tmp_usr_messages = JSON.parse(localStorage.getItem("python_lesson_playground_user_dictionary"));

            console.log('tmp-user-messages:', tmp_usr_messages, tmp_usr_messages == null)

            if (tmp_usr_messages != null){

                anon_user_localstg_dict = tmp_usr_messages;

                if (pcqid in anon_user_localstg_dict){

                    pcid_associated_dict = anon_user_localstg_dict[pcqid];
                    pcid_user_messages = pcid_associated_dict['user_messages'];
                    pcid_user_code = pcid_associated_dict['user_code'];

                    if (pcid_user_messages.length > 0){

                        for (idx = 0; idx <= pcid_user_messages.length-2; idx += 2){

                            let messageText = pcid_user_messages[idx]
                            let model_response_message = pcid_user_messages[idx+1]

                            const message = document.createElement("div");
                            message.className = "message";
                            message.innerHTML = "<b>You:</b> " + messageText;
                            message.style.whiteSpace = 'pre-wrap'
                            chat.appendChild(message);

                            const responseMessage = document.createElement("div");
                            responseMessage.className = "message";
                            responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                            // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                            chat.appendChild(responseMessage);

                            // chat.scrollTop = chat.scrollHeight;

                        }

                        // let anon_user_code_st = localStorage.getItem('python_lesson_playground_user_code');                        

                    }

                    editor.setValue(pcid_user_code);

                }


            }

        }


        
        // https://stackoverflow.com/questions/11502122/jquery-keypress-event-for-cmds-and-ctrls
        $(document).keydown(function(event) {

            if((event.ctrlKey || event.metaKey) && event.which == 83) {
                // Save Function
                event.preventDefault();
                saveCode();
                return false;
            };
            }

        );



        function sendMessage() {

            const messageText = chatInput.value.trim();

            if (messageText !== "") {

                // console.log('message-text:', messageText)

                $('#chatInput').prop('disabled', true);

                $('#sendButton').hide();
                $('#primary_loading_button').show();

                const message = document.createElement("div");
                message.className = "message";
                message.innerHTML = "<b>You:</b> " + messageText;
                message.style.whiteSpace = 'pre-wrap'
                chat.appendChild(message);

                chat.scrollTop = chat.scrollHeight;
                
                chatInput.value = "";

                let user_code = editor.getValue();

                let cid = $('#code_obj_id').val();
                let pclid = $('#course_question_obj_id').val();

                let d = {};
                if (initial_user_session == 'None'){

                    let prev_conversation_history = []
                    if (pcid_user_messages.length > 0){
                        
                        prev_conversation_history = pcid_user_messages.slice( pcid_user_messages.length-6, pcid_user_messages.length )

                    }

                    let prev_conversation_history_st = ''
                    if (prev_conversation_history.length > 0){
                        
                        prev_conversation_history_st = prev_conversation_history.join('\n');
                        
                    }

                    d = {
                        'message': messageText,
                        'user_code': user_code,
                        'previous_messages': prev_conversation_history_st,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }

                } 
                else {

                    d = {
                        'message': messageText,
                        'user_code': user_code,
                        'cid': cid,
                        'pclid': pclid,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    };

                }

                // console.log('user-message-dict:', d);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'new_course_handle_user_message' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {
                        
                        var model_response_dict = response['response'];

                        var model_response_message = model_response_dict['response'];
                        model_response_message = model_response_message.replaceAll('\n', '<br/>');

                        var user_question = model_response_dict['question'];

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);
                        
                        chat.scrollTop = chat.scrollHeight;

                        $('#chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();

                        if (initial_user_session == 'None'){

                            var final_question_st = messageText
                            var final_response_st = model_response_message
                            pcid_user_messages.push(final_question_st)
                            pcid_user_messages.push(final_response_st)
                            
                            pcid_associated_dict['user_messages'] = pcid_user_messages
                            pcid_associated_dict['user_code'] = user_code
                            anon_user_localstg_dict[pcqid] = pcid_associated_dict
                            localStorage.setItem("python_lesson_playground_user_dictionary", JSON.stringify(anon_user_localstg_dict));
                            // localStorage.setItem('python_lesson_playground_user_messages', JSON.stringify(anon_user_messages));
                            // localStorage.setItem('python_lesson_playground_user_code', user_code);

                        } else {

                            let saved_cid = model_response_dict['cid'];
                            $('#code_obj_id').val(saved_cid);

                        }

                        $('#solution_submit_button').removeClass("disabled");

                    },
                    error: function (response) {}
                    
                });


            }

        };



        function handleSolutionSubmit(event){

            const messageText = 'I believe this is the solution to the problem. Can you provide feedback on my code? Any advice or suggestions for improvement?'
            
            $('#chatInput').prop('disabled', true);
            $('#sendButton').hide();
            $('#primary_loading_button').show();

            $('.solution-submit-button').addClass('loading');
            $('.solution-submit-button').addClass('disabled');

            let user_code = editor.getValue();
            let cid = $('#code_obj_id').val();
            let pclid = $('#course_question_obj_id').val();

            // question has no test-cases, will resort to AI feedback in chat
            if (py_question_test_cases_count == 0){

                $( '#lesson_ai_tutor_tab' ).click ();

                const message = document.createElement("div");
                message.className = "message";
                message.innerHTML = "<b>You:</b> " + messageText;
                message.style.whiteSpace = 'pre-wrap'
                chat.appendChild(message);

                chat.scrollTop = chat.scrollHeight;
                chatInput.value = "";

            }

            // d = {
            //     'message': messageText,
            //     'user_code': user_code,
            //     'cid': cid,
            //     'pclid': pclid,
            //     csrfmiddlewaretoken: '{{ csrf_token }}'
            // };

            let d = {};
            if (initial_user_session == 'None'){

                let prev_conversation_history = []
                if (pcid_user_messages.length > 0){
                    
                    prev_conversation_history = pcid_user_messages.slice( pcid_user_messages.length-6, pcid_user_messages.length )

                }

                let prev_conversation_history_st = ''
                if (prev_conversation_history.length > 0){
                    
                    prev_conversation_history_st = prev_conversation_history.join('\n');
                    
                }

                d = {
                    'message': messageText,
                    'user_code': user_code,
                    'cid': cid,
                    'pclid': pclid,
                    'previous_messages': prev_conversation_history_st,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }

            } 
            else {

                d = {
                    'message': messageText,
                    'user_code': user_code,
                    'cid': cid,
                    'pclid': pclid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

            }



            $.ajax({
                type: 'POST',
                url: "{% url 'new_course_handle_solution_submit' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    console.log('res:', response);

                    if (response['success'] == true){

                        let gpt_response_dict = response['response']
                        let gpt_resp = gpt_response_dict['response']
                        let test_case_list = response['test_case_list']

                        if (test_case_list.length == 0){

                            if ('cid' in response){

                                let saved_cid = response['cid'];
                                $("#code_obj_id").val(saved_cid);

                            };                            
                            
                            console.log('gpt-response-dict:', gpt_response_dict)

                            // display in chat area
                            var model_response_message = gpt_response_dict['response'];
                            model_response_message = model_response_message.replaceAll('\n', '<br/>');

                            var user_question = gpt_response_dict['question'];

                            const responseMessage = document.createElement("div");
                            responseMessage.className = "message";
                            responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                            chat.appendChild(responseMessage);

                            chat.scrollTop = chat.scrollHeight;

                            $('#chatInput').prop('disabled', false);
                            $('#sendButton').show();
                            $('#primary_loading_button').hide();

                            $('.solution-submit-button').removeClass('loading');
                            $('.solution-submit-button').removeClass('disabled');


                            if (initial_user_session == 'None'){

                                // add to localstorage
                                var final_question_st = messageText
                                var final_response_st = model_response_message
                                pcid_user_messages.push(final_question_st)
                                pcid_user_messages.push(final_response_st)
                                
                                pcid_associated_dict['user_messages'] = pcid_user_messages
                                pcid_associated_dict['user_code'] = user_code
                                anon_user_localstg_dict[pcqid] = pcid_associated_dict
                                localStorage.setItem("python_lesson_playground_user_dictionary", JSON.stringify(anon_user_localstg_dict));

                            }

                        }

                        else {

                            let test_case_message = ''
                            for (idx = 0; idx <= test_case_list.length-1; idx++){
                                
                                let tc_dict = test_case_list[idx]
                                let tc_val = tc_dict['tc_id_text']
                                let tc_status = tc_dict['status']

                                if (tc_status == 1){
                                    
                                    document.getElementById(tc_val).innerHTML = '<i class="check icon" style="color: green;"></i>'

                                } else {

                                    document.getElementById(tc_val).innerHTML = '<i class="x icon" style="color: red;"></i>'
                                    test_case_message = tc_dict['message']

                                }

                            }


                            if (test_case_message == ''){
                                test_case_message = 'All tests ran correctly.'    
                            }

                            document.getElementById('test-case-feedback').innerText = test_case_message;
                            document.getElementById('gpt-answer-feedback').innerText = gpt_resp;
                            
                            $('#py_question_submit_feedback').show();

                        }

                    }

                },
                error: function (response) {}
                
            });


        };



        function saveCode(){

            if (initial_user_session == 'None'){

                console.log('saving code.')

                let user_code = editor.getValue();

                pcid_associated_dict['user_code'] = user_code;
                anon_user_localstg_dict[pcqid] = pcid_associated_dict;
                localStorage.setItem("python_lesson_playground_user_dictionary", JSON.stringify(anon_user_localstg_dict));
                
            }

            else {

                let cid = $('#code_obj_id').val();
                let pclid = $('#course_question_obj_id').val();

                let user_code = editor.getValue();
                let d = {
                    'cid': cid,
                    'pclid': pclid,
                    'user_code': user_code,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                $.ajax({
                    type: 'POST',
                    url: "{% url 'new_course_save_user_code' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {

                        // console.log('response:', response);

                        if (response['success'] == true){

                            if (cid == 'None'){

                                // // window.location.reload();
                                // // window.location.href = ''
                                // var url = new URL(window.location.href);
                                // url.searchParams.set('cid', response['cid']);
                                // window.history.replaceState(null, null, url);
                                // // window.location.href = url;
                                
                                // console.log('cid:', response['cid']);
                                let saved_cid = response['cid'];
                                $("#code_obj_id").val(saved_cid);

                            } else {

                                let saved_cid = response['cid'];
                                $('#code_obj_id').val(saved_cid);
                                
                                $('#save_code_button').hide().promise().done(function(){

                                    $('#save_code_success_text').show().delay(2000).fadeOut(500).promise().done(function() {
                                        $('#save_code_button').show();
                                    });

                                });

                            }

                        }

                    },
                    error: function (response) {}
                    
                });

            }

        };


        $('#clear_output_link').click(function(){

            $('#output').val('');

        });



    </script>


{% endblock %}


