{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

    </style>


    {% include 'dashboard_navbar.html' %}

    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column" style="padding-top: 30px;">
            
            <!-- Header -->
            <h3 id="lesson_header">
                Introduction to Python - Online Course
            </h3>

            <!-- Description -->
            <div class="ui basic segment" style=" padding-bottom: 5px;" >

                <p style="font-size: 15px;">
                    <!-- TODO: build as much out here -->
                    <!-- <strong>
                        
                    </strong> -->
                    <!-- <br/><br/> -->
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales dapibus mi sit amet eleifend. Suspendisse porttitor arcu a dui auctor gravida. Donec quis arcu fermentum, blandit augue quis, placerat felis. Fusce felis ante, eleifend vitae feugiat tincidunt, lacinia eget ipsum.
                    <!-- <br/><br/> -->        
                </p>
                
            </div>


            <!-- Header -->
            <h3 id="lesson_header">
                Lessons
            </h3>

            <div class="ui middle aligned divided list" style="margin-top: 30px; margin-left: 15px;">

                {% for lobj in all_lesson_objects %}

                    <div class="item" >

                        <div class="right floated content" style="padding-top: 10px;">
                            <a class="ui red label">not started</a>
                        </div>

                        <div class="content">
                            <a href="{% url 'new_course_lesson_page' lobj.id %}">
                                <div class="header" style="font-size: 15.5px; margin-top: 10px;">
                                    <i class="hand point right outline icon"></i>
                                    {{ lobj.lesson_title }}
                                </div>
                            </a>
                        </div>

                        <div style="padding-top: 5px; padding-bottom: 12px;">
                            <span style="color: gray; font-size: 13.5px;">
                                {{ lobj.lesson_description }}
                            </span>
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>        

    </div>


{% endblock %}

