{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

    </style>


    {% include 'dashboard_navbar.html' %}

    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column" style="padding-top: 30px;">
            
            <!-- Header -->
            <h3 id="lesson_header">
                Lesson 1: Data Types (Strings, Integers, Floats, Boolean), Operators, User Input
            </h3>

        </div>

    </div>


{% endblock %}


