{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .add_file_icon:hover{
            cursor: pointer;
        }

        .trash_icon:hover{
            cursor: pointer;
            color: red;
        }

        .file_name_header{
            color: black;
        }

        .file_name_header:hover{
            cursor: pointer;
            color: lightblue;
        }

    </style>


    {% include 'dashboard_navbar.html' %}

    <div class="ui grid container">
        
        <div class="two wide column"></div>

        <div class="twelve wide column">

            <div style="padding-top: 26px; display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" >
                    <i class="comments icon" style="font-size: 24px;"></i>
                    Your Questions:
                </h3>

            </div>
        
            <div class="ui middle aligned divided list" style="width: 100%; padding-top: 10px;">

                {% if user_code_list|length > 0 %}

                    {% for cdi in user_code_list %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                <div class="header" style="font-size: 15.5px;">
                                    <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}">
                                        {{ cdi.code_obj.code_unique_name }}
                                    </a>
                                </div>

                                <div style="padding-top: 14px;">
                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Uploaded: {{ cdi.code_obj.created_at }}                                
                                    </span>
                                    
                                    <!-- <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>
                                    
                                    <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">
                                        <i class="hashtag icon"></i>Messages: {{ uf_obj.conversation_count }}
                                    </span> -->
        
                                    <!-- <span style="float: right; font-size: 12px;">                            
                                        <i class="trash icon trash_icon"></i>
                                    </span> -->
                                </div>

                            </div>

                        </div>

                    {% endfor %}
                
                {% else %}

                    <div class="ui placeholder segment">
                        <div class="ui icon header">
                            <!-- <i class="pdf file outline icon"></i> -->
                            No Previous Questions Asked.
                            <br/>
                            Start asking questions now, by visiting the playground.
                        </div>
                        <div class="ui primary button visit_playground_button">
                            Visit Playground
                        </div>
                    </div>

                {% endif %}

            </div>

        </div>

        <div class="two wide column"></div>

    </div>


    
    <script>

        
        $('.visit_playground_button').click(function(){

            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/playground';
            window.location.replace(new_url);

        })

    </script>


{% endblock %}


