{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .add_file_icon:hover{
            cursor: pointer;
        }

        .trash_icon:hover{
            cursor: pointer;
            color: red;
        }

        .file_name_header{
            color: black;
        }

        .file_name_header:hover{
            cursor: pointer;
            color: lightblue;
        }

        .add_code_icon:hover{
            cursor: pointer;
            color: lightblue;
        }

    </style>


    {% include 'dashboard_navbar.html' %}


    <div class="ui grid container">
        
        <div class="two wide column"></div>

        <div class="twelve wide column">

            <div style="padding-top: 20px; display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" >
                    <!-- <i class="comments icon" style="font-size: 24px;"></i> -->
                    <i class="code branch icon" style="font-size: 22px;"></i>
                    Saved Code:
                </h3>

                <span class="add_code_icon" style="font-size: 16px;">
                    <i class="code icon"></i>
                    Start Coding
                </span>

            </div>
        
            <div class="ui middle aligned divided list" style="width: 100%; padding-top: 0px;">

                {% if user_code_list|length > 0 %}

                    {% for cdi in user_code_list %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                {% if cdi.code_obj.lesson_question_obj is not None %}

                                    <div class="header" style="font-size: 15.5px;">
                                        <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}&lqid={{ cdi.code_obj.lesson_question_obj.id }}">
                                            {{ cdi.code_obj.code_unique_name }}
                                        </a>
                                    </div>

                                {% else %}

                                    <div class="header" style="font-size: 15.5px;">
                                        <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}">
                                            {{ cdi.code_obj.code_unique_name }}
                                        </a>
                                    </div>

                                {% endif %}

                  
                                <div style="padding-top: 14px;">
                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Uploaded: {{ cdi.code_obj.created_at|date }}                                
                                    </span>
                                    
                                    <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>
                                    
                                    <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">
                                        <i class="hashtag icon"></i>Messages: {{ cdi.user_conv_obj_count }}
                                    </span>
                                    
                                    <!-- <span style="float: right; font-size: 12px;">                            
                                        <i class="trash icon trash_icon"></i>
                                    </span> -->

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                
                {% else %}

                    <div class="ui placeholder segment">

                        <div class="ui icon header" style="font-size: 17px; line-height: 1.3em;">
                            <!-- <i class="pdf file outline icon"></i> -->
                            No Previous Questions Asked.
                            <br/>
                            Start asking questions now, by visiting the playground. 
                            <br/>
                            Or, start browsing through and completing the <a href="{% url 'practice_questions' %}">Python exercises</a> on our site.
                        </div>

                        <div class="ui animated medium black button visit_playground_button" tabindex="0" >
                            <div class="visible content">
                                Visit Playground
                            </div>
                            <div class="hidden content">
                            <i class="right arrow icon"></i>
                            </div>
                        </div>

                    </div>

                {% endif %}

            </div>

        </div>

        <div class="two wide column"></div>

    </div>


    
    <script>

        
        $('.visit_playground_button').click(function(){

            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/playground';
            window.location.replace(new_url);

        })


        $('.add_code_icon').click(function(){

            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/playground';
            window.location.replace(new_url);

        })
        

    </script>


{% endblock %}


