{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        #code-column{
            padding-top: 27px;
            padding-left: 25px;
        }

        .input-container {
            display: flex;
            margin-top: 20px;            
        }

        h4{
            font-family: 'Raleway', sans-serif;
        }

        .chat-container {
            height: 480px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow-y: auto;
            padding: 15px;
            margin-top: 20px;
        }

        .message {
            margin-bottom: 15px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .input-box {
            padding: 10px;
            border-radius: 5px;
        }

        .container{
            overflow-y: hidden;
            overflow-x: hidden;            
        }
        
    </style>


    {% include 'dashboard_navbar.html' %}


    <div class="ui centered grid container">


        <!-- <div class="four wide column" style="padding-top: 50px; padding-left: 0px; padding-left: 0px;">

            {% if user_session %}

                <div style="padding-top: 0px;">
                    <p style="color: gray; font-size: 13px;">
                        Ask questions on your personal lectures notes or homework questions
                    </p>
                    <button class="ui small black button" id="user_file_upload_button">
                        Upload Your File
                    </button>
                </div>
                
            {% else %}

                <h4 style="font-weight: 900;">
                    By signing up (100% Free): 
                </h4>

                <span style="color: gray; font-size: 13px;">

                    <li>
                        You could save your conversations as separate tabs
                    </li>
                    <li>
                        Upload your own files and ask questions on those
                    </li>
                    <li>
                        Write code and take to the assistant, in our code editor
                    </li>

                    <button class="ui small secondary button" style="margin-top: 20px;" id="chat_signup_button">
                        Sign Up
                    </button>

                </span>

            {% endif %}

        </div> -->


        <div class="fourteen wide column" id="code-column">
        
            <h4 style="font-size: 18px;">
                <i class="comments icon"></i>
                <!-- Chat with Code Companion -->
                Chat
            </h4>

            <span style="font-size: 13px; color: gray;">
                My goal is to help you, on your personal lifelong learning journey.
                <br/>
                For programming questions, feel free to visit our <a href="{% url 'playground' %}">code editor</a>, where you can run code and get help, as needed.
            </span>


            {% if user_session %}

                <button class="ui small black button" id="user_file_upload_button" style="float: right;">
                    Ask questions on your specific files
                </button>

            {% else %}

                <button class="ui small black disabled button" id="user_file_upload_button" style="float: right;">
                    Ask questions on your specific files
                </button>
            
            {% endif %}
            

            <div class="chat-container" id="chat">
                        
                <div class="message">

                    <strong>
                        Welcome! &nbsp; &#128588&nbsp;
                        I'm your personal learning assistant. 
                    </strong>
                    <br/><br/>
                    My goal is to help you on your learning journey, whether you need help with homework or want to explore a new field.
                    <br/><br/>
                    When it comes to asking me homework questions, I will never provide you with the answer. 
                    Instead, my approach is to guide you like a great tutor, fostering your critical thinking and empowering you to arrive at the answers independently.
                    <!-- When it comes to asking me homework questions, I will never provide you with the answer. Instead, just like a great tutor, I will
                    guide you, to help you come up with the answer on your own. -->
                    <br/><br/>
                    If you need help knowing where to start in a new field, feel free to ask me and I will help construct your
                    learning plan, along with questions or quizzes to ensure you have a deep understanding of the concepts.
                    <br/><br/>
                    <strong>
                        Here are some of the things people ask me:
                    </strong>
                    <li>
                        I need to write an essay on Raskolnikov, in Crime and Punishment, specifically about his mental state before and after he committed his crime. I need some guidance
                    </li>
                    <li>
                        What's the implementation of calculating __len__ in python, say for a string object? I need to create my own __len__ implementation, and it should be in O(1) time.
                    </li>
                    <li>
                        How is the actual list data structure implemented in python? does it use a linked list "under the hood"? How does it actually work? I need to write my own list class object for my project...
                    </li>
                    <li>
                        I have the following homework question: 
                        "I have a function where if I graph it, it form's an upside down triangle (with no base). So essentially, it's just the 2 straight lines or the sides of the triangle, without the base. Would this be considered linear (since it is straight lines and not curves) or would it be non-linear?"
                    </li>
                    <li>
                        I want to study the history of computers. Can you help develop a syllabus?
                    </li>
                    <li>
                        I want to learn Python, specifically for building my own web applications. Can you help me construct a plan on where to start?
                    </li>
                    
                    <!-- <strong>Welcome! &nbsp; &#128588</strong>&nbsp;
                    I'm your personal learning assistant. 
                    <br/><br/>
                    Feel free to ask me for help, on whatever you would like to learn or are currently struggling with.
                    <br/><br/>
                    <strong>
                        Here are some things people ask me:
                    </strong>
                    <li>
                        What's the implementation of calculating __len__ in python, say for a string object?
                    </li>
                    <li>
                        How is the actual list data structure implemented in python? does it use a linked list "under the hood"? How does it actually work??
                    </li>
                    <li>
                        I need to write an essay on Raskolnikov, in Crime and Punishment, specifically going through his mental state before and after he committed his crime. I need some guidance
                    </li>
                    <li>
                        I'm having trouble understanding the concept of tangent lines? Can linear functions have tangent lines?
                    </li>
                    <li>
                        What if I have a function where if I graph it, it form's an upside down triangle (with no base). So essentially, it's just the 2 straight lines or the sides of the triangle, without the base. Would this be considered linear (since it is straight lines and not curves) or would it be non-linear?
                    </li> -->

                    <!-- <br/>
                    My goal is to help you, on your personal, lifelong learning journey. -->

                    <!-- I'm Code Companion, your personal programming tutor. -->
                    <!-- <br/><br/>
                    Feel free to ask me programming questions, whether it's providing an explanation
                    on a specific CS concept, helping you debug code, or providing you with questions so 
                    you can develop a deeper understanding of the material.
                    <br/><br/>
                    My goal is to help make it easier for you to learn programming. -->
                </div>
    
                <hr>
    
                <br/>
    
                {% for ucs_obj in user_conversation_objects %}
                        
                    <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                    <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>

                {% endfor %}

                <!-- <input id="uc_parent_obj_id" type="hidden" value="{{ uct_parent_id }}" /> -->

            </div>


            <!-- {% if user_session is not None %}

                <div class="input-container">

                    <div class="ui form" style="width: 100%;">
                        <div class="field">
                            <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                        </div>                    
                    </div>
                    &nbsp;
                    <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                    <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>
        
                </div>
        
                <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                    Answer Response usually takes 15-30 seconds. (this will get better soon...)
                </span>

            {% else %}

                <div style="margin-top: 3%; text-align: left;">
                    <button class="ui black basic button" id="create_account_button">
                        Sign Up
                    </button>
                </div>

                <br/>

                <div class="input-container" style="display: none;">
    
                    <div class="ui form" style="width: 100%;">
                        <div class="field">
                            <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                        </div>                    
                    </div>
                    &nbsp;
                    <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                    <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                </div>

            {% endif %} -->

            <div class="input-container">

                <div class="ui form" style="width: 100%;">
                    <div class="field">
                        <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask away..."></textarea>
                    </div>                    
                </div>
                &nbsp;
                <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>
    
            </div>
    
            <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                Answer Response usually takes 15-30 seconds. (this will get better soon...)
            </span>
            <br/>
            <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                <a href="{% url 'login' %}">Signup</a> to save your conversations, along with uploading your files or working in our code editor environment.
            </span>


        </div>

    </div>

    <br/>
    <br/>
    <!-- <br/> -->


    <div class="ui tiny modal" id="file_upload_modal">
        
        <div class="ui active inverted dimmer" id="loading_modal_div" style="display: none;">
            <div class="ui text loader">Loading... this will take 30-45 seconds...</div>
        </div>

        <div class="header">
            Upload your File
        </div>
        
        <div class="content">

            <form class="ui form" method="post" enctype="multipart/form-data">{% csrf_token %}
                
                <div class="required field">
                    <label>File Name</label>
                    <input type="text" name="file-name" placeholder="file name" id="user_file_name" required>
                    <span id="file_name_error_message" style="float: right; color: red; font-size: 13.5px; display: none;"></span>
                </div>
                
                <div class="required field">
                    <label>Choose File</label>
                    <input type="file" id="user_file" name="user_file" accept="application/pdf" required>
                    <span id="file_error_message" style="float: right; color: red; font-size: 13.5px; display: none;"></span>
                </div>
                
                <!-- <br/><br/> -->
                <!-- <button class="ui black button" type="submit" name="user_file_upload">Submit</button> -->

            </form>

        </div>

        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div id="file_upload_button" class="ui approve secondary button" type="submit">Upload</div>
        </div>

    </div>



    <script>
        
        // // Chat Scroll Height
        // var textarea = document.getElementById('chat');
        // textarea.scrollTop = textarea.scrollHeight;

        // Chat Functionality
        const chat = document.getElementById("chat");
        const chatInput = document.getElementById("chatInput");
        const sendButton = document.getElementById("sendButton");

        sendButton.addEventListener("click", sendMessage);
        chatInput.addEventListener("keydown", (event) => {
        
            if (event.keyCode == 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }

        });


        const initial_user_session = '{{ user_session }}';

        let anon_user_messages = [];
        if (initial_user_session == 'None'){

            let tmp_usr_messages = JSON.parse(localStorage.getItem("anon_user_messages"));

            // console.log('tmp-user-messages:', tmp_usr_messages)

            if (tmp_usr_messages != null){
                anon_user_messages = tmp_usr_messages

                if (anon_user_messages.length > 0){

                    for (idx = 0; idx <= anon_user_messages.length-2; idx += 2){

                        // let messageText = anon_user_messages[idx].split('Question: ')[1];
                        // let model_response_message = anon_user_messages[idx+1].split('Response: ')[1];

                        let messageText = anon_user_messages[idx]
                        let model_response_message = anon_user_messages[idx+1]

                        // console.log(idx, idx+1)
                        // console.log(messageText)
                        // console.log(model_response_message)
                        // console.log()

                        const message = document.createElement("div");
                        message.className = "message";
                        message.innerHTML = "<b>You:</b> " + messageText;
                        message.style.whiteSpace = 'pre-wrap'
                        chat.appendChild(message);

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);

                        // chat.scrollTop = chat.scrollHeight;

                    }

                }

            }

        }


        $("#chatInput").on('keyup', function(event) {
            
            var currentString = $("#chatInput").val()

            if (currentString.length > 0){

                $('#sendButton').removeClass('disabled');
                
            } else {
                $('#sendButton').addClass('disabled');
            }
           
        });


        // function sendMessage() {

        //     const messageText = chatInput.value.trim();

        //     if (messageText !== "") {

        //         console.log('message-text:', messageText)

        //         $('#chatInput').prop('disabled', true);

        //         $('#sendButton').hide();
        //         $('#primary_loading_button').show();

        //         const message = document.createElement("div");
        //         message.className = "message";
        //         message.innerHTML = "<b>You:</b> " + messageText;
        //         message.style.whiteSpace = 'pre-wrap'
        //         chat.appendChild(message);

        //         chat.scrollTop = chat.scrollHeight;
                
        //         chatInput.value = "";

        //         let uc_parent_obj_id = $('#uc_parent_obj_id').val();
        //         let user_conversation_obj_id = $('#user_conversation_obj_id').val();

        //         let d = {
        //             'message': messageText,
        //             'uc_parent_obj_id': uc_parent_obj_id,
        //             'user_ct_obj_id': user_conversation_obj_id,
        //             csrfmiddlewaretoken: '{{ csrf_token }}'
        //         };
                
        //         $.ajax({
        //             type: 'POST',
        //             url: "{% url 'handle_general_tutor_user_message' %}",
        //             dataType: "json",
        //             data: d,
        //             success: function (response) {

        //                 var model_response_dict = response['response'];
        //                 console.log('Response Dict:', model_response_dict)

        //                 var model_response_message = model_response_dict['response'];
        //                 model_response_message = model_response_message.replaceAll('\n', '<br/>');

        //                 console.log('Response:', model_response_message)

        //                 var user_question = model_response_dict['question'];

        //                 const responseMessage = document.createElement("div");
        //                 responseMessage.className = "message";
        //                 responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
        //                 // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
        //                 chat.appendChild(responseMessage);
                        
        //                 chat.scrollTop = chat.scrollHeight;

        //                 $('#chatInput').prop('disabled', false);
        //                 $('#sendButton').show();
        //                 $('#primary_loading_button').hide();

        //                 // let saved_obj_id = model_response_dict['uct_parent_obj_id'];
        //                 // $('#uc_parent_obj_id').val(saved_obj_id);
        //                 // var url = new URL(window.location.href);
        //                 // url.searchParams.set('pid', saved_obj_id);
        //                 // window.history.replaceState(null, null, url);

        //             },
        //             error: function (response) {}
                    
        //         });

        //     }

        // };


        function sendMessage() {

            const messageText = chatInput.value.trim();

            if (messageText !== "") {

                // console.log('message-text:', messageText)

                $('#chatInput').prop('disabled', true);

                $('#sendButton').hide();
                $('#primary_loading_button').show();

                const message = document.createElement("div");
                message.className = "message";
                message.innerHTML = "<b>You:</b> " + messageText;
                message.style.whiteSpace = 'pre-wrap'
                chat.appendChild(message);

                chat.scrollTop = chat.scrollHeight;
                
                chatInput.value = "";

                let uc_parent_obj_id = $('#uc_parent_obj_id').val();
                let user_conversation_obj_id = $('#user_conversation_obj_id').val();

                let prev_conversation_history = []
                if (initial_user_session == 'None'){
                    // anon user, fetch messages from localstorage
                    if (anon_user_messages.length > 0){

                        prev_conversation_history = anon_user_messages.slice( anon_user_messages.length-6, anon_user_messages.length )

                        // if (anon_user_messages.length > 6){

                        //     for (tidx = 1; tidx <= 6; tidx += 1){
                                
                        //         var tmp_value = anon_user_messages.length - tidx;
                        //         var tmp_st = anon_user_messages[tmp_value]
                        //         prev_conversation_history.push(tmp_st)

                        //     }

                        // } 
                        // else {

                        //     for (tidx = 1; tidx <= anon_user_messages.length; tidx += 1){
                                
                        //         var tmp_value = anon_user_messages.length - tidx;
                        //         var tmp_st = anon_user_messages[tmp_value]
                        //         prev_conversation_history.push(tmp_st)

                        //     }
                        
                        // }

                    }

                }

                let prev_conversation_history_st = ''
                if (prev_conversation_history.length > 0){
                    
                    prev_conversation_history_st = prev_conversation_history.join('\n');
                    
                }
                
                let d = {
                    'message': messageText,
                    'prev_conversation_history_st': prev_conversation_history_st,
                    'uc_parent_obj_id': uc_parent_obj_id,
                    'user_ct_obj_id': user_conversation_obj_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                
                $.ajax({
                    type: 'POST',
                    url: "{% url 'handle_general_tutor_user_message' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {

                        var model_response_dict = response['response'];
                        // console.log('Response Dict:', model_response_dict)

                        var model_response_message = model_response_dict['response'];
                        model_response_message = model_response_message.replaceAll('\n', '<br/>');

                        // console.log('Response:', model_response_message)

                        var user_question = model_response_dict['question'];

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);
                        
                        chat.scrollTop = chat.scrollHeight;

                        $('#chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();


                        // var final_question_st = "Question: " + messageText
                        // var final_response_st = "Response: " + model_response_message

                        if (initial_user_session == 'None'){
                            // var final_question_st = "Question: " + messageText
                            // var final_response_st = "Response: " + model_response_message

                            var final_question_st = messageText
                            var final_response_st = model_response_message
                            anon_user_messages.push(final_question_st)
                            anon_user_messages.push(final_response_st)
                            localStorage.setItem('anon_user_messages', JSON.stringify(anon_user_messages));
                        }

                    },

                    error: function (response) {}
                    
                });
                
            }

        };



        $('#chat_signup_button').click(function(){
            
            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/login';
            window.location.replace(new_url);

        });



        $('#user_file_upload_button').click(function(){
            
            $('#file_upload_modal').modal('show');

        });
        



        const MAX_UPLOAD_SIZE = 5000000;

        $('#file_upload_button').click(function(){

            // $('ui.tiny.modal').modal({closable: false}).modal('show');
            $('#file_upload_modal').modal({closable: false}).modal('show');

            let fileName = $('#user_file_name').val().trim();

            let form_data = new FormData();
            let file_data = document.getElementById('user_file').files;
            
            if (fileName.length > 0){

                if (file_data.length > 0){

                    $('#loading_modal_div').show();

                    // console.log('file-data:', file_data)
                    let userFile =  file_data[0];

                    if (fileName.length > 0){
                        
                        if (userFile.type == 'application/pdf'){
                                
                            let csrf_token_val = $('input[name="csrfmiddlewaretoken"]').val();
                            // console.log('csrf-token:', csrf_token_val)
                            form_data.append("user_file", userFile);
                            form_data.append("user_file_name", fileName);

                            if (userFile.size <= MAX_UPLOAD_SIZE){

                                var headers = {'HTTP_X_REQUESTED_WITH': 'XMLHttpRequest', 'X-CSRFToken': csrf_token_val};

                                $.ajax({
                                    type: 'POST',
                                    url: "{% url 'handle_user_file_upload' %}",
                                    dataType: "json",
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    headers: headers,
                                    data: form_data,
                                    success: function (response) { // display success response
                                        
                                        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/file_view/' + response['fid'];
                                        window.location.replace(new_url);

                                    },
                                    error: function (response) {
                                        // console.log("NOPEEEEEE")
                                    }
                                });
                                
                            } else {
                                
                                $('#file_error_message').text('');
                                $('#file_error_message').text('File Size greater than 10MB!');
                                $('#file_error_message').show();
                                $('#loading_modal_div').hide();

                            }
                            
                        }

                    } else {

                        $('#file_error_message').text('');
                        $('#file_name_error_message').text('Must have a filename');
                        $('#file_name_error_message').show();
                        $('#loading_modal_div').hide();

                    }

                } else {

                    $('#file_error_message').text('');
                    $('#file_error_message').text('Must upload a file!');
                    $('#file_error_message').show();
                    $('#loading_modal_div').hide();

                }

            } else {
              
                $('#file_error_message').text('');
                $('#file_name_error_message').text('Must have a filename');
                $('#file_name_error_message').show();
                $('#loading_modal_div').hide();

            }


            return false;

        });


    </script>


{% endblock %}

