<!-- Top Navbar -->
<div class="ui secondary menu">

    <div class="ui container">

        <div class="item navbar-logo">
            <i class="sitemap icon" style="font-size: 22px;"></i>
            &nbsp;
            Learning AI
        </div>

        <div class="right menu" style="margin-right: 12%;">
            <a class="item" href="{% url 'home' %}">
                Home
            </a>
            <a class="item" href="mailto:duggalr42@gmail.com">
                Contact
            </a>
        </div>

        <div class="right menu">
            
            <div class="item" id="dashboard_email">
            </div>
            
        </div>

    </div>

</div>