<!-- Footer -->

<div class="ui vertical footer segment" style="padding-top: 40px;">

    <div class="ui horizontal list" id="primary_footer_list">

        <a class="item" href="mailto:duggalr42@gmail.com">Contact</a>
        <div class="disabled item" href="#" >
            <span style="color: black; font-size: 18px;">
                © AI Tutor
            </span>
        </div>
        <a class="item" href="https://www.termsfeed.com/live/c5c1a392-d206-4a1c-b6f0-f5f768366b3e">Privacy</a>
        
    </div>

</div>