{% load static %}

<div class="ui secondary menu landing-navbar-parent">

    <div class="ui container">

        <div class="item landing-navbar-logo">
            <span>
                Companion
            </span>
        </div>

        <div class="right menu landing-navbar-links-div">

            <a class="item" href="">
                Playground
            </a>

            <a class="item" href="" >
                <!-- <i class="chess knight icon"></i> -->
                General Tutor
            </a>

            <a class="item" href="">
                About
            </a>

            <!-- <a class="item" href="">
                Github
            </a> -->

            <!-- <div class="item landing-navbar-button">
                <button class="ui basic black button auth_button">
                    Signup or Login
                </button>
            </div> -->

        </div>

    </div>

</div>

