{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'landing_navbar.html' %}

<!-- Section 1: Landing -->
<section class="animate__animated animate__fadeInUp" id="first_parent_section">

    <!-- <div class="ui grid container"> -->

        <div class="ui grid middle aligned landing-parent-grid">
        
            <div class="row">
                <div class="column">
                    
                    <div class="ui grid container">

                        <div id="first_landing_column" class="eight wide column" >

                            <h1 id="landing_header" class="ui header">
                                Your Code Companion.
                                <span style="font-size: 26px;">&#129489;&#8205;&#128187;</span>
                            </h1>
                
                            <p id="landing_helper_text">
                                A GPT-4 based programming tutor. 100% Free.
                            </p>
                
                            <p id="landing_page_description">
                                Code Companion is a GPT-4 based programming tutor, offering real-time help or feedback.
                                You can ask Code Companion questions on your own programming challenges, ie. LeetCode problems, 
                                or work through our <a href="{% url 'new_course_home' %}">curated Python exercises</a> which are designed 
                                to help you learn or hone your skills. 100% Free. 
                                <span style="font-size: 17px;">&#127922;</span>
                            </p>
                
                            <div id="landing_page_button_div">
                
                                <div class="ui animated secondary large basic button playground_button" tabindex="0">
                                    <div class="visible content">
                                        Try it in our Online Editor &#128221;
                                    </div>
                                    <div class="hidden content">
                                        <i class="code icon"></i>
                                    </div>
                                </div>
                                
                                &nbsp;&nbsp;
                
                                <div class="ui animated secondary large black button python_course_button" tabindex="0" >
                                    <div class="visible content">
                                        Learn Python with an AI Tutor &#129302;
                                    </div>
                                    <div class="hidden content">
                                        <i class="hand point right outline icon"></i>
                                    </div>
                                </div>
                                
                            </div> 
                
                        </div>

                        <div class="one wide column"></div>

                        <div id="second_landing_column" class="seven wide column">
                            <div>
                                <iframe width="110%" height="360" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe>
                            </div>        
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <!-- <div id="second_landing_column" class="eight wide column">

            <div style="margin-left: 30px;">
                <iframe width="95%" height="350" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe>
            </div>

        </div> -->

    </div>

</section>

{% endblock %}
