{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .landing-navbar-parent>.menu-links>.item{
            color: white;
            font-size: 20px;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            /* font-weight: <weight>;
            font-style: normal;
            font-variation-settings: "slnt" 0; */
        }

    </style>

    <div class="ui secondary menu landing-navbar-parent">

        <div class="item landing-navbar-logo">
            <!-- <span>
                Companion
            </span> -->
            <img src="https://superrare.com//static/media/sr-logo.be6813ba.svg" alt="SuperRare Logo" style="width: 140px;">
        </div>

        <div class="ui grid menu-links" style="padding-left: 25em; ">
            <a class="item" href="">
                Playground
            </a>
    
            <a class="item" href="">
                About
            </a>
    
            <a class="item" href="">
                Github
            </a>
        </div>

        <div class="right menu">

            <div class="item">
                <button class="ui basic black button">
                    Signup or Login
                </button>
            </div>

        </div>

    </div>

{% endblock %}
