{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

    </style>


    {% include 'landing_navbar.html' %}

    <!-- Section 1: Landing -->
    
    <section>

        <div class="ui two column centered grid">
            
            <div class="column" style="text-align: center; width: 75%; margin-top: 1.5%;">

                <h1 class="ui header" style="font-size: 32px; font-family: 'Raleway', sans-serif; padding-top: 0px; margin-top: 0px;">
                    AI Python Tutor
                </h1>
    
                <p style="font-size: 17px; line-height: 26px; font-family: 'Raleway', sans-serif; padding-top: 5px; line-height: 1.7em;">
                    Learn Python with a GPT-4 Powered Programming Tutor.
                    <br/>
                    See the demo below and try it in our playground. 100% Free.
                </p>
                
                <div id="main-button-row" style="padding-top: 10px; padding-bottom: 10px;">
                    
                    {% if user_session %}

                        <div class="ui animated medium black button" tabindex="0" id="dashboard_button">
                            <div class="visible content">
                                Your Dashboard
                            </div>
                            <div class="hidden content">
                            <i class="right arrow icon"></i>
                            </div>
                        </div>

                        <div class="ui animated medium black button" tabindex="0" id="playground_visit_button">
                            <div class="visible content">
                                Go to Playground.
                            </div>
                            <div class="hidden content">
                                <i class="code icon"></i>
                            </div>
                        </div>

                    {% else %}

                        <div class="ui animated medium black button" tabindex="0" id="account_create_button">
                            <div class="visible content">
                                Create an Account. 100% Free.
                            </div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </div>

                        <div class="ui animated medium black button" tabindex="0" id="account_create_button">
                            <div class="visible content">
                                Try the AI in our Playground.
                            </div>
                            <div class="hidden content">
                                <i class="code icon"></i>
                            </div>
                        </div>

                    {% endif %}
                    
                </div>

                <span style="color: gray; font-size: 12px;">
                    By creating an account, you will be able to save all your previous conversations and code you entered...
                </span>
    
                <div style="margin-top: 30px;">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>

            </div>
      
        </div>

    </section>


    <!-- Footer -->
    {% include 'landing_footer.html' %}



    <script>

        $('#dashboard_button').click(function(){

            window.location.href = 'dashboard';

        });


        $('#account_create_button').click(function(){

            window.location.href = 'login';

        });

        $('#playground_visit_button').click(function(){

            window.location.href = 'playground';

        });

    </script>


{% endblock %}


