{% load static %}

<div class="ui secondary menu landing-navbar-parent">

    <div class="item navbar-logo">
        <!-- <i class="magic icon" style="font-size: 20px; color: red;"></i> -->
        <!-- <img src="{% static 'icons/icon_one.png' %}" style="height: 10%; width: 20%;"> -->
        <a href="{% url 'landing' %}">
            <span>Companion</span>
        </a>
    </div>

    <div class="right menu nav-links-parent">

        <a class="item" href="{% url 'playground' %}">
            IDE
        </a>
        <a class="item" href="{% url 'general_cs_tutor' %}">
            Chat
        </a>
        <a class="item" href="{% url 'blog' %}">
            Blog
        </a>
        <a class="item" href="{% url 'about' %}">
            About
        </a>

        <div class="item" style="padding-left: 12px;">
            <button class="ui basic black button auth_button">
                Signup or Login
            </button>
        </div>

    </div>

</div>