<div class="ui left fixed vertical menu" id="main_left_menu">

    <div class="item">
        <a href="{% url 'landing' %}">
            <h3 id="primary_logo_title">
                <i class="code icon"></i>Companion
            </h3>
        </a>
    </div>

    <div class="item">
        <div class="menu" id="left_sub_menu" style="text-align: center;">

            <div class="ui animated disabled button new_chat_button" tabindex="0" style="font-size: 1rem">
                <div class="visible content"><i class="plus icon"></i> New Chat</div>
                <div class="hidden content">
                    <i class="plus icon"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="item">

        <h4>Past Conversations:</h4>
            
            <div style="text-align: center;">
                <div class="ui black animated button chat_register_account_button" tabindex="0">
                    <div class="visible content"><i class="sign-in icon"></i>Make an Account</div>
                    <div class="hidden content">
                        <i class="arrow right icon"></i>
                    </div>
                </div>
            </div>
            

        </div>

    </div>

</div>