<div class="ui left fixed vertical menu" id="main_left_menu">

    <div class="item">
        <a href="{% url 'landing' %}">
            <h3 id="primary_logo_title">
                <i class="code icon"></i>Companion
            </h3>
        </a>
    </div>

    <div class="item">
        <div class="menu" id="left_sub_menu" style="text-align: center;">

            {% if user_session is not none %}

                <div class="ui animated button new_chat_button" tabindex="0" style="font-size: 1rem">
                    <div class="visible content"><i class="plus icon"></i> New Chat</div>
                    <div class="hidden content">
                        <i class="plus icon"></i>
                    </div>
                </div>

            {% else %}

                <div class="ui animated disabled button new_chat_button" tabindex="0" style="font-size: 1rem">
                    <div class="visible content"><i class="plus icon"></i> New Chat</div>
                    <div class="hidden content">
                        <i class="plus icon"></i>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

    <div class="item" style="padding-top: 20px;">

        <h4 class="ui header">Your Past Conversations:</h4>
            
            {% if user_session is not none %}

                {% if all_user_conversation_list|length > 0 %}

                    <ul class="ui list user_past_conversation_list">
                        {% for li in all_user_conversation_list %}
                            <li style="padding-top: 15px;">
                                <a href="{% url 'general_cs_tutor' %}?tchid={{ li.1.id }}">{{ li.0 }} <span style="color: gray;">({{ li.2|length }})</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                
                {% else %}

                    <p style="color: gray;">no past conversations...</p>
                
                {% endif %}

            {% else %}

                <ul class="ui list user_past_conversation_list" style="display: none;"></ul>

                <div style="text-align: center; margin-top: 20px;">
                    <div class="ui black animated button chat_register_account_button" tabindex="0">
                        <div class="visible content"><i class="sign-in icon"></i>Make an Account</div>
                        <div class="hidden content">
                            <i class="arrow right icon"></i>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>

    </div>

</div>