    {% extends 'base.html' %}
    {% load static %}

    {% block content %}

    <style>

        .add_file_icon:hover{
            cursor: pointer;
        }

        .trash_icon:hover{
            cursor: pointer;
            color: red;
        }

        .file_name_header{
            /* color: black; */
            font-size: 16px;
        }

        .file_name_header:hover{
            cursor: pointer;
            color: lightblue;
        }

        #lesson_header{
            /* font-family: 'Raleway', sans-serif; */
        }

    </style>


    {% include 'dashboard_navbar.html' %}


    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column" style="padding-top: 30px;">

            <h3 id="lesson_header">
                Description
            </h3>

            <div class="ui basic segment" style=" padding-bottom: 5px;" >

                <p style="font-size: 15px;">
                    <strong>
                        Welcome! Below are several exercises, to help you learn the foundational concepts in Python Programming.                        
                    </strong>
                    <br/><br/>
                    The exercises are ordered by level of difficulty, where they continue to get harder the further down you go.
                    <br/><br/>
                    <strong>The goal of these exercises are to:</strong>
                    <ul class="ui list" style="padding-bottom: 0px;">
                        <li style="font-size: 15px;">Provide you with a solid understanding of the foundational concepts in Python programming.</li>
                        <li style="font-size: 15px;">Leverage Code Companion, to whom you can turn when you need assistance or have questions.</li>
                    </ul>

                    <br/>
                    <strong style="font-size: 15px;">Here are a few videos I made going through some of the exercises below, with Code Companion's help:</strong>
                    <ul class="ui list" style="padding-bottom: 0px;">
                        <li style="font-size: 15px;">
                            <a href="https://www.youtube.com/watch?v=iX8f-JSz5kE" target="_blank" rel="noopener noreferrer">
                                Going through a Python Exercise with Code Companion
                            </a>
                        </li>
                        <li style="font-size: 15px;">
                            <a href="https://www.youtube.com/watch?v=ncAaBK_Iw8E" target="_blank" rel="noopener noreferrer">
                                Solving a LeetCode Problem with Code Companion
                            </a>
                        </li>
                    </ul>

                    <!-- The exercises are suited for those who are new to Python, or want to brush up on the fundamentals. -->
                    <!-- If you are new to Python or want to brush up on the basics, check out a few videos I made here (TODO:), where I explain some fundamental concepts while going through some of the exercises below. -->
                    <!-- <br/><br/> -->
                    
                    <!-- <br>
                    - Provide you with a solid understanding of the foundational concepts in Python programming.
                    <br>
                    - Leverage Code Companion, whom you can ask questions to when you need help.
                    <br/><br/> -->
                    <!-- It aims to provide you with a high-level understanding of foundational concepts in Python programming.
                    <br/><br/>
                    <strong>
                        This course is exercise heavy! It is primarily tailored for those who learn by doing.
                        You'll also have access to Code Companion, a personalized Tutor (powered by GPT-4), whom you can ask questions to when you need help.
                    </strong> While it won't provide answers, it will offer valuable hints and steer you in the right direction.
                    <br/><br/>                    
                    Each lesson offers valuable links to key concepts at the top. If you prefer a lecture-based course, you may consider starting with <a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/">this</a>. You can always return here later to complete the exercises.
                    <br/><br/>
                    I hope this course can serve as a starting point on your journey into the world of computer science. -->
                </p>
                
            </div>

            <h3 id="lesson_header">
                <!-- <i class="pencil alternate icon" style="font-size: 13px;"></i>Exercises: -->
                Exercises:
            </h3>

            <div class="ui middle aligned divided list" style="width: 92%; padding-top: 0px; padding-left: 20px; padding-bottom: 10px;">

                {% for qobj in questions %}

                    <div class="item">

                        <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                            <div class="header" style="font-size: 15.5px;">
                                <a class="file_name_header" href="{% url 'playground' %}?lqid={{ qobj.id }}">
                                    {{ qobj.question_name }}
                                </a>
                            </div>
                        
                            <div style="padding-top: 14px; ">
                                
                                <span style="font-size: 12.5px; color: gray; float: left;">
                                    <i class="clock outline icon"></i>
                                    Uploaded: {{ qobj.created_at|date }}
                                </span>

                            </div>

                        </div>

                    </div>

                {% endfor %}



            </div>

        </div>

        <div class="two wide column"></div>

    </div>        


{% endblock %}


