{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        
    </style>


    {% include 'dashboard_navbar.html' %}


    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="thirteen wide column" style="padding-top: 30px;">

            <!-- <div style="padding-top: 26px; display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" >
                    <i class="comments icon" style="font-size: 24px;"></i>
                    Your Questions:
                </h3>

            </div> -->
        
            <!-- <div style="padding-top: 20px;">

                <h3 id="lesson_header">
                    <i class="book icon" style="font-size: 16px;"></i>Lesson: Variables, Data Types, String Manipulation
                </h3>

            </div> -->

            <!-- <div class="ui basic segment">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div> -->

            <h3 id="lesson_header" >
                Description
            </h3>

            <div class="ui basic segment" >

                <p style="font-size: 15.5px;">
                    <strong>Welcome! This online course is designed to introduce you to Python programming.</strong>
                    <br/><br/>
                    It aims to provide you with a high-level understanding of foundational concepts in Python programming, enabling you to confidently solve small, specific problems.
                    <br/><br/>
                    <strong>This course is entirely exercise-based, tailored for those who learn by doing.</strong> You'll also have access to a personalized Tutor (powered by GPT-4), who will guide you and review all your submissions. While it won't provide answers, it will offer valuable hints and steer you in the right direction.
                    <br/><br/>
                    Each lesson offers valuable links to key concepts at the top. If you prefer a lecture-based course, you may consider starting with <a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/">this</a>. You can always return here later to complete the exercises.
                    <br/><br/>
                    I hope this course can serve as a starting point on your journey into the world of computer science.
                </p>

                <!-- <p>
                    This online course is designed to help you get an introduction in python. 
                    It aims to provide you with a high-level understanding of the foundational concepts in python programming, giving you the confidence to write small problems which solve specific problems.
                    <br/><br/>
                    <strong>This course is entirely based on completing exercises.</strong> It is meant for those who enjoying learning by doing. 
                    You will also have access to a personalized Tutor (powered by GPT-4), who will help guide you and review all your submissions.
                    It will not give you the answer, but will definitely provide useful hints and guide you in the right direction.
                    <br/><br/>
                    Useful links on key concepts are provided at the top for each lesson. If you enojy a lecture-based course, I would recommend studying this <a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/">one</a> instead. 
                    You could potentially come back here afterwards, to complete all the exercises.
                    <br/><br/>
                    Hopefully this course can serve as a starting point, in your CS journey.
                </p> -->
                
            </div>


            <div class="ui middle aligned divided list" style="width: 100%; padding-top: 5px; padding-left: 10px;">
                
                {% for lobj in lesson_objects %}

                    <div class="item">

                        <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                            <div class="header" style="font-size: 15.5px;">
                                <a class="file_name_header" href="{% url 'questions' lid=lobj.id %}">
                                    {{ lobj.title }}
                                </a>
                            </div>

                            <div style="padding-top: 14px; ">
                                
                                <span style="font-size: 12.5px; color: gray; float: left;">
                                    <i class="clock outline icon"></i>
                                    Uploaded: {{ lobj.created_at }}
                                </span>

                            </div>

                        </div>

                    </div>

                {% endfor %}

                <!-- <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 15.5px;">
                            <a class="file_name_header" href="">
                                Lesson 2: Conditionals (If/Else)
                            </a>
                        </div>

                        <div style="padding-top: 14px; ">
                            
                            <span style="font-size: 12.5px; color: gray; float: left;">
                                <i class="clock outline icon"></i>
                                Uploaded: 2023-09-01
                            </span>

                        </div>

                    </div>

                </div>

                <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 15.5px;">
                            <a class="file_name_header" href="">
                                Lesson 3: For Loops
                            </a>
                        </div>

                        <div style="padding-top: 14px; ">
                            
                            <span style="font-size: 12.5px; color: gray; float: left;">
                                <i class="clock outline icon"></i>
                                Uploaded: 2023-09-01
                            </span>

                        </div>

                    </div>

                </div>


                <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 15.5px;">
                            <a class="file_name_header" href="">
                                Lesson 4: While Loops
                            </a>
                        </div>

                        <div style="padding-top: 14px; ">
                            
                            <span style="font-size: 12.5px; color: gray; float: left;">
                                <i class="clock outline icon"></i>
                                Uploaded: 2023-09-01
                            </span>

                        </div>

                    </div>

                </div>

                <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 15.5px;">
                            <a class="file_name_header" href="">
                                Lesson 5: Lists/Dictionaries
                            </a>
                        </div>

                        <div style="padding-top: 14px; ">
                            
                            <span style="font-size: 12.5px; color: gray; float: left;">
                                <i class="clock outline icon"></i>
                                Uploaded: 2023-09-01
                            </span>

                        </div>

                    </div>

                </div>

                <div class="item">

                    <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                        <div class="header" style="font-size: 15.5px;">
                            <a class="file_name_header" href="">
                                Lesson 6: Side Projects
                            </a>
                        </div>

                        <div style="padding-top: 14px; ">
                            
                            <span style="font-size: 12.5px; color: gray; float: left;">
                                <i class="clock outline icon"></i>
                                Uploaded: 2023-09-01
                            </span>

                        </div>

                    </div>

                </div>

            </div> -->

        </div>

        <!-- <div class="two wide column"></div> -->

    </div>


{% endblock %}
