{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        
        #first_landing_column{
            width: 100%; 
            margin-top: 10%;
        }

        #landing_header{
            font-size: 26px; 
            font-family: 'Raleway', sans-serif; 
        }

        #landing_helper_text{
            font-weight: 500; 
            font-size: 21px; 
            font-family: 'Raleway', sans-serif; 
            padding-top: 6px; 
            line-height: 1.9em;
            color: #36454F;
            /* letter-spacing: 0.8px; */
        }

        #landing_page_description{
            color: #36454F;
            font-size: 15px;
            line-height: 1.6em;
        }

        #landing_page_button_div{
            margin-top: 30px;
        }

        #second_landing_column{
            /* margin-left: 30px; */
            margin-top: 9%;
        }
        
        #course-section{
            padding-left: 12em;
            padding-right: 12em;
            padding-top: 3em;
            padding-bottom: 2em;
        }

        #landing_course_description{
            padding-top: 20px;
            padding-bottom: 0px;
            font-size: 16px;
            color: #36454F;
            line-height: 1.8em;
        }
        
        #vertical_section_header{
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            font-weight: 500;
        }

        #demo_link{
            font-size: 15px;
            color: #5865f2;
        }

    </style>


    {% include 'new_landing_navbar_three.html' %}

    <!-- Section 1: Landing -->
    <section>

        <div class="ui grid container">

            <div id="first_landing_column" class="eight wide column">

                <h1 id="landing_header" class="ui header animate__animated">
                    Your Code Companion.
                    <span style="font-size: 26px;">&#129489;&#8205;&#128187;</span>
                </h1>

                <p id="landing_helper_text">
                    A GPT-4 based programming tutor. 100% Free.
                </p>

                <!-- <div class="ui basic segment"> -->
                <p id="landing_page_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut faucibus sapien. Praesent ut bibendum leo. 
                    Cras aliquam a ipsum sed pharetra. Suspendisse commodo commodo turpis ac ullamcorper.
                </p>
                <!-- </div> -->

                <div id="landing_page_button_div">

                    <div class="ui animated secondary large basic button playground_button" tabindex="0">
                        <div class="visible content">
                            Try it in our Online Editor
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>
                    
                    &nbsp;&nbsp;

                    <div class="ui animated secondary large black button playground_button" tabindex="0" >
                        <div class="visible content">
                            Learn Python with an AI Tutor!
                        </div>
                        <div class="hidden content">
                            <i class="hand point right outline icon"></i>
                        </div>
                    </div>
                    
                </div> 
                  

            </div>

            <div id="second_landing_column" class="eight wide column">

                <div>
                    <!-- <iframe width="95%" height="350" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe> -->
                    <iframe width="95%" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
                

            </div>

        </div>

    </section>


    <!-- Divider -->
    <div class="ui vertical stripe segment" style="margin-top: 6%;"></div>
    <!-- <div style="margin-top: 10%;"></div> -->

    <!-- Section 2: Course Introduction -->
    <section >

        <div class="ui vertical stripe segment" id="course-section">
    
            <div class="ui middle aligned stackable grid container">
        
                <div class="ui centered row" id="third_section_row">

                    <div class="ui basic segment" style="padding-top: 0px; margin-top: 0px;">

                        <h2 class="ui header" id="vertical_section_header">
        
                            <div class="content" >
                                <!-- <i class="code icon" style="font-size: 20px;"></i> -->
                                Learn Python with an AI Tutor &#128218;
                            </div>
        
                        </h2>

                        <span>
                            <a id="demo_link" href="https://discord.gg/bmMj4z5f" target="_blank" rel="noopener noreferrer">
                                <i class="discord icon"></i>
                                Get help in our Discord Community
                            </a>
                        </span>
    
                        <!-- <p style="line-height: 1.75em; font-size: 16px; padding-top: 10px;"> -->
                        <p id="landing_course_description">
                            Learn Python for free online through a course that focuses on exercises. Each section includes a short video introducing concepts, and you'll have an AI Tutor to guide you through the video and exercises.

                            <!-- Learn Python, through a free online course.
                            <br/>
                            This course is structured to be exercise heavy, with one brief video introducing the concepts for that
                            particular section.
                            <br/>
                            You will have the AI Tutor with you at all times, to help you go through the video, along with completing the
                            exercises. -->
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis, 
                            mauris nulla auctor nibh, quis tincidunt tellus ex quis velit. -->
                        </p>
                 
                    </div>

                    <div class="ui styled fluid accordion">
                        
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Data Types (Strings, Integers, Floats, Boolean), Operators, User Input
                        </div>
                        <div class="content" >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Introduction to Functions
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>
                        
                        <div class="title">
                            <i class="dropdown icon"></i>
                            If / Else Statements, Boolean Logic
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Strings
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            For Loop
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Lists
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            While Loops
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
    </section>

    



    <!-- Footer -->
    {% include 'landing_footer.html' %}


    <script>

        // $("#landing_header").hover(function () {
            
        //     $(this).toggleClass("animate__bounce");
        
        // });

        $('.ui.accordion').accordion();

    </script>


{% endblock %}


