{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>


        #landing_header:hover{
            color: black;
            transform: scale(1.1);
            transition: all ease 500ms;
        }

        #demo_link:hover{
            font-weight: bold;
        }


        #second_section_main_div, #third_section_main_div{
            padding-left: 8em;
            padding-right: 8em;
            padding-top: 6em;
            padding-bottom: 4em;
        }

        #primary_lp_section_divider{
            padding-top: 4em;
        }


        #lp_section_divider_header_div{
            background-color: black;
            width: 110%;
        }

        #lp_section_divider_header_div > h2{
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-size: 38px;
        }

        #lp_section_divider_header_div > h2:hover{
            color: #6f1ee1;
        }

        /* #lp_section_divider_header_div > h2:hover{
            color: #6f1ee1;
        } */

        /* #main_first_column{
            margin-bottom: 0%
        } */


        #vertical_section_list > .item{    
            margin: 5px 0;    
            /* font-weight: 700; */
        }

        #vertical_section_list > .item .content .description{    
            font-size: 15px;
            line-height: 1.4em; 
            letter-spacing: 0.1px;
            color: rgba(0, 0, 0, 0.87);
            /* font-weight: 700;  */
            /* color: #181818; */
            /* color: #4c4c4c; */
        }

    </style>


    {% include 'landing_navbar.html' %}


    <!-- Section 1: Landing -->

    <section>

        <div class="ui two column centered grid">

            <div class="column" style="text-align: center; width: 100%;  margin-top: 2%;">

                <h1 id="landing_header" class="ui header" style="font-size: 32px; font-family: 'Raleway', sans-serif; padding-top: 0px; margin-top: 0px;">
                    Code Companion
                </h1>

                <span style="font-size: 14.5px; color: gray; ">
                    Fostering a more Personalized Educational Experience. Powered by GPT-4. 
                    &nbsp;
                    <a id="demo_link" href="https://www.youtube.com/watch?v=iju3yQSQNF4" target="_blank" rel="noopener noreferrer">
                        Watch the Demo.
                    </a>
                </span>

                <p style="font-weight: 500; font-size: 17.5px; font-family: 'Raleway', sans-serif; padding-top: 12px; line-height: 1.9em;">
                    AI-Powered Personal Tutor for Students. &nbsp; AI-Powered Personal Assistant for Teachers.
                </p>

                <div id="main-button-row" style="padding-top: 0px; padding-bottom: 10px;">
               
                    <div class="ui animated medium black button" tabindex="0">
                        <div class="visible content">
                            Interested? Speak with the Founder
                        </div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>

                    <div class="ui animated medium black button" tabindex="0" >
                        <div class="visible content">
                            Try the Tutor for free in our Playground
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>

                </div>

                <div style="margin-top: 30px;">
                    <!-- <iframe width="800" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
                    <video id="landing_demo_video" width="1000"  name="Landing Demo" loop="true" autoplay="autoplay" controls muted>
                        <source src="https://file-app-bucket.s3.ca-central-1.amazonaws.com/landing_demo.mov">
                    </video>
                </div>

            </div>

        </div>

    </section>


    <!-- Divider -->
    <div class="ui vertical stripe segment" style="margin-top: 2.5%;">
    </div>

    
    <!-- Section 2: Teacher Section -->

    <div class="ui vertical stripe segment" id="second_section_main_div">
    
        <div class="ui middle aligned stackable grid container">
    
            <div class="row" id="third_section_row">

                <div class="eight wide column" id="main_first_column">
    
                    <h2 class="ui header" id="vertical_section_header">
    
                        <!-- <i class="plug icon" style="font-size: 26px;"></i> -->
                        <i class="users icon" style="font-size: 20px;"></i>
                        <div class="content" style="font-family: 'Raleway', sans-serif;">
                            For Teachers
                        </div>
    
                    </h2>
    
                    <div class="ui basic segment">
    
                        <div class="ui list" id="vertical_section_list">
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Utilize GPT-4 as your personalized assistant, to help design comprehensive lesson plans tailored to your curriculum and teaching style.                
                                    </div>
                                </div>
                            </a>
    
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">     
                                        Easily create CS questions and exercises directly on our platform.
                                        <!-- Easily integrate custom questions and exercises directly onto our platform to encourage student participation and active learning. -->
                                    </div>
                                </div>
                            </a>
    
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Gain insights into student progress, to enable a deeper understanding of individual student needs.
                                        <!-- Gain real-time insights into student progress, enabling timely interventions and a deeper understanding of individual student needs. -->
                                    </div>
                                </div>
                            </a>
    
                            <!-- <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Receive personalized recommendations on each student's comprehension levels and learning preferences, allowing you to tailor your teaching strategies for optimal impact. (soon...)
                                    </div>
                                </div>
                            </a> -->
                            

                        </div>
    
                    </div>


                    <div class="ui animated medium black button" tabindex="0">
                        <div class="visible content">
                            Interested in trying it out for your class? Speak with our Founder!
                        </div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
    
                </div>

                <div class="seven wide right floated column">
    
                    <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
    
                </div>

    
            </div>
    
        </div>
    
    </div>


    <!-- Third Section: Student Section -->

    <div class="ui vertical stripe segment" id="third_section_main_div">

        <div class="ui middle aligned stackable grid container">
    
            <div class="row" id="third_section_row">

                <div class="eight wide column" id="main_first_column">
    
                    <h2 class="ui header" id="vertical_section_header">
    
                        <!-- <i class="plug icon" style="font-size: 26px;"></i> -->
                        <i class="child icon" style="font-size: 20px;"></i>
                        <div class="content" style="font-family: 'Raleway', sans-serif;">
                            For Students
                        </div>
    
                    </h2>
    
                    <div class="ui basic segment">
    
                        <div class="ui list" id="vertical_section_list">
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        A personalized tutor, available to provide help and enhance your thinking,
                                        enabling you to develop a deeper understanding of the material.
                                    </div>
                                </div>
                            </a>
    
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">                                
                                        Leverage our in-built code editor, with instant feedback and support available
                                        from your AI Tutor.
                                    </div>
                                </div>
                            </a>
    
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Ability to get personalized explanations, questions or quizzes,
                                        from the AI.
                                    </div>
                                </div>
                            </a>
    
                        </div>
    
                    </div>

                    <div class="ui animated medium black button" tabindex="0" >
                        <div class="visible content">
                            Try the Tutor for free in our Playground
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>
    
                </div>


                <div class="seven wide right floated column">
    
                    <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
    
                </div>

    
            </div>
    
        </div>
    
    </div>


    <!-- Footer -->
    {% include 'landing_footer.html' %}


{% endblock %}


