{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .add_file_icon:hover{
            cursor: pointer;
        }

        .trash_icon:hover{
            cursor: pointer;
            color: red;
        }

        .file_name_header{
            color: black;
            font-family: 'Raleway', sans-serif;
            font-size: 14.5px;
        }

        .file_name_header:hover{
            cursor: pointer;
            color: lightblue;
        }

        .add_code_icon:hover{
            cursor: pointer;
            color: lightblue;
        }

        .ui.tabular.menu .active.item {
            background: #f9f9f9;
        }

        #dashboard_header{
            font-family: 'Raleway', sans-serif;
        }

        .tab_header{
            font-family: 'Raleway', sans-serif;
        }

    </style>


    {% include 'new_landing_navbar_three.html' %}

    <div class="ui grid container">
        
        <div class="two wide column"></div>

        <div class="twelve wide column" style="padding-bottom: 40px;">

            <div style="padding-top: 15px;">
                <h3 class="ui header" id="dashboard_header">
                    &#128216; Dashboard
                </h3>
            </div>

            <div class="ui tabular menu" style="padding-top: 12px;">

                <a class="active item tab_header" id="course_questions_tab">
                    <i class="code icon" style="font-size: 13px;"></i>
                    Course Progress
                </a>

                <a class="item tab_header" id="questions_tab">
                    <i class="code branch icon" style="font-size: 13px;"></i>
                    Your Code Files
                </a>

                <!-- <a class="disabled item tab_header" id="files_tab">
                    <i class="file pdf icon" style="font-size: 13px;"></i>
                    Saved Files
                </a> -->

                <div class="right menu">
                    <div class="item">
                        <a href="{% url 'playground' %}">
                            <i class="plus icon"></i>
                            Start a New Question
                        </a>
                    </div>
                </div>

            </div>


            <!-- Main Code Div -->
            <div id="main_code_div" class="ui middle aligned divided list" style="width: 100%; padding-top: 0px; display: none;">

                {% if user_code_list|length > 0 %}

                    {% for cdi in user_code_list %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                {% if cdi.code_obj.lesson_question_obj is not None %}

                                    <div class="header" style="font-size: 15.5px;">
                                        <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}&lqid={{ cdi.code_obj.lesson_question_obj.id }}">
                                            &#128220; {{ cdi.code_obj.code_unique_name }}
                                        </a>
                                    </div>

                                {% else %}

                                    <div class="header" style="font-size: 15.5px;">
                                        <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}">
                                            &#128220; {{ cdi.code_obj.code_unique_name }}
                                        </a>
                                    </div>

                                {% endif %}

                  
                                <div style="padding-top: 14px;">
                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Uploaded: {{ cdi.code_obj.created_at|date }}                                
                                    </span>
                                    
                                    <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>
                                    
                                    <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">
                                        <i class="hashtag icon"></i>Messages: {{ cdi.user_conv_obj_count }}
                                    </span>
                                    
                                    <!-- <span style="float: right; font-size: 12px;">                            
                                        <i class="trash icon trash_icon"></i>
                                    </span> -->

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                
                {% else %}

                    <div class="ui placeholder segment">

                        <div class="ui icon header" style="font-size: 16px; line-height: 1.3em; font-weight: 600;">
                            <i class="code branch icon"></i>
                            No Code Files Saved.
                            <br/><br/>
                            <li>
                                You can run your code while asking Code Companion for help in our <a href="{% url 'playground' %}">playground</a>.
                            </li>
                            <br/>
                            <li>
                                Feel free to also browse through and try some beginner  <a href="{% url 'practice_questions' %}">python exercises</a> on the site.
                            </li>
                        </div>

                    </div>

                {% endif %}

            </div>


            <!-- Main Course Questions -->
            <div id="main_course_questions_div" class="ui middle aligned divided list" style="width: 100%; padding-top: 0px;">
                
                <h4 style="text-align: right;">
                    <span style="color: rgb(36, 36, 255);">
                        Course Questions: {{ pt_course_code_objects|length }} out of {{ total_lesson_questions }} done!
                        &#128519;
                    </span>
                    <br/>
                    <a href="{% url 'new_course_home' %}" style="font-size: 14px; font-weight: 400;">
                        Go to course
                    </a>
                </h4>
                

                {% if pt_course_code_objects|length > 0 %}

                    {% for ptc_obj in pt_course_code_objects %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                <div class="header" style="font-size: 15.5px;">
                                    <!-- <a class="file_name_header" href="{% url 'playground' %}?cid={{ cdi.code_obj.id }}&lqid={{ cdi.code_obj.lesson_question_obj.id }}"> -->
                                    <a class="file_name_header" href="{% url 'new_course_playground' %}?pcqid={{ ptc_obj.lesson_question_obj.id }}">
                                        &#128220; {{ ptc_obj.code_unique_name }}
                                    </a>
                                </div>
                
                                <div style="padding-top: 14px;">
                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Uploaded: {{ ptc_obj.created_at|date }}                                
                                    </span>
                            
                                </div>

                            </div>

                        </div>

                    {% endfor %}

                {% else %}

                    <div class="ui placeholder segment">

                        <div class="ui icon header" style="font-size: 16px; line-height: 1.3em; font-weight: 600;">
                            <i class="pdf file outline icon"></i>
                            No Exercises Completed.
                            <br/><br/>
                            <li>
                                Visit the <a href="{% url 'new_course_home' %}">Course</a>, and start completing the exercises now!
                            </li>
                        </div>

                    </div>

                {% endif %}

            </div>


            <!-- Main File Div -->
            <!-- <div id="main_file_div" class="ui middle aligned divided list" style="width: 100%; padding-top: 0px; display: none;">

                {% if user_file_objects|length > 0 %}

                    {% for uf_obj in user_file_objects %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                <div class="header" style="font-size: 15.5px;">
                                    <a class="file_name_header" href="{% url 'user_file_view' file_id=uf_obj.id %}">
                                        {{ uf_obj.file_name }}
                                    </a>
                                </div>

                                <div style="padding-top: 14px;">
                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Uploaded: {{ uf_obj.uploaded_at|date }}                                
                                    </span>

                                </div>

                            </div>

                        </div>

                    {% endfor %}

                {% else %}

                    <div class="ui placeholder segment">

                        <div class="ui icon header" style="font-size: 16px; line-height: 1.3em; font-weight: 600;">
                            <i class="pdf file outline icon"></i>
                            No Files saved.
                            <br/><br/>
                            <li>
                                Upload and talk to your files, by going to your <a href="{% url 'general_cs_tutor' %}">assistant page</a>.
                            </li>
                        </div>

                    </div>

                {% endif %}


            </div> -->


        </div>


        <div class="two wide column"></div>


    </div>




    <script>

        $('.tabular.menu .item').tab();

        $('#questions_tab').click(function(){

            $('#questions_tab').addClass('active');
            $('#course_questions_tab').removeClass('active');

            $('#main_code_div').show();
            $('#main_course_questions_div').hide();

        });

        $('#course_questions_tab').click(function(){

            $('#course_questions_tab').addClass('active');
            $('#questions_tab').removeClass('active');

            $('#main_course_questions_div').show();
            $('#main_code_div').hide();

        });

        // $('#files_tab').click(function(){

        //     $('#files_tab').addClass('active');
        //     $('#questions_tab').removeClass('active');

        //     $('#main_file_div').show();
        //     $('#main_code_div').hide();

        // });


    </script>

{% endblock %}

