{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        #code-column{
            padding-top: 15px;
            padding-left: 0px;
        }

        .code-editor {
            border: 1px solid #d4d4d5;
            width: 100%;
            /* height: 100%; */
            /* padding-top: 0px;
            margin-top: 0px; */
        }

        #code {
            width: 100%;
            /* height: auto; */
            word-break: break-word;
        }


        #tabular-menu-column{
            padding-top: 40px;
        }

        .ui.tabular.menu .active.item {
            background: #f9f9f9;
        }

        #output {
            width: 100%;
            /* height: 100%; */
            height: 100%;
            border: none; /* Remove border from both code and output textarea */
            resize: none;
        }
        
        .output-code {
            /* Add any additional styling for the output segment here */
            border: 1px solid #d4d4d5;
            /* width: 100%;
            height: 100%; */

        }

        #clear_output_link{
            color: #1e70bf;
            font-size: 14.5px; 
            font-weight: 500; 
            padding-left: 5px;
        }

        #clear_output_link:hover{
            font-weight: bold;   
            cursor: pointer;       
        }

        .chat-container {
            height: 400px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow-y: auto;
            padding: 15px;
            margin-top: 20px;
        }

        .message {
            margin-bottom: 15px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .input-container {
            display: flex;
            margin-top: 20px;            
        }

        .input-box {
            /* flex-grow: 1; */
            padding: 10px;
            border-radius: 5px;
        }

    </style>

    
    {% include 'new_landing_navbar_three.html' %}


    <div class="ui grid container">

        <!-- Code Editor -->
        <div class="eight wide column" id="code-column">

            <div style="display: flex; align-items: center; padding-top: 15px;">

                <h4 style="margin: 0;">

                    <span id="code_file_name_text" style="font-size: 16px;">
                        <span style="font-size: 20px;">
                            &#128195; 
                        </span>
                        Your Code
                    </span>
                    
                </h4>

            </div>

            <div style="margin: 0; padding-top: 2px;">
                <span style="color: gray; font-size: 11px; ">
                    Make a <a href="{% url 'login' %}">free account</a>, to save your code.
                </span>
            </div>

            <div class="ui segment code-editor" style="margin-top: 10px;">
                <textarea id="code"></textarea>
            </div>

        </div>


        <!-- Code Tab Menu -->
        <div class="eight wide column" id="tabular-menu-column">
    
            <div class="ui tabular menu tab-menu">
                
                <a class="item active" id="lesson_question_tab">
                    <i class="bug icon"></i> Console
                </a>                

                <a class="item" id="lesson_ai_tutor_tab">
                    <i class="comment icon"></i> AI Tutor 
                </a>

            </div>

            <!-- Programming Question -->
            <div id="programming_question_div">

                <div style="text-align: left;">

                    <div class="small ui animated black button" tabindex="0" onclick="evaluatePython()">
                        <div class="visible content">Run</div>
                        <div class="hidden content">
                            <i class="play icon"></i>
                        </div>
                    </div>

                    <!-- <div class="small ui animated positive button" tabindex="0" onclick="handleSolutionSubmit()">
                        <div class="visible content">Get Feedback</div>
                        <div class="hidden content">
                            <i class="check icon"></i>
                        </div>
                    </div> -->

                </div>


                <div style="margin-top: 5px;">
                    <span style="color: gray; font-size: 12px;">
                        Ask the AI for advice or help by clicking the 'AI Tutor' tab above.
                    </span>
                </div>
                


                <!-- <h4 class="ui header" style="padding-top: 20px; margin-top: 0px;">
                    Programming Problem you are working on:
                    <span>
                        <button>
                            edit
                        </button>
                    </span>
                </h4>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec turpis ut ipsum fringilla accumsan.
                </p> -->

                <!-- <h4 class="ui header" style="padding-top: 0px; margin-top: 0px;">
                    Question:
                </h4>

                <p>
                    {{ pc_question_obj.question_text|linebreaks }}
                </p>

                <h4 class="ui header" style="padding-top: 0px;">
                    Test Cases:
                </h4> -->

                <!-- {% if pt_course_test_case_examples|length > 0 %}

                    <table class="ui celled table">

                        <thead>
                            <tr>
                                <th>Input</th>
                                <th>Output</th>
                                <th>Correct</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for tobj in pt_course_test_case_examples %}

                                <tr>
                                    <td data-label="Input">{{ tobj.input_param }}</td>
                                    <td data-label="Output">{{ tobj.correct_output }}</td>
                                    <td id="status_{{ tobj.id }}" data-label="Correct"></td>
                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                {% else %}
                    
                    <p style="color: gray;">No test cases created for this question.</p>

                {% endif %} -->


                <h4 class="ui header" style="padding-top: 0px;">
                    Console Output:
                    <span id="clear_output_link" style="font-size: 14px;">Clear Output</span>
                </h4>

                <div class="ui segment output-code">
                    <textarea rows="13" id="output" disabled></textarea>
                </div>

            </div>


            <!-- AI Tutor -->
            <div id="ai_tutor_div" style="display: none;">

                <!-- Programming Assistant Tab -->
                <div id="programming_assistant_div">
                    
                    <div class="chat-container" id="chat">
                        
                        <div class="message">
                            <strong>Welcome! &nbsp; &#128588</strong>&nbsp;
                            I'm Code Companion, your personal programming tutor.
                            <br/><br/>
                            If you are running into a problem such as a bug in your code, or need help understanding a concept, ask me and I will be more than happy to help.
                            <br/><br/>
                            You can also use me to generate more practice questions for you, for specific concepts you want further review on.
                            <br/><br/>
                            I won't give you the answer, but will definitely point you in the right direction! &#128512;

                        </div>

                        <hr>

                        <br/>
                        {% for ucs_obj in user_conversation_objects %}
                        
                            <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                            <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>

                        {% endfor %}

                    </div>
                    

                    {% if user_session is not None %}

                        <div class="input-container">
            
                            <div class="ui form" style="width: 100%;">
                                <div class="field">
                                    <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                                </div>                    
                            </div>
                            &nbsp;
                            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                        </div>

                        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                            Answer Response usually takes 15-30 seconds. (this will get better soon...)
                        </span>

                    {% else %}

                        <div class="input-container">
            
                            <div class="ui form" style="width: 100%;">
                                <div class="field">
                                    <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                                </div>                    
                            </div>
                            &nbsp;
                            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                        </div>

                        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                            Answer Response usually takes 15-30 seconds. (this will get better soon...)
                        </span>

                    {% endif %}

                </div>

            </div>

        </div>
        
    </div>




    <script>

        $('.tabular.menu .item').tab();

        $('#lesson_question_tab').click(function(){

            $('#lesson_question_tab').addClass('active');
            $('#lesson_ai_tutor_tab').removeClass('active');

            $('#programming_question_div').show();
            $('#ai_tutor_div').hide();

        });

        $('#lesson_ai_tutor_tab').click(function(){

            $('#lesson_ai_tutor_tab').addClass('active');
            $('#lesson_question_tab').removeClass('active');

            $('#ai_tutor_div').show();
            $('#programming_question_div').hide();

        });

        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            theme: "default",
            scrollbarStyle: "null",
            lineWrapping: true,
        });
        editor.setSize(530, 600);


        user_session = '{{ user_session }}';
        let pcqid = '{{ pclid }}';
        let user_cid = null;
        let user_code_obj = '{{ uc_obj }}';

        console.log('pcid', pcqid)
        console.log('user_cid', user_cid)
        console.log('user-code', user_code_obj)

        if (user_code_obj != 'None'){

            let user_code_st = `{{ user_code_obj.user_code|safe }}`;
            editor.setValue(user_code_st);
            user_cid = '{{ user_code_obj.id }}';

        } else if (pcqid != 'None') {

            let std_question = `{{ pc_question_obj.question_text|safe }}`;
            editor.setValue(`# If you need any help, ask the AI to provide guidance\n\n# Programming Question:\n# ` + std_question + `\n\n# Write your code below:\n\n`);

        } else {

            editor.setValue(`# Run the code by clicking the button to the right\n# If you need any help, ask the AI to provide guidance\n\n# Write your code below:\n\n`);

        }


        async function main() {
            let pyodide = await loadPyodide({ indexURL: "https://cdn.jsdelivr.net/pyodide/v0.23.4/full/" });

            // Pyodide ready
            output.value += "Ready!\n";
            return pyodide;
        };
        
        let pyodideReadyPromise = main();

        function addToOutput(s) {

            try {

                let val_list = s.split("\n");
                for (i=0; i <= val_list.length-2; i++){
                    let otv = val_list[i];
                    output.value += ">>> " + otv + "\n"; 
                }

                var textarea = document.getElementById('output');
                textarea.scrollTop = textarea.scrollHeight;

            } catch(err) {

                output.value += ">>> " + s + "\n";

            }
            
        }

        async function evaluatePython() {
            let pyodide = await pyodideReadyPromise;
            try {
                let captureOutputCode = `
import sys
from io import StringIO
old_stdout = sys.stdout
sys.stdout = mystdout = StringIO()

${editor.getValue()}

sys.stdout = old_stdout
mystdout.getvalue()
`;

                let output = pyodide.runPython(captureOutputCode);

                console.log('User Code:', editor.getValue())
                console.log('CODE OUTPUT:', output);

                addToOutput(output);

                saveCode();
                // if (user_session != 'None'){
                //     saveCode();
                // }

            } catch (err) {
                
                addToOutput(err);

                saveCode();
                // if (user_session != 'None'){
                //     saveCode();
                // }

            }
        }



        // Chat Functionality
        const chat = document.getElementById("chat");
        const chatInput = document.getElementById("chatInput");
        const sendButton = document.getElementById("sendButton");

        sendButton.addEventListener("click", sendMessage);
        chatInput.addEventListener("keydown", (event) => {
        
            if (event.keyCode == 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }

        });

        $("#chatInput").on('keyup', function(event) {
            
            var currentString = $("#chatInput").val()

            if (currentString.length > 0){

                $('#sendButton').removeClass('disabled');
                
            } else {
                $('#sendButton').addClass('disabled');
            }
           
        });


        const initial_user_session = '{{ user_session }}';
        let anon_user_localstg_dict = {};
        let pcid_associated_dict = {};
        let pcid_user_messages = [];


        if (initial_user_session == 'None'){

            let tmp_usr_messages = JSON.parse(localStorage.getItem("anon_playround_user_messages"));

            // console.log('tmp-user-messages:', tmp_usr_messages, tmp_usr_messages == null)
            
            if (tmp_usr_messages != null){

                anon_user_messages = tmp_usr_messages

                if (anon_user_messages.length > 0){

                    for (idx = 0; idx <= anon_user_messages.length-2; idx += 2){

                        // console.log(idx, idx+1)

                        let messageText = anon_user_messages[idx]
                        let model_response_message = anon_user_messages[idx+1]

                        const message = document.createElement("div");
                        message.className = "message";
                        message.innerHTML = "<b>You:</b> " + messageText;
                        message.style.whiteSpace = 'pre-wrap'
                        chat.appendChild(message);

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);

                        // chat.scrollTop = chat.scrollHeight;

                    }

                }

            }


            // localStorage.setItem('anon_playground_user_code', user_code);
            let anon_user_code_st = localStorage.getItem('anon_playground_user_code');
            if (anon_user_code_st != null){
                editor.setValue(anon_user_code_st);
            }

        }


        // https://stackoverflow.com/questions/11502122/jquery-keypress-event-for-cmds-and-ctrls
        $(document).keydown(function(event) {

            if((event.ctrlKey || event.metaKey) && event.which == 83) {
                // Save Function
                event.preventDefault();
                saveCode();
                return false;
            };
        });


        function sendMessage() {

            const messageText = chatInput.value.trim();

            if (messageText !== "") {

                $('#chatInput').prop('disabled', true);

                $('#sendButton').hide();
                $('#primary_loading_button').show();

                const message = document.createElement("div");
                message.className = "message";
                message.innerHTML = "<b>You:</b> " + messageText;
                message.style.whiteSpace = 'pre-wrap'
                chat.appendChild(message);

                chat.scrollTop = chat.scrollHeight;
                
                chatInput.value = "";

                let user_code = editor.getValue();

                let cid = $('#code_obj_id').val();
                let lqid = $('#lesson_question_obj_id').val();

                let d = {};
                if (initial_user_session == 'None'){

                    let prev_conversation_history = []
                    if (anon_user_messages.length > 0){
                        
                        prev_conversation_history = anon_user_messages.slice( anon_user_messages.length-6, anon_user_messages.length )

                    }

                    let prev_conversation_history_st = ''
                    if (prev_conversation_history.length > 0){
                        
                        prev_conversation_history_st = prev_conversation_history.join('\n');
                        
                    }

                    d = {
                        'message': messageText,
                        'user_code': user_code,
                        'previous_messages': prev_conversation_history_st,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }

                } 
                else {

                    d = {
                        'message': messageText,
                        'user_code': user_code,
                        'cid': cid,
                        'lqid': lqid,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    };

                }

                console.log('user-message-dict:', d);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'handle_user_message' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {

                        var model_response_dict = response['response'];

                        var model_response_message = model_response_dict['response'];
                        model_response_message = model_response_message.replaceAll('\n', '<br/>');

                        var user_question = model_response_dict['question'];

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);
                        
                        chat.scrollTop = chat.scrollHeight;

                        $('#chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();
                        

                        if (initial_user_session == 'None'){

                            var final_question_st = messageText
                            var final_response_st = model_response_message
                            anon_user_messages.push(final_question_st)
                            anon_user_messages.push(final_response_st)
                            
                            localStorage.setItem('anon_playround_user_messages', JSON.stringify(anon_user_messages));
                            localStorage.setItem('anon_playground_user_code', user_code);

                        } else {

                            let saved_cid = model_response_dict['cid'];
                            $('#code_obj_id').val(saved_cid);

                        }

                        $('#solution_submit_button').removeClass("disabled");

                    },
                    error: function (response) {}
                    
                });

            }

        };



        function saveCode(){

            console.log('save-user-sessh:', initial_user_session)

            if (initial_user_session == 'None'){

                let user_code = editor.getValue();
                console.log('new-user-code-save:', user_code)
                localStorage.setItem('anon_playground_user_code', user_code);


            } else {

                let cid = $('#code_obj_id').val();
                let lqid = $('#lesson_question_obj_id').val();

                let user_code = editor.getValue();
                let d = {
                    'cid': cid,
                    'lqid': lqid,
                    'user_code': user_code,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                
                $.ajax({
                    type: 'POST',
                    url: "{% url 'save_user_code' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {

                        // console.log('response:', response);

                        if (response['success'] == true){

                            if (cid == 'None'){

                                // window.location.reload();
                                // window.location.href = ''
                                var url = new URL(window.location.href);
                                url.searchParams.set('cid', response['cid']);
                                window.history.replaceState(null, null, url);
                                // window.location.href = url;
                                
                                // console.log('cid:', response['cid']);
                                let saved_cid = response['cid'];
                                $("#code_obj_id").val(saved_cid);

                            } else {

                                let saved_cid = response['cid'];
                                $('#code_obj_id').val(saved_cid);
                                
                                $('#save_code_button').hide().promise().done(function(){

                                    $('#save_code_success_text').show().delay(2000).fadeOut(500).promise().done(function() {
                                        $('#save_code_button').show();
                                    });

                                });

                            }

                        }

                    },
                    error: function (response) {}
                    
                });


            }

        };


        function handleSolutionSubmit(){

            $('#chatInput').val('I believe this is the solution to the problem. Can you provide feedback on my code? Any advice or suggestions for improvement?');

            $('#sendButton').click();

        };

        $('#clear_output_link').click(function(){

            $('#output').val('');

        });


    </script>


{% endblock %}


