{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        
        #first_landing_column{
            width: 100%; 
            margin-top: 10%;
        }

        #landing_header{
            font-size: 28px; 
            font-family: 'Raleway', sans-serif; 
        }

        #landing_helper_text{
            font-weight: 500; 
            font-size: 21px; 
            font-family: 'Raleway', sans-serif; 
            padding-top: 6px; 
            line-height: 1.9em;
            color: #36454F;
            /* letter-spacing: 0.8px; */
        }

        #landing_page_description{
            color: #36454F;
            font-size: 15.5px;
            line-height: 1.75em;
        }

        #landing_page_button_div{
            margin-top: 30px;
        }

        #second_landing_column{
            /* margin-left: 30px; */
            margin-top: 9%;
        }
        
        #course-section{
            padding-left: 12em;
            padding-right: 12em;
            padding-top: 3em;
            padding-bottom: 2em;
        }

        #email-subscription-section{
            padding-left: 12em;
            padding-right: 12em;
            padding-top: 3em;
            padding-bottom: 2em;
        }

        #landing_course_description{
            padding-top: 20px;
            padding-bottom: 0px;
            font-size: 15.5px;
            color: #36454F;
            line-height: 1.8em;
        }
        
        #vertical_section_header{
            font-family: 'Raleway', sans-serif;
            font-size: 26px;
            /* font-weight: 500; */
        }

        #demo_link{
            font-size: 15px;
            color: #5865f2;
        }

        #course_accordion{
            margin-top: 5px;
            margin-bottom: 70px;
            background-color: #f9f9f9;
        }
        
        #first_parent_section{
            /* background: linear-gradient(to bottom left, #ffffff, #e1f8ff); */
        }

        /* #second_parent_section{
            background: linear-gradient(to bottom left, #ffffff, #e1f8ff);
        } */

        
        #third_parent_section{
            /* margin-top: 20px; */
            margin-bottom: 40px;
        }

        #main_teacher_input_div{
            margin-top: 15px;
            margin-right: 30px;
            text-align: left;
            width: 100%;
        }
        
        #main_teacher_input_div input{
            background-color: #f9f9f9;
            border-color: black;
        }

        /* #email_subscribe_header{
            font-family: 'Raleway', sans-serif;
            font-size: 17px;
            padding-top: 10px;
            color: #36454F;
        } */

        #teacher_email_button{
            margin-left: 10px;
        }
        

    </style>


    {% include 'new_landing_navbar_three.html' %}

    <!-- Section 1: Landing -->
    <section class="animate__animated animate__fadeInUp" id="first_parent_section">

        <div class="ui grid container">

            <div id="first_landing_column" class="eight wide column" >

                <h1 id="landing_header" class="ui header">
                    Your Code Companion.
                    <span style="font-size: 26px;">&#129489;&#8205;&#128187;</span>
                </h1>

                <p id="landing_helper_text">
                    A GPT-4 based programming tutor. 100% Free.
                </p>

                <!-- <div class="ui basic segment"> -->
                <p id="landing_page_description">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut faucibus sapien. Praesent ut bibendum leo. 
                    Cras aliquam a ipsum sed pharetra. Suspendisse commodo commodo turpis ac ullamcorper. -->

                    Code Companion is a GPT-4 based programming tutor, offering real-time help or feedback.
                    You can ask Code Companion questions on your own programming challenges, ie. LeetCode problems, 
                    or work through our <a href="{% url 'new_course_home' %}">curated Python exercises</a> which are designed 
                    to help you learn or hone your skills. 100% Free. 
                    <span style="font-size: 17px;">&#127922;</span>

                <!-- Code Companion is a GPT-4 based programming tutor, offering real-time help and feedback. 
                    You can ask Code Companion questions about your own programming challenges, like LeetCode problems, 
                    or work through our curated exercises to enhance your Python skills. Give it a try – it's completely free. -->
                    
                    <!-- Code Companion is a GPT-4 based programming tutor.
                    It offers real-time support for programming inquiries, aids in Python skill development, and is a valuable resource for tackling LeetCode problems. This service is available at no cost, providing a valuable resource for your programming needs. -->

                    <!-- if you are going through our exercises to help introduce or hone
                    your Python skills.
                    <br/>
                    Many people also leverage Code Companion to get help or feedback on their LeetCode problems and solutions.
                    Feel free to try it out. It's completely free. -->

                </p>
                <!-- </div> -->

                <div id="landing_page_button_div">

                    <div class="ui animated secondary large basic button playground_button" tabindex="0">
                        <div class="visible content">
                            Try it in our Online Editor &#128221;
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>
                    
                    &nbsp;&nbsp;

                    <div class="ui animated secondary large black button python_course_button" tabindex="0" >
                        <div class="visible content">
                            Learn Python with an AI Tutor &#129302;
                        </div>
                        <div class="hidden content">
                            <i class="hand point right outline icon"></i>
                        </div>
                    </div>
                    
                </div> 
                    

                <!-- <h4 id="email_subscribe_header">Subscribe for updates:</h4>
                <div id="main_teacher_input_div" class="ui action input" style="width: 75%; padding-top: 0px; margin-top: 0px;">
                    <input id="teacher_email" type="email" placeholder="email...">
                    <button id="teacher_email_button" class="ui secondary button">Submit</button>
                </div> -->


            </div>

            <div id="second_landing_column" class="eight wide column">

                <div style="margin-left: 30px;">
                    <!-- <iframe width="95%" height="350" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe> -->
                    <iframe width="95%" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>

            </div>

        </div>

    </section>


    <!-- Divider -->
    <div class="ui vertical stripe segment" style="margin-top: 9%; border-bottom: 0px; background-color: #f9f9f9;"></div>
    <!-- <div style="margin-top: 13%;"></div> -->


    <!-- Section 2: Course Introduction -->
    <section id="second_parent_section" style="background-color: #f9f9f9;">

        <div class="ui vertical stripe segment" id="course-section">
    
            <div class="ui middle aligned stackable grid container">
        
                <div class="ui centered row animate__animated" id="landing_course_row">

                    <div class="ui basic segment" style="padding-top: 0px; margin-top: 0px;">

                        <h1 class="ui header" id="vertical_section_header">
        
                            <!-- TODO: finalize this -->

                            <div class="content" >
                                <!-- Learn Python with an AI Tutor &#128218; -->
                                Python Exercises with an AI Tutor &#128218;
                            </div>
        
                        </h1>

                        <span>
                            <a id="demo_link" href="https://discord.gg/bmMj4z5f" target="_blank" rel="noopener noreferrer">
                                <i class="discord icon"></i>
                                Get help in our Discord Community
                            </a>
                        </span>
    
                        <!-- <p style="line-height: 1.75em; font-size: 16px; padding-top: 10px;"> -->
                        <p id="landing_course_description">

                            Go through our <a href="{% url 'new_course_home' %}">free online course</a>, which is designed to help you learn or hone the Python foundations.
                            <strong>
                                The course is exercise-heavy.
                            </strong>
                            <br/>
                            Each section includes a short video introducing the relevant concepts, followed by many exercises to practice.
                            Feel free to ask your personal AI Tutor questions, as you work through the sections.

                            <!-- Learn or Practice Python through our <a href="">free online course</a> that focuses primarily on exercises. 
                            Each section includes a short video introducing concepts, along with exercises.
                            You will also have an AI Tutor to help guide you through the video and exercises. -->

                            <!-- <br/><br/>
                            You can also leverage the AI Tutor to create your own exercises, for concepts you need additional practice on. -->

                            <!-- Learn Python, through a free online course.
                            <br/>
                            This course is structured to be exercise heavy, with one brief video introducing the concepts for that
                            particular section.
                            <br/>
                            You will have the AI Tutor with you at all times, to help you go through the video, along with completing the
                            exercises. -->
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis, 
                            mauris nulla auctor nibh, quis tincidunt tellus ex quis velit. -->
                        </p>
                 
                    </div>

                    <!-- <h4>Course Outline</h4> -->

                    <div class="ui header" style="padding-top: 0px; margin-top: 0px;">
                        Outline
                    </div>

                    <div class="ui styled fluid accordion" id="course_accordion">
                        
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Data Types (Strings, Integers, Floats, Boolean), Operators, User Input
                        </div>
                        <div class="content" >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Introduction to Functions
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>
                        
                        <div class="title">
                            <i class="dropdown icon"></i>
                            If / Else Statements, Boolean Logic
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Strings
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            For Loop
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Lists
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            While Loops
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Dictionaries
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Mini Projects
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            My Own Questions
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, tortor aliquet imperdiet sagittis
                            </p>
                            <p>
                                <strong>
                                    Number of Exercises: 13
                                </strong>
                            </p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
    </section>


    <!-- Divider -->
    <!-- <div class="ui vertical stripe segment" style="margin-top: 9%; border-bottom: 0px; background-color: #f9f9f9;"></div> -->


    <!-- Section 3: Email Subscription -->
    <section id="third_parent_section"  style="background-color: #f9f9f9;">

        <div class="ui vertical stripe segment" id="email-subscription-section">
    
            <div class="ui middle aligned stackable grid container">

                <div class="ui centered row">

                    <div id="landing_email_row" class="ui basic segment animate__animated" style="padding-top: 0px; margin-top: 0px;">

                        <h1 class="ui header" id="vertical_section_header"  style="text-align: center;">
        
                            <div class="content">
                                <!-- Subscribe for updates &#128237;   -->
                                Subscribe for new features or updates &#128434;&#65039;
                            </div>
        
                        </h1>

                        <form id="email_subscribe_form">
                            <div class="ui icon big focus input" id="main_teacher_input_div">
                                <input id="user_email_input" type="text" placeholder="email...">
                                <i class="arrow right icon" id="landing_email_submit_icon"></i>
                            </div>
                            <span style="color: gray;">
                                we will never spam you...
                            </span>
                        </form>
     
                        <h3 style="color: green; display: none;" id="subscribe_success_message">
                            WooHoo, thank you! &#129395;
                        </h3>

                    </div>

                </div>

            </div>

        </div>

    </section>
    

    <!-- Footer -->
    <div class="ui vertical footer segment" style="background-color: #f9f9f9;">

        <div class="ui horizontal list" id="primary_footer_list" >

            <a class="item" href="mailto:rahul@codecompanion.app">Contact</a>
            <div class="disabled item" href="#" >
                <span style="color: black; font-size: 19px;">
                    © Companion
                </span>
            </div>
            <a class="item" href="https://www.termsfeed.com/live/bc3e5acf-fa9b-4b0a-9865-79757e9145fc">Privacy</a>
            
        </div>

    </div>



    <script>

        // $("#landing_header").hover(function () {
            
        //     $(this).toggleClass("animate__bounce");
        
        // });

        $('.ui.accordion').accordion();


        // Create the observer
        const observer = new IntersectionObserver(entries => {

            entries.forEach(entry => {

                const primary_row = entry.target.querySelector('#landing_course_row');

                if (entry.isIntersecting) { // element is visible
                    console.log('entry:', entry)
                    primary_row.classList.add('animate__fadeIn');
	                return;
                }

                // element is no longer visible
                primary_row.classList.remove('animate__fadeIn');

            });

        });

        observer.observe(document.querySelector('#course-section'));


        const observer_second = new IntersectionObserver(entries => {

            entries.forEach(entry => {

                const primary_row = entry.target.querySelector('#landing_email_row');

                if (entry.isIntersecting) { // element is visible
                    console.log('entry:', entry)
                    primary_row.classList.add('animate__fadeIn');
                    return;
                }

                // element is no longer visible
                primary_row.classList.remove('animate__fadeIn');

            });
            
        });

        observer_second.observe(document.querySelector('#email-subscription-section'));



        $('.playground_button').click(function(){

            window.location.href = 'playground';

        });


        $('.python_course_button').click(function(){

            window.location.href = 'python-course';

        });

        
        
        // $("#landing_email_submit_icon").click(function(){
        //     console.log('asdlkajd')
            
        //     $('#email_subscribe_form').submit();

        // })

        $("#email_subscribe_form").submit(function(e){

             e.preventDefault();
            
            let user_email = $('#user_email_input').val().trim();

            let d = {
                'user_email': user_email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'landing_email_subscribe_handle' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    if (response['success'] == true){

                        
                        $('#subscribe_success_message').show();
                        $('#email_subscribe_form').hide();

                    }

                },

                error: function (response) {}
                
            });

        
        });


    </script>


{% endblock %}

