{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        /* p{
            font-size: 15px;
            line-height: 1.45em;
        }

        li{
            font-size: 14px;
            margin: 2px 0;
        } */

        section{
            color: black;
        }

        /* .header{
            font-family: 'Raleway', sans-serif; 
            font-size: 24px; 
        } */


    </style>



    {% include 'new_landing_navbar_three.html' %}

    <section>

        <div class="ui two column centered grid">
            
            <div class="column" style="width: 60%; margin-top: 0%;">

                <div class="ui basic segment">
                    
                    <h3 class="ui header" style="font-family: 'Raleway', sans-serif; font-size: 20px; color: black;">
                        &#128221;
                        About
                    </h3>

                    <p style="color: black; font-size: 14.5px; line-height: 1.75em;">
                        Companion is exploring how Generative AI models can effectively be utilized, to help foster a more personalized educational experience for individuals.
                        <br/><br/>
                        <strong>
                            For Learners:
                        </strong>
                        <br/>
                        At the moment, Companion offers individuals 3 main benefits: 
                        
                        <ul class="ui list" style="color: black; font-size: 14.5px; line-height: 1.75em;">
                            <li style="line-height: 1.6em;">
                                An interactive code editor environment, where you can run your code and ask the AI
                                for guidance or feedback, on the problems you are working on.
                            </li>
                            <li style="line-height: 1.6em;">
                                A free Python course focused primarily on exercises, enabling you to learn or hone your skills.
                            </li>

                            <li style="line-height: 1.6em;">
                                A general tutor, where you can get help on any topic you are trying to learn.
                                Examples include: getting help on an essay, learning a new programming question, 
                                or getting help on a specific homework problem.
                            </li>
                        </ul>

                        <!-- We are trying to experiment with potential ways Generative AI Models can be utilized in the classroom, to help foster a more optimal
                        educational experience for both students and teachers. -->
                        <!-- We are exploring how Generative AI Models can be effectively utilized in the classroom to enhance and optimize the educational experience for both students and teachers. -->
                        <!-- <br/><br/>
                        At the same time, I am also developing this technology to be utilized in the classroom, primarily
                        so teachers have an easier time fostering a personalized learning environment, for their students.
                        <br/><br/>
                        <a id="demo_link" href="https://www.youtube.com/watch?v=ncAaBK_Iw8E" target="_blank" rel="noopener noreferrer">
                            Watch the Comprehensive Demo
                        </a>, where I go through all the core use cases of Code Companion, for students and teachers.
                        <br/><br/> -->

                        <!-- At the moment, I have built Companion, a tool that offers individuals a playground code editor, where
                        they can work on their problems, while being able to ask any questions they have to an AI-powered tutor.
                        <br/><br/>
                        The goal here is really to try to create learning a more personalized experience for each person, 
                        where they are able to understand the material at their own pace.
                        <br/><br/>
                        Individuals can 
                        Individuals are also able to immediately get answers to their questions, along with feedback for each question
                        they work on.
                        <br/><br/> -->

                        <!-- <br/> -->
                        <!-- <strong>
                            For Teachers: 
                        </strong>
                        <br/><br/>
                        Companion also helps teachers, eliminating a lot of the administrative headache that 
                        teachers have to deal with.
                        <br/><br/>
                        With Companion: 
                        <ul class="ui list">
                            <li>
                                Teachers will get help with creating their lesson plans, generating questions/quizzes, 
                                and get assistance with marking and providing student feedback.
                            </li>
                            <li>
                                Companion also offers teachers the ability to create and assign questions to their students, directly on our platform.
                            </li>
                            <li>
                                Teachers will be able to track each student's progress, questions and conversations their students
                                are having with Companion, and AI-generated insights on what concepts their students need to review further.
                            </li>
                        </ul> -->
    
                        <!-- see the questions and conversations their students are having with the tutor,
                        enabling them to get a better understanding of what concepts they should further review in class. -->
                    </p>
                    
                    <h3 class="ui header" style="font-family: 'Raleway', sans-serif; font-size: 20px; color: black; padding-top: 10px;">
                        &#128268;
                        Get Involved
                    </h3>
                    <p  style="color: black; font-size: 14.5px;">
                        This solution is merely only the start, and will go through several iterations.
                        <br/><br/>
                        If you are interested in the problem, want to help, and/or get involved, <a class="item" href="mailto:rahul@codecompanion.app">please reach out.</a>
                    </p>

                </div>

            </div>

        </div>
        
    </section>


{% endblock %}

