{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>


        #landing_header:hover{
            color: black;
            transform: scale(1.1);
            transition: all ease 500ms;
        }

        #demo_link:hover{
            font-weight: bold;
        }


        #about-section, #teacher-section, #third_section_main_div{
            padding-left: 8em;
            padding-right: 8em;
            padding-top: 4em;
            padding-bottom: 4em;
        }

        #primary_lp_section_divider{
            padding-top: 4em;
        }


        #lp_section_divider_header_div{
            background-color: black;
            width: 110%;
        }

        #lp_section_divider_header_div > h2{
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-size: 38px;
        }

        #lp_section_divider_header_div > h2:hover{
            color: #6f1ee1;
        }

        /* #lp_section_divider_header_div > h2:hover{
            color: #6f1ee1;
        } */

        /* #main_first_column{
            margin-bottom: 0%
        } */


        #vertical_section_list > .item{    
            margin: 5px 0;    
            /* font-weight: 700; */
        }

        #vertical_section_list > .item .content .description{    
            font-size: 15px;
            line-height: 1.4em; 
            letter-spacing: 0.1px;
            color: rgba(0, 0, 0, 0.87);
            /* font-weight: 700;  */
            /* color: #181818; */
            /* color: #4c4c4c; */
        }



        /* Chat Container */
        #code-column{
            padding-top: 27px;
            padding-left: 25px;
        }

        .input-container {
            display: flex;
            margin-top: 20px;            
        }

        h4{
            font-family: 'Raleway', sans-serif;
        }

        .chat-container {
            height: 520px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow-y: auto;
            padding: 15px;
            margin-top: 20px;
        }

        .message {
            margin-bottom: 15px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .input-box {
            padding: 10px;
            border-radius: 5px;
        }

        .container{
            overflow-y: hidden;
            overflow-x: hidden;            
        }
        
        /* #features_list{
            list-style: none;
        } */

        #features_list li{
            line-height: 1.75em;
            height: auto;
            font-size: 15px;
        }

    </style>


    {% include 'landing_navbar.html' %}


    <!-- Section 1: Landing -->

    <section>

        <div class="ui two column centered grid">

            <div class="column" style="text-align: center; width: 100%;  margin-top: 1%;">

                <h1 id="landing_header" class="ui header" style="font-size: 32px; font-family: 'Raleway', sans-serif; padding-top: 0px; margin-top: 0px;">
                    Companion
                </h1>

                <span style="font-size: 14.5px;">
                    <a style="color: gray;"  id="demo_link" href="#about-section">
                        Learn More.
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a style="color: gray;" id="demo_link" href="https://www.youtube.com/watch?v=ncAaBK_Iw8E" target="_blank" rel="noopener noreferrer">
                        Watch the Demo.
                    </a>
                </span> 

                <!-- width: 75%; text-align: center; -->
                <p style="font-weight: 500; font-size: 17.5px; font-family: 'Raleway', sans-serif; padding-top: 12px; line-height: 1.9em;">
                    <!-- A GPT-4 based learning tutor, empowering your personalized educational journey, guiding you every step of the way. -->
                    A GPT-4 based tutor, enabling you to get real-time help and feedback for your programming problems, 
                    <br/>
                    directly in our online playground.
                    <!-- &nbsp;&nbsp; -->
                </p>

                <!-- <p>
                    Get immedidate feedback for your solutions or ask questions on the problems you are working on. 
                </p>

                <p>
                    Ask Companion to generate new questions or examples for concepts you are struggling with.
                </p>
                 -->

                <!-- <span style="font-size: 14.5px; color: gray; ">
                    <a id="demo_link" href="https://www.youtube.com/watch?v=hYPCzFBtVFE" target="_blank" rel="noopener noreferrer">
                        Learn More.
                    </a>
                    &nbsp;
                    <a id="demo_link" href="https://www.youtube.com/watch?v=hYPCzFBtVFE" target="_blank" rel="noopener noreferrer">
                        Watch the Full Demo.
                    </a>
                </span>  -->

                <!-- <div id="main-button-row" style="padding-top: 0px; ">
               
                    <div class="ui animated large black button playground_button" tabindex="0" >
                        <div class="visible content">
                            Start getting help now. 100% Free.
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>

                    <div class="ui animated large black button playground_button" tabindex="0" >
                        <div class="visible content">
                            Are you a Teacher looking to set this up in your class?
                        </div>
                        <div class="hidden content">
                            <i class="hand point right icon"></i>
                        </div>
                    </div>

                </div> -->

                <div class="ui animated large black button playground_button" tabindex="0" >
                    <div class="visible content">
                        Try Companion in our Playground. 100% Free.
                    </div>
                    <div class="hidden content">
                        <i class="code icon"></i>
                    </div>
                </div>

                <div style="padding-top: 15px;">
                    <a 
                        href="https://www.producthunt.com/posts/code-companion?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-code&#0045;companion" 
                        target="_blank">
                        <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=418367&theme=light" alt="Code&#0032;Companion - A&#0032;GPT&#0045;4&#0032;based&#0032;tutor&#0032;which&#0032;provides&#0032;feedback&#0032;for&#0032;programming&#0046; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
                    </a>
                </div>


                <div style="padding-top: 15px;">
                    <a style="font-size: 14.5px;" href="#teacher-section">Are you a Teacher, looking to introduce a personalized tutor for your students, in your classroom?</a>
                </div>

                <div style="margin-top: 20px;">
                    <!-- <iframe width="800" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
                    <iframe width="1000" height="600" src="https://www.youtube.com/embed/ncAaBK_Iw8E"></iframe>
                </div>

            </div>

            
            <!-- Chat Section -->
            <!-- <div class="column" style="width: 75%; padding-top: 14px;">

                <h4>Try it, by asking questions below.</h4>

                <div class="chat-container" id="chat">
                        
                    <div class="message">
                        <strong>
                            Welcome! &nbsp; &#128588&nbsp;
                            I'm your personal learning assistant. 
                        </strong>
                        <br/><br/>
                        My goal is to help you on your learning journey, whether you need help with homework or want to explore a new field.
                        <br/><br/>
                        When it comes to asking me homework questions, I will never provide you with the answer. 
                        Instead, my approach is to guide you like a great tutor, fostering your critical thinking and empowering you to arrive at the answers independently.
                        <br/><br/>
                        If you need help knowing where to start in a new field, feel free to ask me and I will help construct your
                        learning plan, along with questions or quizzes to ensure you have a deep understanding of the concepts.
                        <br/><br/>
                        <strong>
                            Here are some of the things people ask me:
                        </strong>
                        <li>
                            I need to write an essay on Raskolnikov, in Crime and Punishment, specifically about his mental state before and after he committed his crime. I need some guidance
                        </li>
                        <li>
                            What's the implementation of calculating __len__ in python, say for a string object? I need to create my own __len__ implementation, and it should be in O(1) time.
                        </li>
                        <li>
                            How is the actual list data structure implemented in python? does it use a linked list "under the hood"? How does it actually work? I need to write my own list class object for my project...
                        </li>
                        <li>
                            I have the following homework question: 
                            "I have a function where if I graph it, it form's an upside down triangle (with no base). So essentially, it's just the 2 straight lines or the sides of the triangle, without the base. Would this be considered linear (since it is straight lines and not curves) or would it be non-linear?"
                        </li>
                        <li>
                            I want to study the history of computers. Can you help develop a syllabus?
                        </li>
                        <li>
                            I want to learn Python, specifically for building my own web applications. Can you help me construct a plan on where to start?
                        </li>
                    </div>
        
                    <hr>
        
                    <br/>
        
                    {% for ucs_obj in user_conversation_objects %}
                            
                        <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                        <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>
    
                    {% endfor %}
    
                </div>


                {% if not user_session %}

                    <div class="input-container">

                        <div class="ui form" style="width: 100%;">
                            <div class="field">
                                <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask away..."></textarea>
                            </div>                    
                        </div>
                        &nbsp;
                        <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                        <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>
            
                    </div>
            
                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        Answer Response usually takes 15-30 seconds. (this will get better soon...)
                    </span>
                    <br/>
                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        <a href="{% url 'login' %}">Signup</a> to save your conversations, along with uploading your files or working in our online code editor environment.
                    </span>

                {% else %}

                    <p style="padding-top: 10px;">
                        Go to your <a href="{% url 'general_cs_tutor' %}">assistant page</a>
                    </p>


                {% endif %}

            </div> -->

        </div>

    </section>


    <!-- Divider -->
    <div class="ui vertical stripe segment" style="margin-top: 2.5%;"></div>
    

    <!-- Section 2: General About Section -->

    <div class="ui vertical stripe segment" id="about-section">
    
        <div class="ui middle aligned stackable grid container">
    
            <div class="ui centered row" id="third_section_row">

                <!-- <h2 class="ui header" id="vertical_section_header">
    
                    <div class="content" style="font-family: 'Raleway', sans-serif;">
                        What is this?
                    </div>

                </h2> -->
    
                <div class="ui basic segment" style="padding-top: 0px; margin-top: 0px;">

                    <h2 class="ui header" id="vertical_section_header">
    
                        <div class="content" style="font-family: 'Raleway', sans-serif;">
                            <i class="code icon" style="font-size: 20px;"></i>
                            What's this about?
                        </div>
    
                    </h2>


                    <p style="line-height: 1.75em; font-size: 16px; padding-top: 10px;">
                    
                        Through a conversational manner, Code Companion provides immediate help and feedback for your
                        coding problems, in our <a href="{% url 'playground' %}">online playground environment.</a>

                    </p>

                    
                    <h3 class="ui header" id="vertical_section_header">
    
                        <div class="content" style="font-family: 'Raleway', sans-serif; padding-top: 5px;">
                            You can leverage Code Companion to: 
                        </div>
    
                    </h3>

                    <ul class="ui list" id="features_list">

                        <li>
                            Get immediate help and feedback, while doing a Homework, or say a LeetCode problem.
                        </li>

                        <li>
                            Develop your own personalized syllabus or learning plan with <a href="{% url 'general_cs_tutor' %}">our General Learning Assistant</a>,
                            for whatever field you are interested in exploring.
                        </li>

                        <li>
                            Upload a PDF of your problem sets or lecture notes, and asks Companion questions directly on 
                            those files.
                        </li>

                        <li>
                            Practice Python through our <a href="{% url 'practice_questions' %}">Beginner Exercises</a>, with the assistant there to help
                            write and evaluate your code.
                        </li>

                    </ul>
    
                    <!-- <p style="line-height: 1.75em; font-size: 16px; padding-top: 10px;"> -->
                        <!-- Companion is a GPT-4 based tutor, whose goal is to help develop your thinking, 
                        as you learn through new concepets.  -->

                        <!-- Through a conversational manner, Companion provides immediate help and feedback for your
                        coding problems, in our <a href="{% url 'playground' %}">online playground environment.</a>

                        <br/><br/> -->
            
                        <!-- <br/>
                        Want to practice get immediate help and feedback, while doing a Homework, or say a LeetCode problem?
                        <br/>
                        Try it now, for free.
                        <br/>
                        Watch our demo if you want to learn more. (#TODO:)
                        <br/><br/> -->
                        <!-- Want to learn Python? 
                        Try learning it, through some of our <a href="{% url 'practice_questions' %}">Beginner Python exercises</a>, with Companion there to help you, as needed. -->
                        <!-- <br/><br/> -->

                        <!-- <strong>
                            You can leverage Companion to: 
                        </strong>
                        
                        <ul class="ui list" id="features_list">
                            <li>
                                Develop your own, personalized learning plan for a new field you are trying to learn
                            </li>
                            <li>
                                Get help thinking through a specific homework question
                            </li>
                            <li>
                                Learn Programming in our <a href="{% url 'playground' %}">Online Editor</a>, with the assistant there to help
                                write and evaluate your code
                            </li>
                            <li>
                                Get constant feedback on your essay, and find areas for improvement
                            </li>
                            <li>
                                Upload your lecture notes or problems, and ask questions on those files.
                            </li>
                        </ul> -->

                    <!-- </p> -->

                </div>
                
            </div>
    
        </div>
    
    </div>



    <!-- TODO:  -->

    <!-- Section 3: For Students -->

    <div class="ui vertical stripe segment" id="third_section_main_div">

        <div class="ui middle aligned stackable grid container">
    
            <div class="row" id="third_section_row">

                <div class="eight wide column" id="main_first_column">
    
                    <h2 class="ui header" id="vertical_section_header">
    
                        <!-- <i class="plug icon" style="font-size: 26px;"></i> -->
                        <i class="child icon" style="font-size: 18px;"></i>
                        <div class="content" style="font-family: 'Raleway', sans-serif;">
                            Common Use Cases for Learners
                        </div>
    
                    </h2>
    
                    <span style="color: gray; padding-bottom: 0px;">
                        <!-- Leverage your personalized tutor. See some common questions other students ask below... -->
                        Empowering your personalized educational journey.
                    </span>

                    <div class="ui basic segment" style="padding-top: 5px;">
    
                        <div class="ui list" id="vertical_section_list">
           
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        <!-- "Honestly, I'm struggling with learning how indexing works when using a for loop..
                                        here's the question I have ... can you help me here?" -->
                                        Get relevant hints or help, as you work through a problem.
                                    </div>
                                </div>
                            </a>
    
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">                                
                                        <!-- "I'm trying to get better at writing.. I've been writing for a few days now.. here's my
                                        draft, how can I improve it? how can I become a better fiction writer?" -->
                                        Get immediate feedback for your solutions, helping you determine and write 
                                        optimal code.
                                    </div>
                                </div>
                            </a>

                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        <!-- "Can you generate an outline for the following essay I have to write: 'explain 
                                        the influence Turing had on cryptography'" -->
                                        Generate additional practice questions from Companion for concepts you want to improve upon.
                                    </div>
                                </div>
                            </a>

                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">                                
                                        <!-- "I'm trying to get better at writing.. I've been writing for a few days now.. here's my
                                        draft, how can I improve it? how can I become a better fiction writer?" -->
                                        Develop your own personalized syllabus or learning plan with our General Learning Assistant,
                                        for whatever field you are interested in exploring.
                                    </div>
                                </div>
                            </a>

                            <a class="item" href="{% url 'practice_questions' %}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description" style="color: #1e70bf;">
                                        Practice with our Beginner Python Exercises.
                                    </div>
                                </div>
                            </a>

                            <!-- <a class="item" href="{% url 'playground' %}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description" style="color: #1e70bf;">
                                        Try now in our Online Code Editor
                                    </div>
                                </div>
                            </a> -->

                            <!-- <a class="item" href="{% url 'about' %}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description" style="color: #1e70bf;">
                                        Learn More
                                    </div>
                                </div>
                            </a> -->
    
                        </div>
    
                    </div>

                    <div class="ui animated medium black button playground_button" tabindex="0" >
                        <div class="visible content">
                            Try Companion in our Playground. 100% Free.
                        </div>
                        <div class="hidden content">
                            <i class="code icon"></i>
                        </div>
                    </div>
    
                </div>


                <div class="seven wide right floated column">
    
                    <!-- <video width="420" height="315" name="Landing Demo" loop="true" autoplay="autoplay" controls muted> -->
                    <video width="110%" name="Landing Demo" loop="true" controls muted>
                        <source src="https://file-app-bucket.s3.ca-central-1.amazonaws.com/New+Landing+CC+Gif.mp4">
                    </video>
    
                </div>

    
            </div>
    
        </div>
    
    </div>



    <!-- Section 4: For Teachers -->

    <div class="ui vertical stripe segment" id="teacher-section">
    
        <div class="ui middle aligned stackable grid container">
    
            <div class="row" id="third_section_row">

                <div class="eight wide column" id="main_first_column">
    
                    <h2 class="ui header" id="vertical_section_header">
    
                        <!-- <i class="plug icon" style="font-size: 26px;"></i> -->
                        <i class="users icon" style="font-size: 18px;"></i>
                        <div class="content" style="font-family: 'Raleway', sans-serif;">
                            For Teachers
                        </div>
    
                    </h2>

                    <span style="color: gray; padding-bottom: 0px;">
                        If you are a teacher, we have built a personal assistant just for you,
                        allowing you to more efficiently teach your students.
                    </span>
    
                    <div class="ui basic segment" style="padding-top: 5px;">
    
                        <div class="ui list" id="vertical_section_list">
           
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">     
                                        Easily create and assign questions to students, directly on our platform.
                                        Allow students to utilize Code Companion for problems you assign them.
                                        <!-- Easily integrate custom questions and exercises directly onto our platform to encourage student participation and active learning. -->
                                    </div>
                                </div>
                            </a>

                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Gain AI-generated insights into student progress, along with recommendations
                                        on what concepts they are struggling with and where they need improvement.
                                        <!-- Gain real-time insights into student progress, enabling timely interventions and a deeper understanding of individual student needs. -->
                                    </div>
                                </div>
                            </a>

                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Utilize GPT-4 as your personalized assistant, to help design comprehensive lesson plans tailored to your curriculum and teaching style.                
                                    </div>
                                </div>
                            </a>
     
                            <!-- <a class="item" href="{% url 'about' %}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description" style="color: #1e70bf;">
                                        Learn More
                                    </div>
                                </div>
                            </a> -->
    
                            <!-- <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="description">
                                        Receive personalized recommendations on each student's comprehension levels and learning preferences, allowing you to tailor your teaching strategies for optimal impact. (soon...)
                                    </div>
                                </div>
                            </a> -->

                        </div>
    
                    </div>


                    <h4>Want to utilize this in your classroom?</h4>
                    <div id="main_teacher_input_div" class="ui action input" style="width: 100%;">
                        <input id="teacher_email" type="email" placeholder="enter your email and I will reach out...">
                        <button id="teacher_email_button" class="ui button">Submit</button>
                    </div>

                    <div id="teacher_email_submit_success" style="color: green; display: none;">
                        Thank you! I will be in touch very soon!
                    </div>

                    <!-- <div class="ui animated medium black button calendly_invite_button" tabindex="0">
                        <div class="visible content">
                            Interested in trying it out for your class? Speak with Me!
                        </div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div> -->
    
                </div>

                <div class="seven wide right floated column">
    
                    <!-- <video width="420" height="315" name="Landing Demo" loop="true" autoplay="autoplay" controls muted> -->
                    <video width="110%" name="Landing Demo" loop="true" controls muted>
                        <source src="https://file-app-bucket.s3.ca-central-1.amazonaws.com/Teacher+-+Landing+Video+Gif.mp4">
                    </video>
    
                </div>

    
            </div>
    
        </div>
    
    </div>






    <!-- Footer -->
    {% include 'landing_footer.html' %}

    <script>

        // // Chat Functionality
        // const chat = document.getElementById("chat");
        // const chatInput = document.getElementById("chatInput");
        // const sendButton = document.getElementById("sendButton");

        // sendButton.addEventListener("click", sendMessage);
        // chatInput.addEventListener("keydown", (event) => {
        
        //     if (event.keyCode == 13 && !event.shiftKey) {
        //         event.preventDefault();
        //         sendMessage();
        //     }

        // });

        // const initial_user_session = '{{ user_session }}';

        // let anon_user_messages = [];
        // if (initial_user_session == 'None'){

        //     let tmp_usr_messages = JSON.parse(localStorage.getItem("anon_user_messages"));

        //     // console.log('tmp-user-messages:', tmp_usr_messages)

        //     if (tmp_usr_messages != null){
        //         anon_user_messages = tmp_usr_messages

        //         if (anon_user_messages.length > 0){

        //             for (idx = 0; idx <= anon_user_messages.length-2; idx += 2){

        //                 // console.log(idx, idx+1)

        //                 let messageText = anon_user_messages[idx]
        //                 let model_response_message = anon_user_messages[idx+1]

        //                 const message = document.createElement("div");
        //                 message.className = "message";
        //                 message.innerHTML = "<b>You:</b> " + messageText;
        //                 message.style.whiteSpace = 'pre-wrap'
        //                 chat.appendChild(message);

        //                 const responseMessage = document.createElement("div");
        //                 responseMessage.className = "message";
        //                 responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
        //                 // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
        //                 chat.appendChild(responseMessage);

        //                 // chat.scrollTop = chat.scrollHeight;

        //             }

        //         }

        //     }

        // }


        // $("#chatInput").on('keyup', function(event) {
            
        //     var currentString = $("#chatInput").val()

        //     if (currentString.length > 0){

        //         $('#sendButton').removeClass('disabled');
                
        //     } else {
        //         $('#sendButton').addClass('disabled');
        //     }
           
        // });


        function sendMessage() {

            const messageText = chatInput.value.trim();

            if (messageText !== "") {

                console.log('message-text:', messageText)

                $('#chatInput').prop('disabled', true);

                $('#sendButton').hide();
                $('#primary_loading_button').show();

                const message = document.createElement("div");
                message.className = "message";
                message.innerHTML = "<b>You:</b> " + messageText;
                message.style.whiteSpace = 'pre-wrap'
                chat.appendChild(message);

                chat.scrollTop = chat.scrollHeight;
                
                chatInput.value = "";

                let uc_parent_obj_id = $('#uc_parent_obj_id').val();
                let user_conversation_obj_id = $('#user_conversation_obj_id').val();

                let prev_conversation_history = []
                if (initial_user_session == 'None'){
                    // anon user, fetch messages from localstorage
                    if (anon_user_messages.length > 0){

                        prev_conversation_history = anon_user_messages.slice( anon_user_messages.length-6, anon_user_messages.length )

                        // if (anon_user_messages.length > 6){

                        //     for (tidx = 1; tidx <= 6; tidx += 1){
                                
                        //         var tmp_value = anon_user_messages.length - tidx;
                        //         var tmp_st = anon_user_messages[tmp_value]
                        //         prev_conversation_history.push(tmp_st)

                        //     }

                        // } 
                        // else {

                        //     for (tidx = 1; tidx <= anon_user_messages.length; tidx += 1){
                                
                        //         var tmp_value = anon_user_messages.length - tidx;
                        //         var tmp_st = anon_user_messages[tmp_value]
                        //         prev_conversation_history.push(tmp_st)

                        //     }
                        
                        // }

                    }

                }

                let prev_conversation_history_st = ''
                if (prev_conversation_history.length > 0){
                    
                    prev_conversation_history_st = prev_conversation_history.join('\n');
                    
                }
                

                // console.log('Previous Conversation History:', prev_conversation_history_st)

                let d = {
                    'message': messageText,
                    'prev_conversation_history_st': prev_conversation_history_st,
                    'uc_parent_obj_id': uc_parent_obj_id,
                    'user_ct_obj_id': user_conversation_obj_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                
                $.ajax({
                    type: 'POST',
                    url: "{% url 'handle_general_tutor_user_message' %}",
                    dataType: "json",
                    data: d,
                    success: function (response) {

                        var model_response_dict = response['response'];
                        console.log('Response Dict:', model_response_dict)

                        var model_response_message = model_response_dict['response'];
                        model_response_message = model_response_message.replaceAll('\n', '<br/>');

                        console.log('Response:', model_response_message)

                        var user_question = model_response_dict['question'];

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                        // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);
                        
                        chat.scrollTop = chat.scrollHeight;

                        $('#chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();

                        
                        if (initial_user_session == 'None'){
                            // var final_question_st = "Question: " + messageText
                            // var final_response_st = "Response: " + model_response_message
                            var final_question_st = messageText
                            var final_response_st = model_response_message
                            anon_user_messages.push(final_question_st)
                            anon_user_messages.push(final_response_st)
                            localStorage.setItem('anon_user_messages', JSON.stringify(anon_user_messages));
                        }

                    },

                    error: function (response) {}
                    
                });

            }

        };



        $('.playground_button').click(function(){

            window.location.href = 'playground';

        });


        $('#teacher_email_button').click(function(){

            let teacher_email = $('#teacher_email').val();
            console.log('teacher-email:', teacher_email)


            let d = {
                'teacher_email': teacher_email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'landing_teacher_email_input' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    $('#main_teacher_input_div').hide();
                    $('#teacher_email_submit_success').show();

                },

                error: function (response) {}
                
            });

        });


    </script>



{% endblock %}


