{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'app_menu.html' %}

<div style="padding: 20px;">
    <h3>
        Course List
    </h3>
    <button id="new-course-button">New Course</button>
    <ul class="ui list" style="padding-top: 10px;">
        {% for c in user_course_objects %}
            <li style="padding-bottom: 20px;">
                <a href="{% url 'personal_course_homepage' c.id %}">
                    <span style="font-weight: bold;">{{ c.name }}</span>
                </a>
                <p style="padding-top: 5px; color: gray;">&nbsp;{{ c.description }} | <i class="clock icon"></i>{{ c.updated_at }} | <i class="clock icon"></i>{{ c.created_at }}</p>
            </li>
            
        {% endfor %}
    </ul>
</div>

<script>

    $('#new-course-button').click(function(){

        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/personal_course_gen_sb_chat';
        window.location.replace(new_url);

    });

</script>

{% endblock %}

