{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'app_menu.html' %}
{% include 'left_side_bar.html' %}

<div class="ui grid tutor_chat_parent_container">

    <div class="three wide column"></div>

    <div class="eleven wide column" style="margin-left: 4.5%; margin-top: 0.5%;">
        
        <h3 class="ui header tutor_chat_header">
            <!-- &#128227; -->
            <span>&#127922;</span>&nbsp;&nbsp;Chat
            <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 1.45em; margin-right: 5px;">Chat -->
        </h3>
        
        <span class="tutor_helper_span">
            Visit our <a href="{% url 'playground' %}">code editor</a>, if you would like to run your code and get help from the AI, as needed.
            <a href="{% url 'login' %}">Signup</a> to save your conversations.
        </span>

        <div class="tutor-chat-container" id="general-chat-div">

            <div class="tutor-chat-message">

                <strong>
                    Welcome! &nbsp; &#128588&nbsp;
                    I'm your personal learning assistant. 
                </strong>
                <br/><br/>
                My goal is to help you on your learning journey, whether you need help with homework or want to explore a CS topic.
                <br/><br/>
                If you need help knowing where to start in a new field, feel free to ask me and I will help construct your
                learning plan, along with questions or quizzes to ensure you have a deep understanding of the concepts.
                <!-- <br/><br/>
                <strong>
                    Here are some of the things people ask me:
                </strong>
                <li>
                    I need to write an essay on Raskolnikov, in Crime and Punishment, specifically about his mental state before and after he committed his crime. I need some guidance
                </li>
                <li>
                    How is the actual list data structure implemented in python? does it use a linked list "under the hood"? How does it actually work? I need to write my own list class object for my project...
                </li>
                <li>
                    I have the following homework question: 
                    "I have a function where if I graph it, it form's an upside down triangle (with no base). So essentially, it's just the 2 straight lines or the sides of the triangle, without the base. Would this be considered linear (since it is straight lines and not curves) or would it be non-linear?"
                </li>
                <li>
                    I want to study the history of computers. Can you help develop a syllabus?
                </li> -->
                
            </div>

            <hr>
            <br/>

            {% for ucs_obj in user_conversation_objects %}
                    
                <div class="tutor-chat-message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                <div class="tutor-chat-message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>

            {% endfor %}

        </div>

        <div class="tutor-chat-input-container">

            <div class="ui form" style="width: 100%;">
                <div class="field">
                    <textarea rows="2" id="general_tutor_chatInput" class="input-box form-control" placeholder="ask away..."></textarea>
                </div>                    
            </div>
            &nbsp;
            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

            <input type="hidden" id="general_cs_chat_parent_obj_id" name="general_cs_chat_parent_obj_id">

        </div>

        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
            Answer Response usually takes 15-30 seconds. (this will get better soon...)
        </span>

    </div>

    <!-- <div class="two wide column"></div> -->

</div>



<script>

    // Global Vars
    const initial_user_session = '{{ user_session }}';


    // Chat Functionality
    const chat = document.getElementById("general-chat-div");
    const chatInput = document.getElementById("general_tutor_chatInput");
    const sendButton = document.getElementById("sendButton");

    sendButton.addEventListener("click", sendMessage);
    chatInput.addEventListener("keydown", (event) => {
    
        if (event.keyCode == 13 && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }

    });

    let existing_anon_user_id = localStorage.getItem("unique_anon_identifier");
    let anon_user_messages = [];
    if (initial_user_session == 'None'){

        if (existing_anon_user_id === null){
            existing_anon_user_id = generateUniqueUserID(30);
            localStorage.setItem('unique_anon_identifier', existing_anon_user_id);
        };

        let tmp_usr_messages = JSON.parse(localStorage.getItem("anon_user_messages"));

        // console.log('tmp-user-messages:', tmp_usr_messages)

        if (tmp_usr_messages != null){
            anon_user_messages = tmp_usr_messages

            if (anon_user_messages.length > 0){

                for (idx = 0; idx <= anon_user_messages.length-2; idx += 2){

                    let messageText = anon_user_messages[idx]
                    let model_response_message = anon_user_messages[idx+1]

                    const message = document.createElement("div");
                    message.className = "message";
                    message.innerHTML = "<b>You:</b> " + messageText;
                    message.style.whiteSpace = 'pre-wrap'
                    chat.appendChild(message);

                    const responseMessage = document.createElement("div");
                    responseMessage.className = "message";
                    responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                    chat.appendChild(responseMessage);

                    // chat.scrollTop = chat.scrollHeight;

                }

            }

        }

    };


    $("#general_tutor_chatInput").on('keyup', function(event) {
        
        var currentString = $("#general_tutor_chatInput").val()

        if (currentString.length > 0){

            $('#sendButton').removeClass('disabled');
            
        } else {
            $('#sendButton').addClass('disabled');
        }
        
    });


    function sendMessage() {

        const messageText = chatInput.value.trim();

        if (messageText !== "") {

            $('#general_tutor_chatInput').prop('disabled', true);

            $('#sendButton').hide();
            $('#primary_loading_button').show();

            const message = document.createElement("div");
            message.className = "message";
            message.innerHTML = "<b>You:</b> " + messageText;
            message.style.whiteSpace = 'pre-wrap'
            chat.appendChild(message);

            chat.scrollTop = chat.scrollHeight;
            
            chatInput.value = "";

            let uc_parent_obj_id = $('#uc_parent_obj_id').val();
            let user_conversation_obj_id = $('#user_conversation_obj_id').val();

            let prev_conversation_history = []
            if (initial_user_session == 'None'){
                // anon user, fetch messages from localstorage
                if (anon_user_messages.length > 0){
                    prev_conversation_history = anon_user_messages.slice( anon_user_messages.length-6, anon_user_messages.length )
                }

            }

            let prev_conversation_history_st = ''
            if (prev_conversation_history.length > 0){
                prev_conversation_history_st = prev_conversation_history.join('\n');
            }

            // TODO: check if value will be sent as None to python view
            let general_cs_chat_parent_obj_id = $('#general_cs_chat_parent_obj_id').val();
            
            let d = {
                'general_cs_chat_parent_obj_id': general_cs_chat_parent_obj_id,
                'existing_anon_user_id': existing_anon_user_id,
                'message': messageText,
                'prev_conversation_history_st': prev_conversation_history_st,
                'uc_parent_obj_id': uc_parent_obj_id,
                'user_ct_obj_id': user_conversation_obj_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            
            $.ajax({
                type: 'POST',
                url: "{% url 'handle_general_tutor_user_message' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    var model_response_dict = response['response'];
                    // console.log('Response Dict:', model_response_dict)

                    var model_response_message = model_response_dict['response'];
                    model_response_message = model_response_message.replaceAll('\n', '<br/>');

                    // console.log('Response:', model_response_message)

                    var user_question = model_response_dict['question'];

                    const responseMessage = document.createElement("div");
                    responseMessage.className = "message";
                    responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                    // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                    chat.appendChild(responseMessage);
                    
                    chat.scrollTop = chat.scrollHeight;

                    $('#general_tutor_chatInput').prop('disabled', false);
                    $('#sendButton').show();
                    $('#primary_loading_button').hide();

                    let parent_chat_obj_id = model_response_dict['response']['uct_parent_obj_id'];

                    // var final_question_st = "Question: " + messageText
                    // var final_response_st = "Response: " + model_response_message

                    if (initial_user_session == 'None'){
                        // var final_question_st = "Question: " + messageText
                        // var final_response_st = "Response: " + model_response_message

                        var final_question_st = messageText
                        var final_response_st = model_response_message
                        anon_user_messages.push(final_question_st)
                        anon_user_messages.push(final_response_st)
                        localStorage.setItem('anon_user_messages', JSON.stringify(anon_user_messages));
                    } else {

                        $('#general_cs_chat_parent_obj_id').val(parent_chat_obj_id);

                    }

                },

                error: function (response) {}
                
            });
            
        }

    };


</script>

{% endblock %}
