{% load static %}

<!-- Top Navbar -->
<div class="ui secondary menu" style="margin-top: 2%;">

    <div class="ui container">

        <div class="item navbar-logo">
            <!-- <i class="magic icon" style="font-size: 20px; color: red;"></i> -->
            <img src="{% static 'icon_one.png' %}" style="height: 10%; width: 20%;">
            <span style="color: black; padding-left: 10px; font-size: 25.5px; font-family: 'Raleway', sans-serif; font-weight: 400; letter-spacing: 0.5px;">
                Companion
            </span>
        </div>

        <div id="landing_parent_div" class="right menu" style="margin-right: 0%;">

            {% if user_session %}
                <a class="item" href="{% url 'dashboard' %}">
                    Your Dashboard
                </a>
            {% endif %}

            {% if user_session %}
                <a class="item" href="{% url 'new_course_home' %}">
                    Practice Python
                </a>
            {% else %}
                <a class="item" href="{% url 'new_course_home' %}">
                    Practice Python
                </a>
            {% endif %}
            
            <a class="item" href="{% url 'playground' %}">
                AI Playground
            </a>
            <a class="item" href="{% url 'general_cs_tutor' %}" >
                General Tutor
            </a>

            {% if not user_session %}
                <a class="item" href="{% url 'about' %}">
                    About
                </a>
            {% endif %}

            <!-- <div class="item">
                <a class="ui black basic button" href="{% url 'login' %}">Sign Up</a>
            </div> -->
            
            {% if user_session %}

                <a class="item" href="{% url 'logout' %}">
                    Logout
                </a>

            {% else %}

                <div class="item" style="padding-left: 12px;">
                    <button class="ui basic black button auth_button">
                        Signup or Login
                    </button>
                </div>

            {% endif %}
            

        </div>

    </div>

</div>


<script>

    let user_session = '{{ user_session }}';

    console.log('user_session:', user_session)

    if (user_session == 'None'){

        $('.navbar-logo').click(function(){

            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/';
            window.location.replace(new_url);

        });

    } else {

        $('.navbar-logo').click(function(){

            let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/dashboard';
            window.location.replace(new_url);

        });

    }

    $('.auth_button').click(function(){

        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/login';
        window.location.replace(new_url);

    })


</script>


