{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        /* p{
            font-size: 15px;
            line-height: 1.45em;
        }

        li{
            font-size: 14px;
            margin: 2px 0;
        } */

        section{
            color: black;
        }


    </style>


    {% include 'landing_navbar.html' %}
    

    <section>

        <div class="ui two column centered grid">
            
            <div class="column" style="width: 60%; margin-top: 0%;">

                <div class="ui basic segment">
                    
                    <h3 class="ui header">
                        About
                    </h3>

<!-- TODO: 
    start with about; finalize all the about / landing page; push eveyrthing to prod and ensrue all works; add fav-icon 
    get new custom-domain and re-route to the new domain 
        - see if the email can be transferred over easily
-->

                    <p>
                        <!-- We are trying to experiment with potential ways Generative AI Models can be utilized in the classroom, to help foster a more optimal
                        educational experience for both students and teachers. -->
                        We are exploring how Generative AI Models can be effectively utilized in the classroom to enhance and optimize the educational experience for both students and teachers.
                        <br/><br/>
                        <a id="demo_link" href="https://www.youtube.com/watch?v=hYPCzFBtVFE" target="_blank" rel="noopener noreferrer">
                            Watch the Comprehensive Demo
                        </a>, where I go through all the core use cases of Code Companion, for students and teachers.
                        <br/><br/>
                        <strong>
                            For Students:
                        </strong>
                        <br/><br/>
                        At the moment, we have built Code Companion, a tool that offers students a playground code editor, where
                        they can work on their problems, while being able to ask any questions they have to an AI-powered tutor.
                        <br/><br/>
                        The goal here is really to try to create learning a more personalized experience for each student, 
                        where they are able to understand the material at their own pace.
                        <br/><br/>
                        Students are also able to immediately get answers to their questions, along with feedback for each question
                        they work on.
                        <br/><br/>
                        <strong>
                            For Teachers: 
                        </strong>
                        <br/><br/>
                        Code Companion also helps teachers, eliminating a lot of the administrative headache that is part of
                        the teaching profession. 
                        <br/><br/>
                        With Code Companion, teachers will get help with creating their lesson plans, generating questions/quizzes, 
                        and get assistance with marking and providing student feedback.
                        <br/><br/>
                        Teachers will also be able to see the questions and conversations their students are having with the tutor,
                        enabling them to get a better understanding of what concepts they should further review in class.
                    </p>

                    <h3>Get Involved</h3>
                    <p>
                        This solution is merely only the start, and will go through several iterations.
                        <br/><br/>
                        If you are interested in the problem, want to help, and/or get involved, <a class="item" href="mailto:rahul@codecompanion.app">please reach out.</a>
                    </p>

                </div>

            </div>

        </div>
        
    </section>

    <!-- Footer -->
    {% include 'landing_footer.html' %}

{% endblock %}

