{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'app_menu.html' %}

<div class="ui grid playground-parent-container">

    <div class="eight wide column code-editor-parent-column">

        <textarea id="code" class="code-editor-textarea"></textarea>
        <input id="code_obj_id" type="hidden" value="{{ code_id }}" />

    </div>

    <div class="seven wide column ai-console-tutor-parent-column">

        <div class="ui tabular menu tab-menu-div">
            <a class="active item console-tab">
                <i class="bug icon"></i> Console
            </a>
            <a class="item tutor-tab">
                <i class="comment icon"></i> AI Tutor
            </a>

            <div class="right menu">

                {% if not anon_user %}
                    <a class="item" id="new_file_link">
                        <i class="plus icon"></i> New
                    </a>
                {% else %}
                    <a class="disabled item">
                        <i class="plus icon"></i> New
                    </a>
                {% endif %}
                
            </div>

        </div>
        
        <!-- Console Output -->
        <div class="console_parent_div">

            {% if uc_obj is not None %}

                <div class="file_name_parent_div">
                    <h3 id="file_name_header">
                        File Name:&nbsp; <span id="code_file_name" style="font-size: 16px; font-weight: 500;">{{ uc_obj.code_unique_name }}</span>&nbsp;&nbsp;
                        <span id="edit_filename_span" style="color: blue; font-size: 14px; font-weight: 500;">change name</span>
                    </h3>

                    <div id="file_name_change_form" style="display: none;">
                        <label for="file_name" style="font-size: 16px; font-weight: 500;"><strong>File Name:</strong></label>&nbsp;
                        <input type="text" id="file_name_input" name="file_name_input" value="{{ uc_obj.code_unique_name }}">
                        &nbsp;
                        <button id="file_name_change_btn">Submit</button>
                    </div>
                    
                </div>

            {% else %}

                <div class="file_name_parent_div" style="display: none;">
                    <h3 id="file_name_header">
                        File Name:&nbsp; <span id="code_file_name" style="font-size: 16px;">{{ uc_obj.code_unique_name }}</span>&nbsp;&nbsp;
                        <span id="edit_filename_span" style="color: blue; font-size: 14px;">change name</span>
                    </h3>

                    <div id="file_name_change_form" style="display: none;">
                        <label for="file_name" style="font-size: 16px;"><strong>File Name:</strong></label>&nbsp;
                        <input type="text" id="file_name_input" name="file_name_input" value="{{ uc_obj.code_unique_name }}">
                        &nbsp;
                        <button id="file_name_change_btn">Submit</button>
                    </div>
                    
                </div>

            {% endif %}

            <!-- <br/> -->

            <div class="console_button_parent_div">

                <!-- <div class="medium ui animated secondary button code_run_button" tabindex="0" onclick="evaluatePython()"> -->
                    
                <div class="medium ui animated green button code_run_button" tabindex="0" onclick="evaluatePython()">                    
                    <div class="visible content">Run</div>
                    <div class="hidden content">
                        <i class="play icon"></i>
                    </div>
                </div>

                &nbsp;&nbsp;

                <div class="medium ui animated blue button code_feedback_button" tabindex="0" onclick="handleSolutionSubmit()">
                    <div class="visible content">Get Feedback</div>
                    <div class="hidden content">
                        <!-- <i class="check icon"></i> -->
                        <i class="hand point right icon"></i>
                    </div>
                </div>

            </div>

            <div class="console_helper_text">
                <span>
                    &nbsp;
                    Ask the AI for advice for help by clicking the 'AI Tutor' tab above.
                </span>
            </div>

            <div class="console_textarea_parent">

                <h3 class="ui header">
                    Console Output:
                    <span id="clear_output_link">clear</span>
                </h3>
    
                <!-- <div class="ui segment output-code"> -->
                <div style="border: 1px solid #d4d4d5; border-radius: 5px;">
                    <textarea rows="20" id="output" disabled></textarea>
                </div>
                <!-- </div> -->

            </div>

        </div>

        <!-- AI Tutor -->
        <div class="ai_tutor_div" style="display: none;">

            <!-- Programming Assistant Tab -->
            <div id="programming_assistant_div">
                
                <div class="chat-container" id="chat">
                    
                    <div class="message">
                        <strong>Welcome! &nbsp; &#128588</strong>&nbsp;
                        I'm Code Companion, your personal programming tutor.
                        <br/><br/>
                        If you are running into a problem such as a bug in your code, a LeetCode problem, or need help understanding a concept, ask me and I will be more than happy to help.
                        <br/><br/>
                        You can also use me to generate more practice questions for you, for specific concepts you want further review on.
                        <br/><br/>
                        I won't give you the answer, but will definitely point you in the right direction! &#128512;

                    </div>

                    <hr>

                    <br/>
                    {% for ucs_obj in user_conversation_objects %}
                    
                        <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                        <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.response | safe }}</div>

                    {% endfor %}

                </div>

                {% if not anon_user %}

                    <div class="input-container">
        
                        <div class="ui form" style="width: 100%;">
                            <div class="field">
                                <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                            </div>                    
                        </div>
                        &nbsp;
                        <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                        <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                    </div>

                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        Answer Response usually takes 15-30 seconds. (this will get better soon...)
                    </span>

                {% else %}

                    <div class="input-container">
        
                        <div class="ui form" style="width: 100%;">
                            <div class="field">
                                <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                            </div>                    
                        </div>
                        &nbsp;
                        <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                        <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                    </div>

                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        Answer Response usually takes 15-30 seconds. (this will get better soon...)
                    </span>

                {% endif %}

            </div>

        </div>

    </div>

</div>

  
<script>

    $( document ).ready(function() {

        document.body.style.background = "#f9f9f9";


    });

    const custom_user_obj = '{{ custom_user_obj }}';
    const custom_user_obj_id = '{{ custom_user_obj_id }}';
    const is_anon_user =  '{{ anon_user }}';

    console.log('is_anon_user', is_anon_user);

    // user_session = '{{ user_session }}';
    let user_cid = null;
    let user_code_obj = '{{ uc_obj }}';

    let anon_user_localstg_dict = {};
    let pcid_associated_dict = {};
    let pcid_user_messages = [];
    let anon_user_messages = [];
    
    // Chat Functionality
    const chat = document.getElementById("chat");
    const chatInput = document.getElementById("chatInput");
    const sendButton = document.getElementById("sendButton");
    // let existing_anon_user_id = localStorage.getItem("unique_anon_identifier");

    // document.body.style.background = "#f9f9f9";
    // document.body.style.background = "white";

    $('.tabular.menu .item').tab();

    $('.console-tab').click(function(){
        
        $('.console-tab').addClass('active');
        $('.tutor-tab').removeClass('active');

        $('.console_parent_div').show();
        $('.ai_tutor_div').hide();

    });

    $('.tutor-tab').click(function(){
        
        $('.tutor-tab').addClass('active');
        $('.console-tab').removeClass('active');

        $('.ai_tutor_div').show();
        $('.console_parent_div').hide();

    });


    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {
            name: "python",
            version: 3,
            singleLineStringErrors: false
        },
        lineNumbers: true,
        indentUnit: 4,
        indentWithTabs: true,
        matchBrackets: true,
        theme: "duotone-light",
        // theme: "yeti",
        scrollbarStyle: "null",
        lineWrapping: true,
    });
    // editor.setSize(700, 720);
    // editor.setSize(500, 620)
    
    
    if (user_code_obj != 'None'){

        let user_code_st = `{{ uc_obj.user_code|safe }}`;
        editor.setValue(user_code_st);
        user_cid = '{{ uc_obj.id }}';

    } else {

        editor.setValue(`# Run the code by clicking the button to the right\n# If you need any help, ask the AI to provide guidance\n\n# Write your code below:\n\ndef hello_world():\n    print("Hello World from Companion!")\n\nhello_world()\n\n\n`);

    }


    if (is_anon_user === true){

        let tmp_usr_messages = JSON.parse(localStorage.getItem("anon_playround_user_messages"));

        // console.log('tmp-user-messages:', tmp_usr_messages, tmp_usr_messages == null)

        if (tmp_usr_messages != null){

            anon_user_messages = tmp_usr_messages

            if (anon_user_messages.length > 0){

                for (idx = 0; idx <= anon_user_messages.length-2; idx += 2){

                    // console.log(idx, idx+1)

                    let messageText = anon_user_messages[idx]
                    let model_response_message = anon_user_messages[idx+1]

                    const message = document.createElement("div");
                    message.className = "message";
                    message.innerHTML = "<b>You:</b> " + messageText;
                    message.style.whiteSpace = 'pre-wrap'
                    chat.appendChild(message);

                    const responseMessage = document.createElement("div");
                    responseMessage.className = "message";
                    responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                    // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                    chat.appendChild(responseMessage);
                    // chat.scrollTop = chat.scrollHeight;

                }

            }

        }

        let anon_user_code_st = localStorage.getItem('anon_playground_user_code');
        if (anon_user_code_st != null){
            editor.setValue(anon_user_code_st);
        }

    };


    async function main() {
        let pyodide = await loadPyodide({ indexURL: "https://cdn.jsdelivr.net/pyodide/v0.23.4/full/" });

        // Pyodide ready
        output.value += "Ready!\n";

        // $('#primary_page_loader').hide();

        return pyodide;
    };
    

    let pyodideReadyPromise = main();

    function addToOutput(s) {

        try {

            let val_list = s.split("\n");
            for (i=0; i <= val_list.length-2; i++){
                let otv = val_list[i];
                output.value += ">>> " + otv + "\n"; 
            }

            var textarea = document.getElementById('output');
            textarea.scrollTop = textarea.scrollHeight;

        } catch(err) {

            output.value += ">>> " + s + "\n";

        }

    };

    async function evaluatePython() {
        let pyodide = await pyodideReadyPromise;
        try {
            let captureOutputCode = `
import sys
from io import StringIO
old_stdout = sys.stdout
sys.stdout = mystdout = StringIO()

${editor.getValue()}

sys.stdout = old_stdout
mystdout.getvalue()
`;

            let output = pyodide.runPython(captureOutputCode);

            // console.log('User Code:', editor.getValue())
            // console.log('CODE OUTPUT:', output);

            addToOutput(output);

            saveCode();
            // if (user_session != 'None'){
            //     saveCode();
            // }

        } catch (err) {
            
            addToOutput(err);

            saveCode();
            // if (user_session != 'None'){
            //     saveCode();
            // }

        }
    }


    sendButton.addEventListener("click", sendMessage);
    chatInput.addEventListener("keydown", (event) => {
    
        if (event.keyCode == 13 && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }

    });

    $("#chatInput").on('keyup', function(event) {
        
        var currentString = $("#chatInput").val()

        if (currentString.length > 0){

            $('#sendButton').removeClass('disabled');
            
        } else {
            $('#sendButton').addClass('disabled');
        }
        
    });



    function saveCode(){

        let cid = $('#code_obj_id').val();

        let user_code = editor.getValue();

        if (initial_user_session == 'None'){
            localStorage.setItem('anon_playground_user_code', user_code);
        };

        let d = {
            'custom_user_obj_id': custom_user_obj_id,
            'cid': cid,
            'user_code': user_code,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        // console.log("cid-dict:", d);

        $.ajax({
            type: 'POST',
            url: "{% url 'save_user_code' %}",
            dataType: "json",
            data: d,
            success: function (response) {

                // console.log('response:', response);

                if (response['success'] == true){

                    if (cid == 'None'){

                        if (initial_user_session == 'None'){}
                        else {
                            var url = new URL(window.location.href);
                            url.searchParams.set('cid', response['cid']);
                            window.history.replaceState(null, null, url);
                        }

                        // // window.location.reload();
                        // // window.location.href = ''
                        // var url = new URL(window.location.href);
                        // url.searchParams.set('cid', response['cid']);
                        // window.history.replaceState(null, null, url);
                        // // window.location.href = url;
                        
                        // console.log('cid:', response['cid']);
                        let saved_cid = response['cid'];
                        $("#code_obj_id").val(saved_cid);
                        
                        if (initial_user_session != 'None'){
                            let code_file_name = response['code_file_name'];
                            $("#code_file_name").text(code_file_name);
                            $("#file_name_input").val(code_file_name);
                            $(".file_name_parent_div").show();
                        }

                    } else {

                        let saved_cid = response['cid'];
                        $('#code_obj_id').val(saved_cid);
                        
                        // $('#save_code_button').hide().promise().done(function(){

                        //     $('#save_code_success_text').show().delay(2000).fadeOut(500).promise().done(function() {
                        //         $('#save_code_button').show();
                        //     });

                        // });

                    }

                }

            },
            error: function (response) {}
            
        });

        // if (initial_user_session == 'None'){

        //     let user_code = editor.getValue();
        //     // console.log('new-user-code-save:', user_code)
        //     localStorage.setItem('anon_playground_user_code', user_code);

        // } else {

        //     let cid = $('#code_obj_id').val();
        //     // let lqid = $('#lesson_question_obj_id').val();

        //     let user_code = editor.getValue();
        //     let d = {
        //         'cid': cid,
        //         // 'lqid': lqid,
        //         'user_code': user_code,
        //         csrfmiddlewaretoken: '{{ csrf_token }}'
        //     };

        //     console.log("cid-dict:", d);
            
        //     $.ajax({
        //         type: 'POST',
        //         url: "{% url 'save_user_code' %}",
        //         dataType: "json",
        //         data: d,
        //         success: function (response) {

        //             // console.log('response:', response);

        //             if (response['success'] == true){

        //                 if (cid == 'None'){

        //                     // window.location.reload();
        //                     // window.location.href = ''
        //                     var url = new URL(window.location.href);
        //                     url.searchParams.set('cid', response['cid']);
        //                     window.history.replaceState(null, null, url);
        //                     // window.location.href = url;
                            
        //                     // console.log('cid:', response['cid']);
        //                     let saved_cid = response['cid'];
        //                     $("#code_obj_id").val(saved_cid);

        //                 } else {

        //                     let saved_cid = response['cid'];
        //                     $('#code_obj_id').val(saved_cid);
                            
        //                     $('#save_code_button').hide().promise().done(function(){

        //                         $('#save_code_success_text').show().delay(2000).fadeOut(500).promise().done(function() {
        //                             $('#save_code_button').show();
        //                         });

        //                     });

        //                 }

        //             }

        //         },
        //         error: function (response) {}
                
        //     });

        // }

    };



    function handleSolutionSubmit(){

        $('#chatInput').val('I believe this is the solution to the problem. Can you provide feedback on my code? Any advice or suggestions for improvement?');
        
        $('.tutor-tab').addClass('active');
        $('.console-tab').removeClass('active');

        $('.console_parent_div').hide();
        $('.ai_tutor_div').show();

        $('#sendButton').click();

    };


    function sendMessage() {

        const messageText = chatInput.value.trim();

        if (messageText !== "") {

            $('#chatInput').prop('disabled', true);

            $('#sendButton').hide();
            $('#primary_loading_button').show();

            const message = document.createElement("div");
            message.className = "message";
            message.innerHTML = "<b>You:</b> " + messageText;
            message.style.whiteSpace = 'pre-wrap'
            chat.appendChild(message);

            chat.scrollTop = chat.scrollHeight;
            
            chatInput.value = "";

            let user_code = editor.getValue();

            let cid = $('#code_obj_id').val();
            // let lqid = $('#lesson_question_obj_id').val();

            let d = {};
            if (initial_user_session == 'None'){

                let prev_conversation_history = []
                if (anon_user_messages.length > 0){
                    
                    prev_conversation_history = anon_user_messages.slice( anon_user_messages.length-6, anon_user_messages.length )

                }

                let prev_conversation_history_st = ''
                if (prev_conversation_history.length > 0){
                    
                    prev_conversation_history_st = prev_conversation_history.join('\n');
                    
                }

                d = {
                    'existing_anon_user_id': existing_anon_user_id,
                    'message': messageText,
                    'user_code': user_code,
                    'previous_messages': prev_conversation_history_st,
                    'cid': cid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }

            } 
            else {

                d = {
                    'existing_anon_user_id': existing_anon_user_id,
                    'message': messageText,
                    'user_code': user_code,
                    'cid': cid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

            }

            // // console.log('user-message-dict:', d);

            $.ajax({
                type: 'POST',
                url: "{% url 'handle_user_message' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    var model_response_dict = response['response'];
                    
                    // TODO: fixing undefined bug
                    console.log('model-res-dict:', model_response_dict);

                    var model_response_message = model_response_dict['response'];
                    model_response_message = model_response_message.replaceAll('\n', '<br/>');

                    var user_question = model_response_dict['question'];

                    const responseMessage = document.createElement("div");
                    responseMessage.className = "message";
                    responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message;
                    chat.appendChild(responseMessage);
                    
                    chat.scrollTop = chat.scrollHeight;

                    $('#chatInput').prop('disabled', false);
                    $('#sendButton').show();
                    $('#primary_loading_button').hide();

                    let saved_cid = model_response_dict['cid'];

                    if (initial_user_session == 'None'){

                        var final_question_st = messageText
                        var final_response_st = model_response_message
                        anon_user_messages.push(final_question_st)
                        anon_user_messages.push(final_response_st)
                        
                        localStorage.setItem('anon_playround_user_messages', JSON.stringify(anon_user_messages));
                        localStorage.setItem('anon_playground_user_code', user_code);

                        $('#code_obj_id').val(saved_cid);

                    } else {

                        var url = new URL(window.location.href);
                        url.searchParams.set('cid', saved_cid);
                        window.history.replaceState(null, null, url);

                        $('#code_obj_id').val(saved_cid);

                        let code_file_name = response['code_file_name'];
                        $("#code_file_name").text(code_file_name);

                        $("#file_name_input").val(code_file_name);
                        $(".file_name_parent_div").show();

                    }

                    $('#solution_submit_button').removeClass("disabled");

                },
                error: function (response) {}
                
            });

        }

    };



    $('#clear_output_link').click(function(){

        $('#output').val('');

    });



    // https://stackoverflow.com/questions/11502122/jquery-keypress-event-for-cmds-and-ctrls
    $(document).keydown(function(event) {

        if((event.ctrlKey || event.metaKey) && event.which == 83) {
            // Save Function
            event.preventDefault();
            saveCode();
            return false;
        };

    });



    $('#new_file_link').click(function(){

        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/playground';
        window.location.replace(new_url);

    });


    $('#edit_filename_span').click(function(){
        
        $('#file_name_header').hide();
        $('#file_name_change_form').show();

        // $('#code_file_name_text').hide();
        // $('#edit_filename_span').hide();

        // $('#file_name_input').show();
        // $('#file_name_input_submit').show();

    });

    $('#file_name_change_btn').click(function(){

        let new_file_name = $('#file_name_input').val();
        let cid = $('#code_obj_id').val();
        let user_code = editor.getValue();

        let d = {
            'cid': cid, 
            'user_code': user_code,
            'new_file_name': new_file_name,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'handle_file_name_change' %}",
            dataType: "json",
            data: d,
            success: function (response) {

                $('#code_file_name').text(new_file_name);

                $('#file_name_change_form').hide();
                $('#file_name_header').show();

                // // console.log('response:', response);

                // $('#code_file_name_text').html("File: " + response['new_file_name']);
                // $('#file_name_input').val(response['new_file_name']);

                // $('#file_name_input').hide();
                // $('#file_name_input_submit').hide();
                // $('#code_file_name_text').show();
                // $('#edit_filename_span').show();

                // var url = new URL(window.location.href);
                // url.searchParams.set('cid', response['cid']);
                // window.history.replaceState(null, null, url);
                
                // // console.log('cid:', response['cid']);
                // let saved_cid = response['cid'];
                // $("#code_obj_id").val(saved_cid);

            },
            error: function (response) {}
            
        });

    });




// // TODO: modify and fix this
// $('#file_name_input_submit').click(function(){

// let new_file_name = $('#file_name_input').val();
// let cid = $('#code_obj_id').val();
// let user_code = editor.getValue();

// let d = {
//     'cid': cid, 
//     'user_code': user_code,
//     'new_file_name': new_file_name,
//     csrfmiddlewaretoken: '{{ csrf_token }}'
// }

// $.ajax({
//     type: 'POST',
//     url: "{% url 'handle_file_name_change' %}",
//     dataType: "json",
//     data: d,
//     success: function (response) {

//         // console.log('response:', response);

//         $('#code_file_name_text').html("File: " + response['new_file_name']);
//         $('#file_name_input').val(response['new_file_name']);

//         $('#file_name_input').hide();
//         $('#file_name_input_submit').hide();
//         $('#code_file_name_text').show();
//         $('#edit_filename_span').show();


//         var url = new URL(window.location.href);
//         url.searchParams.set('cid', response['cid']);
//         window.history.replaceState(null, null, url);
        
//         // console.log('cid:', response['cid']);
//         let saved_cid = response['cid'];
//         $("#code_obj_id").val(saved_cid);

//     },
//     error: function (response) {}
    
// });

// })



</script>

{% endblock %}

