{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'app_menu.html' %}

<div class="ui grid course-outline-parent-container">

    <div class="eight wide column course-outline-parent-column" style="padding-left: 35px; padding-top: 20px;">

        <h4 class="course-outline-name">{{ course_object.name }}</h4>
        <p class="course-outline-description">
            {{ course_object.description }}
        </p>

        <ul class="ui list course-module-list" style="padding-top: 10px;">
            {% for md_obj in course_module_list %}
                <li style="padding-bottom: 25px;">
                    <strong>
                        Module {{ md_obj.0.module_number }}: {{ md_obj.0.module_topic }}
                    </strong>
                    <ul class="ui list module-sub-topic-list">
                        {% for d in md_obj.1 %}
                        <li>
                            {{ d }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- <br/> -->
            {% endfor %}
        </ul>
        
        <!-- <div class="ui segment" style="padding-left: 20px; background-color: #f9f9f9;">
            <div id="content"></div>
        </div> -->
        
    </div>

    <div class="seven wide column ai-chat-course-outline-parent-column">

        <div class="ui tabular menu tab-menu-div">

            <a class="active item tutor-tab">
                <i class="comment icon"></i> Any Changes? (Course Object ID: {{ course_object.id }})
            </a>

            <!-- TODO: start here to implement this -->
            <a class="item" style="color: green;" id="course_proceed_link">
                All Good, Proceed to Course &nbsp;&nbsp;<i class="arrow right icon"></i>
            </a>

        </div>

        <!-- AI Chat -->
        <div class="ai_tutor_div" >

            <!-- Programming Assistant Tab -->
            <div id="programming_assistant_div">
                
                <div class="chat-container" id="chat">
                    
                    <div class="message">
                        So, on the right, I'm presenting a Course Outline, which I specifically generated for you,
                        based on your goals and background.
                        <br/><br/>
                        If everything looks alright, click the button above which saved "Proceed to Course".
                        <br/><br/>
                        If you want to make speciifc changes to the outline, let me know and I'd be happy
                        to make those changes!
                    </div>

                    <hr>

                    <br/>
                    {% for ucs_obj in user_conversation_objects %}
                    
                        <div class="message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.0 | safe }}</div>
                        <div class="message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.1 | safe }}</div>

                    {% endfor %}

                </div>

                {% if user_session is not None %}

                    <div class="input-container">
        
                        <div class="ui form" style="width: 100%;">
                            <div class="field">
                                <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                            </div>                    
                        </div>
                        &nbsp;
                        <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                        <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                    </div>

                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        Answer Response usually takes 15-30 seconds. (this will get better soon...)
                    </span>

                {% else %}

                    <div class="input-container">
        
                        <div class="ui form" style="width: 100%;">
                            <div class="field">
                                <textarea rows="2" id="chatInput" class="input-box form-control" placeholder="ask any question..."></textarea>
                            </div>                    
                        </div>
                        &nbsp;
                        <button id="sendButton" class="ui primary button disabled send-button">Send</button>
                        <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

                    </div>

                    <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
                        Answer Response usually takes 15-30 seconds. (this will get better soon...)
                    </span>

                {% endif %}

            </div>

        </div>

    </div>

</div>


<script>

    let course_outline_object_id = '{{ course_object.id }}';
    // console.log('cobj-id', course_outline_object_id)
    let course_outline_md = `{{ course_object.outline|safe }}`;
    // document.getElementById('content').innerHTML = marked.parse(course_outline_md);

    // Global Vars
    const initial_user_session = '{{ user_session }}';
    const chat = document.getElementById("chat");
    const chatInput = document.getElementById("chatInput");
    const sendButton = document.getElementById("sendButton");


    $("#chatInput").on('keyup', function(event) {
        
        var currentString = $("#chatInput").val()

        if (currentString.length > 0){

            $('#sendButton').removeClass('disabled');
            
        } else {
            $('#sendButton').addClass('disabled');
        }
        
    });

    sendButton.addEventListener("click", sendMessage);
    chatInput.addEventListener("keydown", (event) => {
    
        if (event.keyCode == 13 && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }

    });

    function sendMessage() {

        const messageText = chatInput.value.trim();

        if (messageText !== "") {

            $('#chatInput').prop('disabled', true);

            $('#sendButton').hide();
            $('#primary_loading_button').show();

            const message = document.createElement("div");
            message.className = "message";
            message.innerHTML = "<b>You:</b> " + messageText;
            message.style.whiteSpace = 'pre-wrap'
            chat.appendChild(message);

            chat.scrollTop = chat.scrollHeight;
            
            chatInput.value = "";

            let d = {
                'course_outline_object_id': course_outline_object_id,
                'message': messageText,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'student_course_outline_handle_message' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    console.log('model-response:', response);

                    if (response['success'] == true){

                        let model_response_dict = response['response'];
                        let new_course_outline_generation = response['new_course_outline_generation'];
                        if (new_course_outline_generation == true){

                            let course_outline_text_md = model_response_dict['response']['modules'];
                            let course_outline_name = model_response_dict['response']['name'];
                            let course_outline_description = model_response_dict['response']['description'];

                            $('.course-outline-name').html(course_outline_name);
                            $('.course-outline-description').html(course_outline_description);
                            
                            let course_outline_module_list = model_response_dict['response']['modules'];
                            console.log('module-list:', course_outline_module_list);

                            $('.course-module-list').empty();

                            for(i = 0; i <= course_outline_module_list.length-1; i++){

                                let cm_di = course_outline_module_list[i];
                                let md_num = cm_di['module_number'];
                                let md_topic = cm_di['module_topic'];
                                let md_description = cm_di['module_description'];

                                let md_description_ul_elem = document.createElement("ul");
                                md_description_ul_elem.className = "ui list module-sub-topic-list";
                                md_description_ul_elem.style.paddingTop = '10px';

                                for (y = 0; y <= md_description.length-1; y++){

                                    let md_desc_li_elem = document.createElement("li");
                                    md_desc_li_elem.innerText = md_description[y];
                                    md_description_ul_elem.appendChild(md_desc_li_elem);

                                }

                                let parent_md_topic_li_elem = document.createElement("li");
                                let tmp_strong_elm = document.createElement('strong');
                                tmp_strong_elm.innerText = "Module " + md_num + ': ' + md_topic;
                                parent_md_topic_li_elem.appendChild(tmp_strong_elm);
                                parent_md_topic_li_elem.style.paddingBottom = '25px';
                                // parent_md_topic_li_elem.innerText = "Module " + md_num + ': ' + md_topic;
                                // // parent_md_topic_li_elem.style.fontWeight = 'bold';
                                // // parent_md_topic_li_elem.style.paddingBottom = '25px';
                                parent_md_topic_li_elem.appendChild(md_description_ul_elem);

                                $('.course-module-list').append(parent_md_topic_li_elem);
                                // course-module-list

                            };

                            let model_response_text = model_response_dict['response']['message_to_student'];
                            const responseMessage = document.createElement("div");
                            responseMessage.className = "message";
                            responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_text;
                            chat.appendChild(responseMessage);


        //                     <h4 class="course-outline-name">{{ course_object.name }}</h4>
        // <p class="course-outline-description"

                        } else {

                            let model_response_text = model_response_dict['response']['message_to_student'];

                            const responseMessage = document.createElement("div");
                            responseMessage.className = "message";
                            responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_text;
                            chat.appendChild(responseMessage);

                        }

                        chat.scrollTop = chat.scrollHeight;
                        $('#chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();

                    }

                },
                error: function (response) {}
                
            });

        }

    };


    $('#course_proceed_link').click(function(){

        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/personal_course_homepage';
        window.location.replace(new_url);

    });
    
</script>

{% endblock %}

