{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        .content{
            font-family: 'Raleway', sans-serif;
        }

    </style>    


    {% include 'landing_navbar.html' %}

    <div class="ui grid">

        <div class="five wide column"></div>

        <div class="six wide column" style="text-align: center; margin-top: 4%;">
            

            <!-- Student Email Validation -->
            <div id="student_email_validation_div" style="display: none;">

                <h2 class="ui header">
                    <div class="content">
                        <!-- <i class="sign-in icon" style="font-size: 20px;"></i> -->
                        Enter your Email
                    </div>                    
                </h2>
                <span style="color: gray;">(The email where you received the invite link from your teacher...)</span>

                <form class="ui large form" method="POST">{% csrf_token %}

                    <div class="ui stacked segment">

                        <div class="field">
                            <label style="text-align: left;">Email:</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" id="validate_email_field" name="email" placeholder="E-mail address">
                            </div>
                        </div>
    
                        <button class="ui fluid large black submit button" id="email_validation_button_submit">
                            Submit
                        </button>
    
                    </div>
                    
                </form>

                <div id="student_email_validation_eror" class="ui error message" style="color: red; display: none;"></div>

            </div>


            <!-- Student Account Creation -->
            <div id="student_account_creation_div" style="display: none;">

                <h2 class="ui header">
                    <div class="content">
                        <i class="sign-in icon" style="font-size: 20px;"></i>
                        Create Your Account
                    </div>
                </h2>

                <form class="ui large form" method="POST">{% csrf_token %}

                    <div class="ui stacked segment">

                        <div class="field">
                            <label style="text-align: left;">Name:</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="full-name" placeholder="John Doe">
                            </div>
                        </div>

                        <div class="field">
                            <label style="text-align: left;">Email:</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input id="account_create_email_field" type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>

                        <div class="field">
                            <label style="text-align: left;">Password:</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password-one" placeholder="Password">
                            </div>
                        </div>

                        <div class="field">
                            <label style="text-align: left;">Password Confirmation:</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password-two" placeholder="Confirm Password">
                            </div>
                        </div>

                        <button class="ui fluid large black submit button">
                            Sign Up
                        </button>

                    </div>

                </form>

                {% if error_message %}

                    <div class="ui error message" style="color: red;">
                        {{ error_message }}
                    </div>

                {% endif %}
                
            </div>

        </div>

        <div class="four wide column"></div>

    </div>





    <script>
        
        let form_type = '{{ form_type }}';

        if (form_type == 'account_create_form'){

            $('#student_account_creation_div').show()
            $('#student_email_validation_div').hide()

        } else {

            $('#student_account_creation_div').hide()
            $('#student_email_validation_div').show()

        }

        

        


        $('#email_validation_button_submit').click(function(event){

            event.preventDefault();

            let user_email = $('#validate_email_field').val();

            let d = {
                'form_type': 'validate_user_email',
                'student_email': user_email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'student_admin_account_create' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    console.log('response:', response);

                    if (response['success'] === true){

                        $('#student_email_validation_div').hide();
                        $('#student_account_creation_div').show();

                        $('#account_create_email_field').val(user_email);
                        
                    } else {

                        let error = response['message'];
                        $('#student_email_validation_eror').text(error);
                        $('#student_email_validation_eror').show();

                    }

                },
                error: function (response) {}
                
            });


            return false;

        });


    </script>


{% endblock %}    


