{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'app_menu.html' %}

<div class="ui grid course-outline-parent-container">

    <div class="eight wide column course-outline-parent-column">

        <!-- <h4>{{ course_object.name }}</h4>
        <p>
            {{ course_object.description }}
        </p> -->
        
        <div class="ui basic segment">
            <div id="content"></div>
        </div>
        
    </div>

    <div class="seven wide column ai-chat-course-outline-parent-column">

        <!-- TODO: -->

    </div>

</div>


<script>

    let course_outline_md = `{{ course_object.outline|safe }}`;
    document.getElementById('content').innerHTML = marked.parse(course_outline_md);

</script>

{% endblock %}


