{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        #main_center_column{
            padding-top: 30px;
        }

        #center_card_column{
            padding-top: 5%;
            padding-left: 10%;
        }

        .description{
            font-size: 12.5px;
        }

        .add_student_icon:hover{
            cursor: pointer;
            color: lightblue;
        }

    </style>    


    {% include 'teacher_admin_navbar.html' %}


    <!-- Invite Student Modal -->
    <div class="ui tiny modal" id="invite_student_modal">

        <div class="header">Invite Students</div>
        <div class="content">
            
            <form class="ui form" method="POST">{% csrf_token %}

                <div class="field">
                    <label>Student Email: <span style="color: gray; font-weight: 400;">(enter multiple emails with a comma next to each one; see format below)</span></label>
                    <textarea name="student_emails" id="student_emails_input" rows="4" placeholder="ie. john@gmail.com, austin@gmail.com, joseph.smith@gmail.com"></textarea>
                </div>

                <button class="ui button" type="submit">Submit</button>

            </form>

        </div>

    </div>


    <!-- Main -->
    <div class="ui grid container">

        <div class="two wide column"></div>

        <div class="twelve wide column" id="main_center_column">

            <!-- <div style="display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" style="font-size: 19px;">
                    <i class="users icon" style="font-size: 22px;"></i>
                    Your Students
                </h3>

                <span class="add_student_icon" style="font-size: 15px;">
                    <i class="plus icon" style="font-size: 14px;"></i>
                    Invite your students
                </span>

            </div> -->

            
            <a href="{% url 'teacher_admin_dashboard' %}" style="padding-top: 0px; margin-top: 0px; padding-bottom: 5px;">
                <i class="arrow alternate circle left outline icon"></i>
                Back
            </a>

            <div class="ui success message" id="email_success_message" style="display: none;">
                <i class="close icon"></i>
                <div class="header">
                  Emails sent successfully!
                </div>
                <p>Only a matter of time now...</p>
            </div>

            <div class="ui tabular menu">

                <a class="active item" id="students_tab">
                    <i class="users icon" style="font-size: 16px;"></i>
                    Your Students
                </a>
                
                <a class="disabled item" id="performance_tab">
                    <i class="chart line icon" style="font-size: 16px;"></i>
                    Student Performance (coming soon..)
                </a>
                
                <div style="float: right; padding-top: 12px; padding-left: 25%;">
                    <span class="add_student_icon" style="font-size: 14px;">
                        <i class="plus icon" style="font-size: 13px;"></i>
                        Invite your students
                    </span>
                </div>

            </div>
            
            <br/>
            <span style="color: gray; font-size: 13px;">
                Manage your students below, along with viewing their activity by clicking on their emails.
            </span>


            <!-- Student Management Div -->
            <div class="ui middle aligned divided list" style="width: 100%; padding-top: 5px;">

                {% if student_objects|length == 0 %}

                    <div class="ui placeholder segment">

                        <div class="ui icon header" style="font-size: 16px;">
                            <i class="user outline icon" style="font-size: 24px;"></i>
                            No students registered in your class. Invite your students by clicking the button above.
                        </div>

                    </div>


                {% else %}

                    {% for stobj in student_objects %}

                        <div class="item">

                            <div class="content" style="padding-top: 10px; padding-bottom: 28px;">

                                <div class="right floated content">
                                    <div class="negative ui mini animated button" tabindex="0">
                                        <div class="visible content">Delete Student</div>
                                        <div class="hidden content">
                                        <i class="trash icon"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="header" style="font-size: 15.5px;">

                                    {% if stobj.0.student_registered %}

                                        <a class="file_name_header" href="{% url 'teacher_admin_student_view' uid=stobj.1.id %}">
                                            {{ stobj.0.student_email }}
                                        </a>

                                    {% else %}

                                        <a class="file_name_header">
                                            {{ stobj.0.student_email }}
                                        </a>

                                    {% endif %}

                                    {% if stobj.0.student_registered %}
                                        
                                        <div class="ui green mini label" style="margin-left: 10px;">registered</div>

                                    {% else %}

                                        <div class="ui mini label" style="margin-left: 10px;">not registered</div>

                                    {% endif %}
                                    
                                </div>
                
                                <div style="padding-top: 14px;">

                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Invited: {{ stobj.0.created_at|date }}
                                    </span>

                                    <!-- <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>

                                    <span style="font-size: 12.5px; color: gray; float: left;">
                                        <i class="clock outline icon"></i>
                                        Date Joined: {{ stobj.0.modified_at|date }}
                                    </span> -->
                                    
                                    {% if stobj.0.student_registered %}

                                        <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>

                                        <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">
                                            <i class="hashtag icon"></i>Messages: {{ stobj.2 }}
                                        </span>

                                        <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">|</span>

                                        <span style="font-size: 12.5px; color: gray; float: left; padding-left: 8px;">
                                            <i class="hashtag icon"></i>Code Files: {{ stobj.3 }}
                                        </span>

                                    {% endif %}

                                </div>

                            </div>

                        </div>
                    
                    {% endfor %}


                {% endif %}


            </div>


            <!-- Student Performance Div -->
            <div id="student_performance_div" style="display: none;">
            </div>


        </div>

        <div class="two wide column"></div>
        
        
    </div>





    <script>


        $(document).ready(function(){

            $('.add_student_icon').click(function(){

                $('#invite_student_modal').modal('show');

            });

        });

        
        let invite_student_success = '{{ invite_student_success }}';
        console.log('invite-stud-message:', invite_student_success)
        if (invite_student_success == 'True'){

            // console.log('asldkjad')
            $('#email_success_message').show();
            // window.location.reload();

            // setTimeout(function() {
            //     $('#email_success_message').show()
            // }, 3000); // <-- time in milliseconds

        };

        $(".close.icon").click(function(){
            $(this).parent().hide();
        });

    </script>


{% endblock %}


