{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

    </style>

    {% include 'dashboard_navbar.html' %}

    <div class="ui grid container">
        
        <div class="two wide column"></div>

        <div class="twelve wide column">

            <a href="{% url 'teacher_admin_dashboard' %}">
                <i class="arrow alternate circle left outline icon"></i>
                Back
            </a>

            <div style="padding-top: 20px; display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" >
                    <!-- <i class="user icon"></i> -->
                    Student Profile
                </h3>

            </div>

            <ul style="line-height: 1.7em;">

                <li style="font-size: 14.5px;">
                    <strong>
                        Email:
                    </strong>
                    {{ user_obj.email }}
                </li>
                
                <li style="font-size: 14.5px;">
                    <strong>
                        Auth Type:
                    </strong>
                    {{ user_obj.auth_type }}
                </li>
                
                <li style="font-size: 14.5px;">
                    <strong>
                        Created Date:
                    </strong>
                    {{ user_signup_date }}</li>
                
                <li style="font-size: 14.5px;">
                    <strong>
                        Last Login Date:
                    </strong>
                    {{ user_last_login_date }}
                </li>
                
            </ul>


            <div style="padding-top: 20px; display:flex; justify-content:space-between; align-items:baseline;">
                
                <h3 class="ui header" >
                    <!-- <i class="user icon"></i> -->
                    Student Activity:
                </h3>

            </div>

            <ul>

                {% for cdobj in user_code_objects %}
                
                    <li>
                        
                        {% if cdobj.0.lesson_question_obj.lesson_obj is None %}

                            <a href="{% url 'playground' %}?cid={{ cdobj.0.id }}">
                                <strong>File: </strong>{{ cdobj.0.code_unique_name }} | <strong>ID: </strong>{{ cdobj.0.id }} | <strong>Lesson: </strong>None
                            </a>
                            
                        {% else %}
                            
                            <a href="{% url 'playground' %}?cid={{ cdobj.0.id }}">
                                <strong>File: </strong>{{ cdobj.0.code_unique_name }} | <strong>ID: </strong>{{ cdobj.0.id }} | <strong>Lesson: </strong>{{ cdobj.0.lesson_question_obj.lesson_obj.title }}
                            </a>
                            
                        {% endif %}
                        
                        <ul style="padding-top: 10px; line-height: 1.7em;">

                            {% for code_convers in cdobj.1 %}

                                <li>
                                    <strong>Question: </strong>{{ code_convers.question }}
                                </li>
                                
                            {% endfor %}

                        </ul>
                        
                    </li>
                    <br/>

                {% endfor %}

            </ul>


        </div>

        <div class="two wide column"></div>

    </div>


{% endblock %}



