{% load static %}

<div class="ui secondary pointing menu app-secondary-top-menu">

    {% if not anon_user %}
        <a class="item app-navbar-logo" >
            <i class="code icon"></i>Companion
        </a>
    {% else %}
        <a class="item app-navbar-logo" href="{% url 'landing' %}">
            <i class="code icon"></i>Companion
        </a>
    {% endif %}
    
    <div class="right menu">
        
        {% if not anon_user %}
            <a class="item" href="{% url 'dashboard' %}">
                <i class="map pin icon"></i> Dashboard
            </a>
            &nbsp;
        {% endif %}

        <a class="item" href="{% url 'playground' %}">
            <i class="code icon"></i> IDE
        </a>
        &nbsp;

        &nbsp;
        <a class="item" href="{% url 'general_cs_tutor' %}">
            <i class="code icon"></i> Chat with Tutor
        </a>
        &nbsp;
        
        {% if not anon_user %}
            <div class="ui item">
                <i class="user icon"></i>
                <strong>{{ current_user_email }}</strong>
            </div>
            &nbsp;
            <a class="item" href="{% url 'logout' %}">
                <i class="sign out alternate icon"></i> Logout
            </a>

        {% else %}
        <a class="ui item" href="{% url 'login' %}">
            <i class="user icon"></i> Signup / Login
        </a>
        {% endif %}

    </div>
    
</div>
