{% load static %}

<div class="ui secondary menu landing-navbar-parent">

    <div class="item navbar-logo">
        <!-- <i class="magic icon" style="font-size: 20px; color: red;"></i> -->
        <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 35px; height: auto;"> -->
        
        <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}">
        &nbsp;&nbsp; -->        
        <a href="{% url 'landing' %}">
            <!-- <span>Companion</span> -->
            <i class="code icon" style="font-size: 24px;"></i>
            <!-- <i class="bullseye icon" style="font-size: 22px;"></i> -->
            Companion
        </a>
    </div>

    <div class="right menu nav-links-parent">

        <a class="item" href="{% url 'playground' %}">
            💻&nbsp;&nbsp;<span style="font-size: 16px;">IDE</span>
        </a>
        <a class="item" href="{% url 'general_cs_tutor' %}">
            💬&nbsp;&nbsp;<span style="font-size: 16px;">Chat</span>
        </a>
        <a class="item" href="{% url 'about' %}">
            ℹ️&nbsp;&nbsp;<span style="font-size: 16px;">About</span>
        </a>        
        <a class="item" href="{% url 'blog' %}">
            ✍️&nbsp;&nbsp;<span style="font-size: 16px;">Blog</span>
        </a>
        <a class="item" href="{% url 'faq' %}">
            ❓&nbsp;&nbsp;<span style="font-size: 16px;">FAQ</span>
        </a>

        <div class="item" style="margin-left: 0px;">
            <!-- <button class="ui basic black button auth_button">
                Signup or Login
            </button> -->

            {% if not anon_user %}
                <button id="user-dashboard-button" class="ui button gradient-button">Visit Your Dashboard</button>
                <!-- <a class="item" href="{% url 'logout' %}">
                    🚪&nbsp;&nbsp;<span style="font-size: 16px;">logout</span>
                </a> -->
            {% else %}
                <button id="signup-login-button" class="ui button gradient-button">Signup or Login</button>
            {% endif %}

            <!-- <button class="ui black basic button landing_auth_button">Signup or Login</button> -->
            <!-- <div class="ui animated black basic button landing_auth_button" tabindex="0" > -->

            <!-- <div class="ui animated black basic button gradient-button" tabindex="0">
                <div class="visible content">
                    Signup or Login
                </div>
                <div class="hidden content">
                    <i class="sign-in icon"></i>
                </div>
            </div> -->

        </div>

    </div>

</div>

<script>
    
    $('#signup-login-button').click(function(){

        // let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/login';
        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/account/signup';
        window.location.replace(new_url);

    });


    $('#user-dashboard-button').click(function(){

        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/dashboard';
        window.location.replace(new_url);

    });

</script>