{% extends 'components/base.html' %}
{% load static %}

{% block content %}

{% include 'components/app_menu.html' %}


<div class="ui two column centered grid" id="parent_grid">
    
    <div class="column">

        <h3 class="ui header" style="padding-bottom: 5px;">
            So, let's learn a bit more about you...
        </h3>

        <div class="desktop-tutor-chat-container" id="general-chat-div">

            <div class="tutor-chat-message">
                So, you want to learn Python right?
                Do you have a specific goal/concept in mind on what in particular you want to learn in Python?
            </div>

            <hr>
            <br/>

            {% if current_conversation_list|length > 0 %}

                {% for ucs_obj in current_conversation_list %}
                            
                    <div class="tutor-chat-message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                    <div class="tutor-chat-message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.model_response_text | safe }}</div>

                {% endfor %}

            {% endif %}

        </div>

        <div class="tutor-chat-input-container">

            <div class="ui form" style="width: 100%;">  
                <div class="field">
                    <textarea rows="2" id="general_tutor_chatInput" class="input-box form-control" placeholder="ask away..."></textarea>
                </div>                    
            </div>
            &nbsp;
            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

            {% if current_conversation_list|length > 0 %}
                <input type="hidden" id="general_cs_chat_parent_obj_id" name="general_cs_chat_parent_obj_id" value="{{ current_conversation_parent_object.id }}">
            {% else %}
                <input type="hidden" id="general_cs_chat_parent_obj_id" name="general_cs_chat_parent_obj_id">
            {% endif %}

        </div>

    </div>
    
</div>


<script>

    

</script>

{% endblock %}

