{% extends 'components/base.html' %}
{% load static %}

{% block content %}

{% include 'components/app_menu.html' %}
{% include 'components/left_side_bar.html' %}

<div class="ui grid tutor_chat_parent_container" style="display: none;">

    <div class="three wide column"></div>

    <div class="eleven wide column" style="margin-left: 5.5%; margin-top: 0.5%;">
        
        <h3 class="ui header tutor_chat_header">
            <!-- &#128227; -->
            <span>&#127922;</span>&nbsp;&nbsp;Chat
            <!-- <img src="{% static 'icons/chat-text-dynamic-color.svg' %}" style="width: 1.45em; margin-right: 5px;">Chat -->
        </h3>
        
        <span class="tutor_helper_span">
            Visit our <a href="{% url 'playground' %}">code editor</a>, if you would like to run your code and get help from the AI, as needed.
            <a href="{% url 'login' %}">Signup</a> to save your conversations.
        </span>

        <div class="desktop-tutor-chat-container" id="general-chat-div">

            <div class="tutor-chat-message">

                <strong>
                    Welcome! &nbsp; &#128588&nbsp;
                    I will help create a new course, personalized just for you, given your goals and background.
                </strong>
                <br/><br/>
                For me to do so, I need to start by learning more about you and what you want to learn.
                <br/><br/>
                So, what is it that you want to learn about or what specific goal do you have in mind?

            </div>

            <hr>
            <br/>

            {% if current_conversation_list|length > 0 %}

                {% for ucs_obj in current_conversation_list %}
                            
                    <div class="tutor-chat-message" style="white-space: pre-line;"><b>You: </b>{{ ucs_obj.question | safe }}</div>
                    <div class="tutor-chat-message" style="white-space: pre-line;"><b>GPT-4: </b>{{ ucs_obj.model_response_text | safe }}</div>

                {% endfor %}

            {% endif %}

        </div>

        <div class="tutor-chat-input-container">

            <div class="ui form" style="width: 100%;">  
                <div class="field">
                    <textarea rows="2" id="general_tutor_chatInput" class="input-box form-control" placeholder="ask away..."></textarea>
                </div>                    
            </div>
            &nbsp;
            <button id="sendButton" class="ui primary button disabled send-button">Send</button>
            <button class="ui primary loading button" id="primary_loading_button" style="display: none;">Loading</button>

            {% if current_conversation_list|length > 0 %}
                <input type="hidden" id="general_cs_chat_parent_obj_id" name="general_cs_chat_parent_obj_id" value="{{ course_gen_bg_parent_obj.id }}">
            {% else %}
                <input type="hidden" id="general_cs_chat_parent_obj_id" name="general_cs_chat_parent_obj_id">
            {% endif %}

        </div>

        <span style="font-size: 12px; color: gray; padding-bottom: 20px;">
            Answer Response usually takes 15-30 seconds. (this will get better soon...)
        </span>

    </div>

</div>



<script>

    // Global Vars
    const custom_user_obj = '{{ custom_user_obj }}';
    const custom_user_obj_id = '{{ custom_user_obj_id }}';
    const is_anon_user =  '{{ anon_user }}';
    
    // Chat Functionality
    const chat = document.getElementById("general-chat-div");
    const chatInput = document.getElementById("general_tutor_chatInput");
    const sendButton = document.getElementById("sendButton");

    sendButton.addEventListener("click", sendMessage);
    chatInput.addEventListener("keydown", (event) => {
    
        if (event.keyCode == 13 && !event.shiftKey) {
            event.preventDefault();
            sendMessage();
        }

    });


    $("#general_tutor_chatInput").on('keyup', function(event) {
        
        var currentString = $("#general_tutor_chatInput").val()
        if (currentString.length > 0){
            $('#sendButton').removeClass('disabled');
        } else {
            $('#sendButton').addClass('disabled');
        }
        
    });


    function sendMessage(){

        const messageText = chatInput.value.trim();

        if (messageText !== "") {

            $('#general_tutor_chatInput').prop('disabled', true);

            $('#sendButton').hide();
            $('#primary_loading_button').show();

            const message = document.createElement("div");
            message.className = "message";
            message.innerHTML = "<b>You:</b> " + messageText;
            message.style.whiteSpace = 'pre-wrap'
            chat.appendChild(message);

            chat.scrollTop = chat.scrollHeight;
            
            chatInput.value = "";

            let course_gen_bg_parent_obj_id = $('#general_cs_chat_parent_obj_id').val();

            let d = {
                'custom_user_object_id': custom_user_obj_id,
                'message': messageText,
                'bg_parent_obj_id': course_gen_bg_parent_obj_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            console.log('data:', d);
            // TODO: 
                // concentrate more and get this complete for anon

            $.ajax({
                type: 'POST',
                url: "{% url 'handle_course_generation_background_message' %}",
                dataType: "json",
                data: d,
                success: function (response) {

                    console.log('sb-response:', response)

                    if (response['final_message'] == true){

                        let new_course_obj_id = response['new_course_object_id'];
                        let new_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/course-gen/course-outline/' + new_course_obj_id;
                        window.location.replace(new_url);

                    } else {

                        var model_response_dict = response['response'];
                        console.log('Response Dict:', model_response_dict)

                        // var model_response_message = model_response_dict['response'];
                        // model_response_message = model_response_message.replaceAll('\n', '<br/>');
                        var model_response_message_text = model_response_dict['response']['response'];
                        console.log('Response:', model_response_message_text)

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "message";
                        responseMessage.innerHTML = "<b>GPT-4:</b> " + model_response_message_text;
                        // responseMessage.innerText = "<b>GPT-4:</b> " + model_response_message;
                        chat.appendChild(responseMessage);
                        
                        chat.scrollTop = chat.scrollHeight;

                        $('#general_tutor_chatInput').prop('disabled', false);
                        $('#sendButton').show();
                        $('#primary_loading_button').hide();

                        let parent_chat_obj_id = model_response_dict['course_gen_parent_obj_id'];

                        // var final_question_st = "Question: " + messageText
                        // var final_response_st = "Response: " + model_response_message

                        $('#general_cs_chat_parent_obj_id').val(parent_chat_obj_id);
                                                
                        let urlParams = new URLSearchParams(window.location.search);
                        let current_url_tchid_param = urlParams.get('pgid');
                        
                        if (current_url_tchid_param === null){
                            
                            let current_cv_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/cs-tutor?tchid=' + parent_chat_obj_id;
                            console.log('current_cv_url:', current_cv_url);

                            let href_st = '<a href="' + current_cv_url + '">Current Conversation</a>';
                            $('.user_past_conversation_list').prepend('<li>' + href_st + '</li>');

                        };

                        var url = new URL(window.location.href);
                        url.searchParams.set('pgid', parent_chat_obj_id);
                        window.history.replaceState(null, null, url);

                    }

                },

                error: function (response) {}
                
            });

        }

    };


</script>


{% endblock %}


